Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Completely skip creds validation when validate is false
  datadog/provider.go
  docs/index.md
Owners: @DataDog/integrations-tools-and-libraries

Completely skip creds validation when validate is false (#641)
  datadog/provider.go
  docs/index.md
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add support for steps for browser tests (#638)
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix documentation format for nested arguments
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix synthetics documentation indentation
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix documentation format for nested arguments (#643)
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Bump go version all builders
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

update documentation for synthetic retry syntax
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update documentation URLs to point to the new repo location
  README.md
Owners: @DataDog/integrations-tools-and-libraries

update documentation for synthetic retry syntax (#645)
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update documentation URLs to point to the new repo location (#646)
  README.md
Owners: @DataDog/integrations-tools-and-libraries

Bump go version all builders (#644)
  .github/workflows/release.yml
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Add some more checks, allow disabling validation
  datadog/resource_datadog_monitor.go
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Be a bit more creative in validate use
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Upgrade SDK version
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Always submit a list for synthetics tags
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Always suppress from diff
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fix comment
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Always submit a list for synthetics tags (#648)
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Enable prettier
  .github/workflows/test.yml
  .pre-commit-config.yaml
  .prettierignore
Owners: @DataDog/integrations-tools-and-libraries

Manual changes
  docs/resources/dashboard.md
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app

pre-commit
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

fix whitespaces
  docs/data-sources/monitor.md
  docs/resources/dashboard.md
  docs/resources/integration_aws.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/dashboards, @DataDog/cloud-integrations

use : instead of -
  docs/data-sources/monitor.md
  docs/index.md
  docs/resources/dashboard.md
  docs/resources/dashboard_list.md
  docs/resources/downtime.md
  docs/resources/integration_aws.md
  docs/resources/integration_aws_lambda_arn.md
  docs/resources/integration_aws_log_collection.md
  docs/resources/integration_azure.md
  docs/resources/integration_gcp.md
  docs/resources/integration_pagerduty.md
  docs/resources/integration_pagerduty_service_object.md
  docs/resources/logs_archive.md
  docs/resources/logs_custom_pipeline.md
  docs/resources/logs_index.md
  docs/resources/logs_index_order.md
  docs/resources/logs_integration_pipeline.md
  docs/resources/logs_pipeline_order.md
  docs/resources/metric_metadata.md
  docs/resources/monitor.md
  docs/resources/screenboard.md
  docs/resources/service_level_objective.md
  docs/resources/synthetics.md
  docs/resources/timeboard.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

updated dashboard
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

reformatted
  .azure-pipelines/all.yml
  .github/ISSUE_TEMPLATE.md
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/data-sources/ip_ranges.md
  docs/data-sources/monitor.md
  docs/data-sources/synthetics_locations.md
  docs/index.md
  docs/resources/dashboard_list.md
  docs/resources/downtime.md
  docs/resources/integration_aws.md
  docs/resources/integration_aws_lambda_arn.md
  docs/resources/integration_aws_log_collection.md
  docs/resources/integration_azure.md
  docs/resources/integration_gcp.md
  docs/resources/integration_pagerduty.md
  docs/resources/integration_pagerduty_service_object.md
  docs/resources/logs_archive.md
  docs/resources/logs_custom_pipeline.md
  docs/resources/logs_index.md
  docs/resources/logs_index_order.md
  docs/resources/logs_integration_pipeline.md
  docs/resources/logs_pipeline_order.md
  docs/resources/metric_metadata.md
  docs/resources/monitor.md
  docs/resources/screenboard.md
  docs/resources/service_level_objective.md
  docs/resources/synthetics.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

use : instead of -
  CHANGELOG.md
  docs/data-sources/ip_ranges.md
  docs/data-sources/monitor.md
  docs/data-sources/synthetics_locations.md
  docs/resources/downtime.md
  docs/resources/integration_aws.md
  docs/resources/integration_gcp.md
  docs/resources/logs_pipeline_order.md
  docs/resources/monitor.md
  docs/resources/screenboard.md
  docs/resources/service_level_objective.md
  docs/resources/synthetics.md
  docs/resources/timeboard.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/logs-intake, @DataDog/dashboards, @DataDog/synthetics-app

remove extra space before :
  CHANGELOG.md
  docs/data-sources/ip_ranges.md
  docs/data-sources/monitor.md
  docs/data-sources/synthetics_locations.md
  docs/resources/downtime.md
  docs/resources/integration_aws.md
  docs/resources/integration_gcp.md
  docs/resources/logs_pipeline_order.md
  docs/resources/monitor.md
  docs/resources/screenboard.md
  docs/resources/service_level_objective.md
  docs/resources/synthetics.md
  docs/resources/timeboard.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/logs-intake, @DataDog/dashboards, @DataDog/synthetics-app

Prettier (#603)
  .azure-pipelines/all.yml
  .github/ISSUE_TEMPLATE.md
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  .prettierignore
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/data-sources/ip_ranges.md
  docs/data-sources/monitor.md
  docs/data-sources/synthetics_locations.md
  docs/index.md
  docs/resources/dashboard.md
  docs/resources/dashboard_list.md
  docs/resources/downtime.md
  docs/resources/integration_aws.md
  docs/resources/integration_aws_lambda_arn.md
  docs/resources/integration_aws_log_collection.md
  docs/resources/integration_azure.md
  docs/resources/integration_gcp.md
  docs/resources/integration_pagerduty.md
  docs/resources/integration_pagerduty_service_object.md
  docs/resources/logs_archive.md
  docs/resources/logs_custom_pipeline.md
  docs/resources/logs_index.md
  docs/resources/logs_index_order.md
  docs/resources/logs_integration_pipeline.md
  docs/resources/logs_pipeline_order.md
  docs/resources/metric_metadata.md
  docs/resources/monitor.md
  docs/resources/screenboard.md
  docs/resources/service_level_objective.md
  docs/resources/synthetics.md
  docs/resources/timeboard.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Add to dashboard list
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update the list
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Refactor to reduce duplication
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add test
  datadog/cassettes/TestDatadogDashListInDashboard.freeze
  datadog/cassettes/TestDatadogDashListInDashboard.yaml
  datadog/resource_datadog_dashboard_list_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Doc
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix dash type
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add a dashboard attribute to add to a dashboard list (#654)
  datadog/cassettes/TestDatadogDashListInDashboard.freeze
  datadog/cassettes/TestDatadogDashListInDashboard.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add a datasource for dashboard lists
  datadog/cassettes/TestAccDatadogDashboardListDatasource.freeze
  datadog/cassettes/TestAccDatadogDashboardListDatasource.yaml
  datadog/data_source_datadog_dashboard_list.go
  datadog/data_source_datadog_dashboard_list_test.go
  datadog/provider.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add doc
  docs/data-sources/dashboard_list.md
Owners: @DataDog/integrations-tools-and-libraries

Update docs/data-sources/dashboard_list.md
  docs/data-sources/dashboard_list.md
Owners: @DataDog/integrations-tools-and-libraries

Add a datasource for dashboard lists (#657)
  datadog/cassettes/TestAccDatadogDashboardListDatasource.freeze
  datadog/cassettes/TestAccDatadogDashboardListDatasource.yaml
  datadog/data_source_datadog_dashboard_list.go
  datadog/data_source_datadog_dashboard_list_test.go
  datadog/provider.go
  datadog/provider_test.go
  docs/data-sources/dashboard_list.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
