Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

add test
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update test
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

remove title from test
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add error behavior in the description of the attribute
  docs/resources/logs_custom_pipeline.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

change wrong target_format example
  docs/resources/logs_custom_pipeline.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

better English spelling
  docs/resources/logs_custom_pipeline.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

add a missing "g"
  docs/resources/logs_custom_pipeline.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

"make fmt" to update the provider
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Add `target_format` property to the Logs attribute remapper (#682)
  datadog/cassettes/TestAccDatadogLogsPipeline_basic.freeze
  datadog/cassettes/TestAccDatadogLogsPipeline_basic.yaml
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  docs/resources/logs_custom_pipeline.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

apm_stats_query is a TypeList
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

fix terraformQuery.columns type
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

[Synthetics] Add support for global variables for synthetics (#691)
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

update a wrong link in pipeline order doc (#693)
  docs/resources/logs_pipeline_order.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update do (remove `depends_on`)
  docs/resources/logs_archive_order.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

rename archives to archive_ids
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_archive_order_test.go
  docs/resources/logs_archive_order.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

remove name attribute
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_archive_order_test.go
  docs/resources/logs_archive_order.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

fix enum typing
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add command for versionless building
  GNUmakefile
  README.md
Owners: @DataDog/integrations-tools-and-libraries

Fix pre-commit failures
  README.md
Owners: @DataDog/integrations-tools-and-libraries

Use local prettier hook
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

keep args
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

add tests for custom_links
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_change_test.go
  datadog/resource_datadog_dashboard_heatmap_test.go
  datadog/resource_datadog_dashboard_hostmap_test.go
  datadog/resource_datadog_dashboard_query_table_test.go
  datadog/resource_datadog_dashboard_query_value_test.go
  datadog/resource_datadog_dashboard_scatterplot_test.go
  datadog/resource_datadog_dashboard_service_map_test.go
  datadog/resource_datadog_dashboard_timeseries_test.go
  datadog/resource_datadog_dashboard_top_list_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add support for widget custom links
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Re-record timeseries and table widget cassettes
  datadog/cassettes/TestAccDatadogDashboardQueryTable.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseries.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

Re-record cassettes for other widgets
  datadog/cassettes/TestAccDatadogDashboardChange.freeze
  datadog/cassettes/TestAccDatadogDashboardChange.yaml
  datadog/cassettes/TestAccDatadogDashboardChange_import.freeze
  datadog/cassettes/TestAccDatadogDashboardChange_import.yaml
  datadog/cassettes/TestAccDatadogDashboardHeatMap.freeze
  datadog/cassettes/TestAccDatadogDashboardHeatMap.yaml
  datadog/cassettes/TestAccDatadogDashboardHeatMap_import.freeze
  datadog/cassettes/TestAccDatadogDashboardHeatMap_import.yaml
  datadog/cassettes/TestAccDatadogDashboardHostMap.freeze
  datadog/cassettes/TestAccDatadogDashboardHostMap.yaml
  datadog/cassettes/TestAccDatadogDashboardHostMap_import.freeze
  datadog/cassettes/TestAccDatadogDashboardHostMap_import.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryTable.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryValue.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryValue.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryValue_import.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryValue_import.yaml
  datadog/cassettes/TestAccDatadogDashboardScatterplot.freeze
  datadog/cassettes/TestAccDatadogDashboardScatterplot.yaml
  datadog/cassettes/TestAccDatadogDashboardScatterplot_import.freeze
  datadog/cassettes/TestAccDatadogDashboardScatterplot_import.yaml
  datadog/cassettes/TestAccDatadogDashboardServiceMap.freeze
  datadog/cassettes/TestAccDatadogDashboardServiceMap.yaml
  datadog/cassettes/TestAccDatadogDashboardServiceMap_import.freeze
  datadog/cassettes/TestAccDatadogDashboardServiceMap_import.yaml
  datadog/cassettes/TestAccDatadogDashboardTopList.freeze
  datadog/cassettes/TestAccDatadogDashboardTopList.yaml
  datadog/cassettes/TestAccDatadogDashboardTopList_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTopList_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add custom_link to dashboard docs
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

RF: rename iteratee
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

RF: require custom_link link property
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

RF: redact ids
  datadog/resource_datadog_dashboard_change_test.go
  datadog/resource_datadog_dashboard_heatmap_test.go
  datadog/resource_datadog_dashboard_hostmap_test.go
  datadog/resource_datadog_dashboard_query_table_test.go
  datadog/resource_datadog_dashboard_query_value_test.go
  datadog/resource_datadog_dashboard_scatterplot_test.go
  datadog/resource_datadog_dashboard_service_map_test.go
  datadog/resource_datadog_dashboard_timeseries_test.go
  datadog/resource_datadog_dashboard_top_list_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update go client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_target_format_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_create_request_attributes.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Document dual y-axis attributes.
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update go client (#702)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_target_format_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_create_request_attributes.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Fix malformed link
  docs/resources/integration_azure.md
Owners: @DataDog/integrations-tools-and-libraries

Fix malformed link (#704)
  docs/resources/integration_azure.md
Owners: @DataDog/integrations-tools-and-libraries

create buildDatadogArchiveOrderCreateReq function
  datadog/resource_datadog_logs_archive_order.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update the way to creat a logs_archive_order
  datadog/resource_datadog_logs_archive_order.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

change the type attribute from required to computed
  datadog/resource_datadog_logs_archive_order.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

add tests for logs_archive_order
  datadog/provider_test.go
  datadog/resource_datadog_logs_archive_order_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update doc
  docs/resources/logs_archive_order.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update cassette
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.yaml
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
