Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

RF: wrong request index
  datadog/resource_datadog_dashboard_timeseries_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Re-record cassettes
  datadog/cassettes/TestAccDatadogDashboardTimeseries.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.yaml
  datadog/resource_datadog_dashboard_timeseries_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add target_format to attribute remapper
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  docs/resources/logs_custom_pipeline.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Update go client to get proper target format
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_logs_attribute_remapper.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

update vendor
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_logs_attribute_remapper.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

[VIZZ-953] Add timeseries dual y-axis to provider (#685)
  datadog/cassettes/TestAccDatadogDashboardTimeseries.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_timeseries_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update go client to get proper target format (#687)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_logs_attribute_remapper.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

remove default value
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update test - add a new attribute remapper
  datadog/resource_datadog_logs_custom_pipeline_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update documentation - remove default value
  docs/resources/logs_custom_pipeline.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

remove useless whitespace
  docs/resources/logs_custom_pipeline.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update String to string -> target_format have to be lowercase
  datadog/resource_datadog_logs_custom_pipeline_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update column interface parsing
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add forgotten remapper
  datadog/resource_datadog_logs_custom_pipeline_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Add helpers for widget custom_link
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add custom_links to timeseries widget def
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add tests for timeseries widget
  datadog/cassettes/TestAccDatadogDashboardTimeseries.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.yaml
  datadog/resource_datadog_dashboard_timeseries_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add test
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add custom_links to change widget def
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add tests for change widget
  datadog/cassettes/TestAccDatadogDashboardChange.freeze
  datadog/cassettes/TestAccDatadogDashboardChange.yaml
  datadog/cassettes/TestAccDatadogDashboardChange_import.freeze
  datadog/cassettes/TestAccDatadogDashboardChange_import.yaml
  datadog/resource_datadog_dashboard_change_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add custom_links to heatmap widget def
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add tests for heatmap widget
  datadog/cassettes/TestAccDatadogDashboardHeatMap.freeze
  datadog/cassettes/TestAccDatadogDashboardHeatMap.yaml
  datadog/cassettes/TestAccDatadogDashboardHeatMap_import.freeze
  datadog/cassettes/TestAccDatadogDashboardHeatMap_import.yaml
  datadog/resource_datadog_dashboard_heatmap_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add custom_links to hostmap widget def
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add tests for hostmap widget
  datadog/cassettes/TestAccDatadogDashboardHostMap.freeze
  datadog/cassettes/TestAccDatadogDashboardHostMap.yaml
  datadog/cassettes/TestAccDatadogDashboardHostMap_import.freeze
  datadog/cassettes/TestAccDatadogDashboardHostMap_import.yaml
  datadog/resource_datadog_dashboard_hostmap_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update test
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update go client to remove default value
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_table_widget_definition.go
  vendor/github.com/zorkian/go-datadog-api/client.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

add new condition to avoid empty `target_format`
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update layout
  datadog/resource_datadog_logs_custom_pipeline_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

add getter for target_format
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update logsPipeline cassette
  datadog/cassettes/TestAccDatadogLogsPipeline_basic.freeze
  datadog/cassettes/TestAccDatadogLogsPipeline_basic.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update go client to remove default value (#690)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_table_widget_definition.go
  vendor/github.com/zorkian/go-datadog-api/client.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Support global variables for synthetics
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

add archive_reorder to provider
  datadog/provider.go
  datadog/resource_datadog_logs_archive_order.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

add config for test
  datadog/resource_datadog_logs_archive_order_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

create a doc for archive order
  docs/resources/logs_archive_order.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update a wrong link in pipeline order doc
  docs/resources/logs_pipeline_order.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Rename variables to variable
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add ValidateFunc to variable.name
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update desciption about variable.id
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

update column interface parsing
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
