Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

update default name for import in doc
  docs/resources/logs_archive_order.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

add rehydration_tags in logs-archives
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_test.go
  docs/resources/logs_archive.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update cassette
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
Owners: @DataDog/integrations-tools-and-libraries

Use locally defined prettier pre commit hook config (#699)
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update GNUmakefile
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Add command for versionless building (#698)
  GNUmakefile
  README.md
Owners: @DataDog/integrations-tools-and-libraries

move ParallelTest to Test
  datadog/resource_datadog_logs_archive_order_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Fix typo
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

[Logs] add rehydration_tags attribute in archives (#705)
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_test.go
  docs/resources/logs_archive.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Don't ignore options diff in synthetics resource
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

add matcher test
  datadog/resource_datadog_logs_archive_order_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update cassette
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Logs] add the new endpoint to reorder the logs archives (#694)
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.yaml
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_archive_order_test.go
  docs/resources/logs_archive_order.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Fix logs archive order tests
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.yaml
  datadog/resource_datadog_logs_archive_order_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

change error throw to println
  datadog/resource_datadog_logs_archive_order_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Fix logs archive order tests (#708)
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.yaml
  datadog/resource_datadog_logs_archive_order_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Correct the spelling of dashboard in a private function
  datadog/data_source_datadog_dashboard_list.go
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Document dual y-axis attributes. (#703)
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Correct the spelling of dashboard in a private function (#709)
  datadog/data_source_datadog_dashboard_list.go
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update go client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_apm_stats_query_column_type.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Update go client (#710)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_apm_stats_query_column_type.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

RF: properly build cell_display_mode
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add has_search_bar to table widget definition
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add cell_display_mode to table widget request
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix schema extraction, record tests
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Re-record cassettes
  datadog/cassettes/TestAccDatadogDashboardQueryTable.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add tests for cell_display_mode
  datadog/resource_datadog_dashboard_query_table_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add tests for has_search_bar
  datadog/resource_datadog_dashboard_query_table_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update docs
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

More cassettes
  datadog/cassettes/TestAccDatadogDashboardQueryTable.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update table widget definition and request (#686)
  datadog/cassettes/TestAccDatadogDashboardQueryTable.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_query_table_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Change synthetics tag attribute to optional
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

update docs and test case
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add a test
  datadog/cassettes/TestAccDatadogSyntheticsTCPLegacyOptionsTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPLegacyOptionsTest_Basic.yaml
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update go client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_request_certificate.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_request_certificate_item.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/utils.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_aggregate_sort.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/utils.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add support for dns server
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add support for client certificate
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update an existing test instead
  datadog/cassettes/TestAccDatadogSyntheticsTCPLegacyOptionsTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPLegacyOptionsTest_Basic.yaml
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Don't ignore options diff in synthetics resource (#707)
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

add support for eu ip ranges and per service server configuration
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries
