Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-backend, @DataDog/logs-app, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/metrics-aggregation, @DataDog/security-monitoring, @DataDog/synthetics-app

handle 400 returned when resource does not exist
  datadog/resource_datadog_webhook_custom_variable.go
  datadog/tests/resource_datadog_webhook_custom_variable_test.go
Owners: @DataDog/integrations-tools-and-libraries

[dashboards] Implement support for APM Dependency Stats query in Query Table (#1199)
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.yaml
  datadog/tests/resource_datadog_dashboard_query_table_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

Document Terraform minimum version
  README.md
  docs/index.md
  templates/index.md.tmpl
Owners: @DataDog/integrations-tools-and-libraries

FIx wording
  docs/index.md
  templates/index.md.tmpl
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add missing follow redirects option for multi step requests (#1194)
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

Document Terraform minimum version (#1210)
  README.md
  docs/index.md
  templates/index.md.tmpl
Owners: @DataDog/integrations-tools-and-libraries

[dashboards] Implement support for APM Resource Stats query in Query Table (#1200)
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.yaml
  datadog/tests/resource_datadog_dashboard_query_table_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

datadog_synthetics_test: device_ids is required
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

Add the list-stream widget to dashboards
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

fix fmt and typos
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update datadog-api-client-go to latest
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

fix schema
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

typo
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

fix typo
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

fixup the request format
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

fixup more things
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

wip
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

code organization
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

organize the code
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

fix merge typo
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

apply code review suggestions and update 404 response handling
  datadog/resource_datadog_webhook.go
  datadog/tests/resource_datadog_webhook_test.go
  docs/resources/webhook.md
  examples/resources/datadog_webhook/import.sh
Owners: @DataDog/integrations-tools-and-libraries

update cassettes
  datadog/tests/cassettes/TestAccDatadogWebhook_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogWebhook_Basic.yaml
Owners: @DataDog/integrations-tools-and-libraries

apply code review suggestions and update 404 response handling
  datadog/resource_datadog_webhook_custom_variable.go
  datadog/tests/resource_datadog_webhook_custom_variable_test.go
  examples/resources/datadog_webhook_custom_variable/import.sh
Owners: @DataDog/integrations-tools-and-libraries

update cassettes
  datadog/tests/cassettes/TestAccDatadogWebhookCustomVariable_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogWebhookCustomVariable_Basic.yaml
Owners: @DataDog/integrations-tools-and-libraries

make docs
  docs/resources/webhook_custom_variable.md
Owners: @DataDog/integrations-tools-and-libraries

update naming
  docs/resources/webhook_custom_variable.md
  examples/resources/datadog_webhook_custom_variable/import.sh
  examples/resources/datadog_webhook_custom_variable/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

datadog_synthetics_test: Improve docs for required variables
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

fix missing attributes + doc
  datadog/resource_datadog_dashboard.go
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_dashboard_list_stream_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

Rebuild docs
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

datadog_synthetics_test: device_ids is required for browser type only (#1216)
  datadog/resource_datadog_synthetics_test_.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

mark value as sensitive by default
  datadog/resource_datadog_webhook_custom_variable.go
  docs/resources/webhook_custom_variable.md
Owners: @DataDog/integrations-tools-and-libraries

fmt
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix synthetics browser test `upload-files` step
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix synthetics browser test `upload-files` step (#1219)
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Document how to ind pipeline ID for import
  docs/resources/logs_custom_pipeline.md
  docs/resources/logs_integration_pipeline.md
  examples/resources/datadog_logs_custom_pipeline/import.sh
  examples/resources/datadog_logs_integration_pipeline/import.sh
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-backend, @DataDog/logs-app, @DataDog/documentation

Add Webhook resource (#1205)
  datadog/provider.go
  datadog/resource_datadog_webhook.go
  datadog/tests/cassettes/TestAccDatadogWebhook_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogWebhook_Basic.yaml
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_webhook_test.go
  docs/resources/webhook.md
  examples/resources/datadog_webhook/import.sh
  examples/resources/datadog_webhook/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

make fmt
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Document how to find pipeline ID for import (#1220)
  docs/resources/logs_custom_pipeline.md
  docs/resources/logs_integration_pipeline.md
  examples/resources/datadog_logs_custom_pipeline/import.sh
  examples/resources/datadog_logs_integration_pipeline/import.sh
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-backend, @DataDog/logs-app, @DataDog/documentation

Add Webhook Custom Variable resource (#1206)
  datadog/provider.go
  datadog/resource_datadog_webhook_custom_variable.go
  datadog/tests/cassettes/TestAccDatadogWebhookCustomVariable_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogWebhookCustomVariable_Basic.yaml
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_webhook_custom_variable_test.go
  docs/resources/webhook_custom_variable.md
  examples/resources/datadog_webhook_custom_variable/import.sh
  examples/resources/datadog_webhook_custom_variable/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

record
  datadog/tests/cassettes/TestAccDatadogIntegrationGCP.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationGCP.yaml
  datadog/tests/cassettes/TestAccDatadogLogsArchiveGCS_basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations @DataDog/documentation
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app @DataDog/documentation
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation @DataDog/documentation
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*security_monitoring*             @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring
docs/data-sources/security_monitoring*    @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
docs/resources/security_monitoring*       @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_synthetics*              @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app @DataDog/documentation
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation
