Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

Add Datadog V2 API client
  datadog/provider.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update comments in provider_test.go file
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update comments and code format
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Append v1 to Datadog v1 API client and config. Update error fields
  datadog/provider.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

Use gotestsum
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Update GNUmakefile
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Add logic to handle custom hosts provided to terraform
  datadog/provider.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix grammer
  datadog/provider.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

update comment grammer
  datadog/provider.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

update comments
  datadog/provider.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

reformat provider_test.go file for better readibility
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

remove unnecessary case checks when custom api_url is set
  datadog/provider.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

update dashboard list resource to utlize Datadog GO client
  datadog/resource_datadog_dashboard_list.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Unset the GOFLAGs while getting test dep
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Don't pin version since not using gomodules to get test dep
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

update dashlist test to datadog go client
  datadog/cassettes/TestDatadogDashListImport.yaml
  datadog/resource_datadog_dashboard_list_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update downtimes resourze to utilize Datadog Go client
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

handle case where nil is returned by the Datadog api for the downtime
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Updates cassettes and tests
  datadog/cassettes/TestAccDatadogDowntimeDates.yaml
  datadog/cassettes/TestAccDatadogDowntime_Basic.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicMultiScope.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicNoRecurrence.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicUntilDateRecurrence.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicUntilOccurrencesRecurrence.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitor.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitor.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitorTags.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitorTags.yaml
  datadog/cassettes/TestAccDatadogDowntime_TrimWhitespace.yaml
  datadog/cassettes/TestAccDatadogDowntime_Updated.yaml
  datadog/cassettes/TestAccDatadogDowntime_WeekDayRecurring.yaml
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update dashboard resource to utilize Datadog GO client
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update test file to test for logs widget indexes
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update tests and fix failed tests
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

re-record cassettes
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
Owners: @DataDog/integrations-tools-and-libraries

update aws integration to utilize datadog Go client
  datadog/resource_datadog_integration_aws.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

update dashboard test to utilize Datadog go client and record cassettes
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update GCP resource to utilize Datadog GO client
  datadog/cassettes/TestAccDatadogIntegrationGCP.yaml
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_gcp_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

remake cassettes with proper api and app keys
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
Owners: @DataDog/integrations-tools-and-libraries

update pager duty integration to utilize Datadog go client
  datadog/resource_datadog_integration_pagerduty.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

update PagerDutySO resource to utilize Datadog GO client and rerecord cassettes
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.yaml
  datadog/resource_datadog_integration_pagerduty_service_object.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Utilize create method in Go Client for Pagerduty update methods
  datadog/resource_datadog_integration_pagerduty.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

update cassettes
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.yaml
Owners: @DataDog/integrations-tools-and-libraries

update cassettes
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update logs index resource to utilize Go client
  datadog/provider.go
  datadog/resource_datadog_logs_index.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Update logs index order to utilize Datadog go client
  datadog/provider.go
  datadog/resource_datadog_logs_index_order.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update resource_datadog_logs_integration_pipeline to use Datadog GO client
  datadog/resource_datadog_logs_integration_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update datadog_logs_pipeline_order to use Datadog GO client
  datadog/resource_datadog_logs_pipeline_order.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update resource metric_metadata to utilize Datadog go client and update cassettes
  datadog/cassettes/TestAccDatadogMetricMetadata_Basic.freeze
  datadog/cassettes/TestAccDatadogMetricMetadata_Basic.yaml
  datadog/cassettes/TestAccDatadogMetricMetadata_Updated.freeze
  datadog/cassettes/TestAccDatadogMetricMetadata_Updated.yaml
  datadog/resource_datadog_metric_metadata.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/metrics-intake, @DataDog/metrics-query

update monitor resource to utilize Datadog Go client
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

remove testing log line
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

update silenced monitors to end at current timestamp
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app
