Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Store dashboard widget IDs (#815)
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

User ForceNew and TypeList
  datadog/resource_datadog_logs_metric.go
  datadog/resource_datadog_logs_metric_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

[Synthetics] Add support for variables from test
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_Basic.yaml
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_global_variable_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Documentation for global variables from test
  docs/resources/synthetics_global_variable.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add field for variables from test
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_Basic.yaml
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_global_variable_test.go
  docs/resources/synthetics_global_variable.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix documentation
  docs/resources/synthetics_global_variable.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add descriptions and fix indentation
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_global_variable_test.go
Owners: @DataDog/integrations-tools-and-libraries

Provide alternative to TypeMap complex fields for monitor resource and datasource
  datadog/data_source_datadog_monitor.go
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

document new alternative
  docs/data-sources/monitor.md
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

test alternative
  datadog/data_source_datadog_monitor_test.go
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

rerecord
  datadog/cassettes/TestAccDatadogMonitorDatasource.freeze
  datadog/cassettes/TestAccDatadogMonitorDatasource.yaml
Owners: @DataDog/integrations-tools-and-libraries

"pretty"
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

[Synthetics] Fix linting
  datadog/resource_datadog_synthetics_global_variable.go
Owners: @DataDog/integrations-tools-and-libraries

use validator
  datadog/resource_datadog_monitor.go
  datadog/validators.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add deprecation field to User -> access_role
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

fix import
  datadog/import_datadog_monitor_test.go
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add deprecation field to User -> access_role (#834)
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Regenerate user since we added deprecation notice
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

[Synthetics] Do not store content of client certificate in state
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Generate index and user docs from tfplugindocs (#821)
  .prettierignore
  datadog/provider.go
  docs/index.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

[Synthetics] Add support for global variables from test (#831)
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_Basic.yaml
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_global_variable_test.go
  docs/resources/synthetics_global_variable.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Provide alternative to TypeMap complex fields for monitor resource and datasource (#833)
  datadog/cassettes/TestAccDatadogMonitorDatasource.freeze
  datadog/cassettes/TestAccDatadogMonitorDatasource.yaml
  datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_monitor_test.go
  datadog/import_datadog_monitor_test.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_monitor_test.go
  datadog/validators.go
  docs/data-sources/monitor.md
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update .prettierignore
  .prettierignore
Owners: @DataDog/integrations-tools-and-libraries

Fix formatting
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Use ValidateFunc for aggregation_type
  datadog/resource_datadog_logs_metric.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Improve error handling
  datadog/resource_datadog_logs_metric.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Update example monitor resource
  examples/resources/datadog_monitor/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

Add tfplugindocs scaffolding and generate monitor docs
  docs/data-sources/monitor.md
  docs/resources/monitor.md
  docs/resources/user.md
  examples/data-sources/datadog_monitor/data-source.tf
  examples/provider/provider.tf
  examples/resources/datadog_monitor/import.sh
  examples/resources/datadog_monitor/resource.tf
  examples/resources/datadog_user/import.sh
  examples/resources/datadog_user/resource.tf
  templates/index.md.tmpl
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/team-aaa

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
