Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

Update go client (#813)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_key_management.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_create_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_create_data.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_create_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_relationships.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_response_included_item.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_update_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_update_data.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_update_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_keys_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_full_application_key.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_full_application_key_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_list_application_keys_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_partial_application_key.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_partial_application_key_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Add ability to send user invitations
  datadog/resource_datadog_user.go
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Add test
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Record
  datadog/cassettes/TestAccDatadogUser_Invitation.freeze
  datadog/cassettes/TestAccDatadogUser_Invitation.yaml
  datadog/cassettes/TestAccDatadogUser_NoInvitation.freeze
  datadog/cassettes/TestAccDatadogUser_NoInvitation.yaml
Owners: @DataDog/integrations-tools-and-libraries

description wording
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

document user_invitation_id
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

record other tests too
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/cassettes/TestAccDatadogUser_Invitation.freeze
  datadog/cassettes/TestAccDatadogUser_Invitation.yaml
  datadog/cassettes/TestAccDatadogUser_NoInvitation.freeze
  datadog/cassettes/TestAccDatadogUser_NoInvitation.yaml
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.freeze
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.yaml
  datadog/cassettes/TestAccDatadogUser_UpdateRole.freeze
  datadog/cassettes/TestAccDatadogUser_UpdateRole.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

readd assertion
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

ignore attribute in import
  datadog/import_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

record
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Fix cassette
  datadog/cassettes/TestAccDatadogMonitor_ComposeWithSyntheticsTest.freeze
  datadog/cassettes/TestAccDatadogMonitor_ComposeWithSyntheticsTest.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add ability to send user invitations (#814)
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/cassettes/TestAccDatadogUser_Invitation.freeze
  datadog/cassettes/TestAccDatadogUser_Invitation.yaml
  datadog/cassettes/TestAccDatadogUser_NoInvitation.freeze
  datadog/cassettes/TestAccDatadogUser_NoInvitation.yaml
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.freeze
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.yaml
  datadog/cassettes/TestAccDatadogUser_UpdateRole.freeze
  datadog/cassettes/TestAccDatadogUser_UpdateRole.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
  datadog/import_datadog_user_test.go
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Store dashboard widget IDs
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add retry on 502 for monitor get and validate
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add retry on 502 for monitor get and validate (#816)
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fix documentation of request widget fields
  datadog/resource_datadog_dashboard.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix link anchor
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix documentation of request widget fields (#817)
  datadog/resource_datadog_dashboard.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add changelog for 2.19
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Add changelog for 2.19 (#818)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Make datadog_integration_aws' description not a deprecation warning
  datadog/resource_datadog_integration_aws.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Remove autogenerated docs from PM
  docs/data-sources/dashboard.md
  docs/data-sources/dashboard_list.md
  docs/data-sources/ip_ranges.md
  docs/data-sources/monitor.md
  docs/data-sources/permissions.md
  docs/data-sources/role.md
  docs/data-sources/security_monitoring_rules.md
  docs/data-sources/synthetics_locations.md
  docs/guides/monitors.md
  docs/index.md
  docs/resources/dashboard.md
  docs/resources/dashboard_list.md
  docs/resources/downtime.md
  docs/resources/integration_aws.md
  docs/resources/integration_aws_lambda_arn.md
  docs/resources/integration_aws_log_collection.md
  docs/resources/integration_azure.md
  docs/resources/integration_gcp.md
  docs/resources/integration_pagerduty.md
  docs/resources/integration_pagerduty_service_object.md
  docs/resources/logs_archive.md
  docs/resources/logs_archive_order.md
  docs/resources/logs_custom_pipeline.md
  docs/resources/logs_index.md
  docs/resources/logs_index_order.md
  docs/resources/logs_integration_pipeline.md
  docs/resources/logs_pipeline_order.md
  docs/resources/metric_metadata.md
  docs/resources/monitor.md
  docs/resources/role.md
  docs/resources/screenboard.md
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md
  docs/resources/service_level_objective.md
  docs/resources/synthetics_global_variable.md
  docs/resources/synthetics_private_location.md
  docs/resources/synthetics_test.md
  docs/resources/timeboard.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Make datadog_integration_aws' description not a deprecation warning (#820)
  datadog/resource_datadog_integration_aws.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Generate index and user docs from tfplugindocs
  docs/index.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Update user/index docs and provider description
  datadog/provider.go
  docs/index.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Update provider descriptions and regenerate
  datadog/provider.go
  docs/index.md
Owners: @DataDog/integrations-tools-and-libraries

Update .prettierignore
  .prettierignore
Owners: @DataDog/integrations-tools-and-libraries

Add support for Logs Metric resource
  datadog/cassettes/TestAccDatadogLogsMetric_Basic.freeze
  datadog/cassettes/TestAccDatadogLogsMetric_Basic.yaml
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_logs_metric.go
  datadog/resource_datadog_logs_metric_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Add support for Logs Metric resource
  datadog/cassettes/TestAccDatadogLogsMetric_Basic.freeze
  datadog/cassettes/TestAccDatadogLogsMetric_Basic.yaml
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_logs_metric.go
  datadog/resource_datadog_logs_metric_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

[format] Update formatting after running make fmt
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

fmt
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Handle result in 404 case in monitor
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Handle result in 404 case in monitor (#824)
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Changelog for 2.19.1
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Changelog for 2.19.1 (#825)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Update go client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable_parse_test_options.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable_parse_test_options_parser.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable_parse_test_options_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable_parser_type.go
  vendor/github.com/DataDog/datadog-api-client-go/run-go-tests.sh
  vendor/github.com/DataDog/datadog-api-client-go/run-tests.sh
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Fix order of synthetic check's location by adding sorting
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Remove timeout from non-HTTP tests docs
  datadog/resource_datadog_synthetics_test_.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Remove timeout from non-HTTP tests docs (#829)
  datadog/resource_datadog_synthetics_test_.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update go client (#826)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable_parse_test_options.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable_parse_test_options_parser.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable_parse_test_options_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_global_variable_parser_type.go
  vendor/github.com/DataDog/datadog-api-client-go/run-go-tests.sh
  vendor/github.com/DataDog/datadog-api-client-go/run-tests.sh
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries
