Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/api-reliability, @DataDog/documentation, @DataDog/dashboards-backend, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/collaboration-integrations, @Datadog/collaboration-integrations, @DataDog/logs-backend, @DataDog/logs-core, @DataDog/logs-forwarding, @DataDog/logs-app, @DataDog/metrics-intake, @DataDog/timeseries-query, @DataDog/metrics-storage-platform, @DataDog/metrics-index, @DataDog/metrics-experience, @DataDog/k9-cloud-security-platform, @DataDog/service-catalog, @DataDog/slo-app, @DataDog/synthetics-managing, @DataDog/team-aaa, @DataDog/k9-cloud-security-posture-management, @DataDog/chat-integrations, @DataDog/action-platform, @DataDog/k9-agentless, @DataDog/workflow-automation-backend, @DataDog/credentials-management, @DataDog/apm-trace-intake, @DataDog/redapl-storage, @DataDog/aws-ints-core, @DataDog/azure-integrations, @DataDog/saas-integrations, @DataDog/gcp-integrations, @DataDog/core-app, @DataDog/trust-and-safety, @DataDog/aaa-granular-access, @DataDog/sensitive-data-scanner, @DataDog/rum-backend, @DataDog/app-builder-backend

Add restriction_policy_resource_id to synthetics private locations to use with restriction policy (#3271)
  datadog/fwprovider/resource_datadog_synthetics_private_location.go
  datadog/tests/resource_datadog_synthetics_private_location_test.go
  docs/resources/synthetics_private_location.md
Owners: @DataDog/api-reliability, @DataDog/synthetics-managing, @DataDog/documentation

[azure_uc_config][aws_cur_config][gcp_uc_config] Update Cloud cost provider resources to support exposing computed fields
  datadog/fwprovider/data_source_datadog_azure_uc_config.go
  datadog/fwprovider/data_source_datadog_gcp_uc_config.go
  datadog/fwprovider/resource_datadog_aws_cur_config.go
  datadog/fwprovider/resource_datadog_azure_uc_config.go
  datadog/fwprovider/resource_datadog_gcp_uc_config.go
  datadog/tests/cassettes/TestAccAzureUcConfigImport.yaml
Owners: @DataDog/api-reliability

update generated docs
  docs/data-sources/azure_uc_config.md
  docs/data-sources/gcp_uc_config.md
  docs/resources/aws_cur_config.md
  docs/resources/azure_uc_config.md
  docs/resources/gcp_uc_config.md
Owners: @DataDog/api-reliability, @DataDog/documentation

PR feedback: implement the examples as *.tf files (the source of truth), then use 'make docs' to generate the *.md files
  docs/data-sources/role_users.md
  examples/data-sources/datadog_role/data-source.tf
  examples/data-sources/datadog_role_users/data-source.tf
  examples/data-sources/datadog_roles/data-source.tf
  examples/resources/datadog_application_key/resource.tf
  examples/resources/datadog_service_account_application_key/resource.tf
Owners: @DataDog/api-reliability, @DataDog/documentation

[azure_uc_config][aws_cur_config][gcp_uc_config] Update Cloud cost provider resources to support exposing computed fields (#3274)
  datadog/fwprovider/data_source_datadog_azure_uc_config.go
  datadog/fwprovider/data_source_datadog_gcp_uc_config.go
  datadog/fwprovider/resource_datadog_aws_cur_config.go
  datadog/fwprovider/resource_datadog_azure_uc_config.go
  datadog/fwprovider/resource_datadog_gcp_uc_config.go
  datadog/tests/cassettes/TestAccAzureUcConfigImport.yaml
  docs/data-sources/azure_uc_config.md
  docs/data-sources/gcp_uc_config.md
  docs/resources/aws_cur_config.md
  docs/resources/azure_uc_config.md
  docs/resources/gcp_uc_config.md
Owners: @DataDog/api-reliability, @DataDog/documentation

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/api-reliability

/.generator                               @DataDog/api-reliability

/docs/                                    @DataDog/api-reliability @DataDog/documentation

# Terraform plugin sdk resources/data-sources
datadog/*datadog_dashboard*                @DataDog/api-reliability @DataDog/dashboards-backend
datadog/*datadog_downtime*                 @DataDog/api-reliability @DataDog/monitor-app
datadog/*datadog_integration_aws*          @DataDog/api-reliability @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*    @DataDog/api-reliability @DataDog/collaboration-integrations
datadog/*datadog_integration_opsgenie*     @DataDog/api-reliability @Datadog/collaboration-integrations
datadog/*datadog_logs*                     @DataDog/api-reliability @DataDog/logs-backend @DataDog/logs-core @DataDog/logs-forwarding @DataDog/logs-app
datadog/*datadog_metric*                   @DataDog/api-reliability @DataDog/metrics-intake @DataDog/timeseries-query @DataDog/metrics-storage-platform
datadog/*datadog_metric_tags*              @DataDog/api-reliability @DataDog/metrics-index
datadog/*datadog_metric_metadata*          @DataDog/api-reliability @DataDog/metrics-experience
datadog/*datadog_metric_tag_configuration* @DataDog/api-reliability @DataDog/metrics-experience
datadog/*datadog_monitor*                  @DataDog/api-reliability @DataDog/monitor-app
datadog/*datadog_screenboard*              @DataDog/api-reliability @DataDog/dashboards-backend
datadog/*datadog_security*                 @DataDog/api-reliability @DataDog/k9-cloud-security-platform
datadog/*datadog_service_definition*       @DataDog/api-reliability @DataDog/service-catalog
datadog/*datadog_service_level_objective*  @DataDog/api-reliability @DataDog/slo-app
datadog/*datadog_synthetics*               @DataDog/api-reliability @DataDog/synthetics-managing
datadog/*datadog_timeboard*                @DataDog/api-reliability @DataDog/dashboards-backend
datadog/*datadog_permissions*              @DataDog/api-reliability @DataDog/team-aaa
datadog/*datadog_user*                     @DataDog/api-reliability @DataDog/team-aaa
datadog/*cloud_configuration*              @DataDog/api-reliability @DataDog/k9-cloud-security-posture-management
datadog/*service_account*                  @DataDog/api-reliability @DataDog/team-aaa
datadog/*datadog_authn*                    @DataDog/api-reliability @DataDog/team-aaa
datadog/*datadog_child_organization*       @DataDog/api-reliability @DataDog/team-aaa
datadog/*datadog_domain_allowlist*         @DataDog/api-reliability @DataDog/team-aaa
datadog/*datadog_integration_slack*        @DataDog/api-reliability @DataDog/chat-integrations
datadog/*datadog_integration_slack*        @DataDog/api-reliability @DataDog/chat-integrations
datadog/*datadog_powerpack*                @DataDog/api-reliability @DataDog/dashboards-backend
datadog/*datadog_role*                     @DataDog/api-reliability @DataDog/team-aaa

# Framework resources/data-sources

datadog/**/*datadog_action_connection*           @DataDog/api-reliability @DataDog/action-platform
datadog/**/*datadog_agentless*                   @DataDog/api-reliability @DataDog/k9-agentless
datadog/**/*datadog_app_key_registration*        @DataDog/api-reliability @DataDog/action-platform @DataDog/workflow-automation-backend
datadog/**/*datadog_api_key*                     @DataDog/api-reliability @DataDog/credentials-management
datadog/**/*datadog_apm_retention_filter*        @DataDog/api-reliability @DataDog/apm-trace-intake
datadog/**/*datadog_application_key*             @DataDog/api-reliability @DataDog/credentials-management
datadog/**/*datadog_hosts*                       @DataDog/api-reliability @DataDog/redapl-storage
datadog/**/*datadog_integration_aws*             @DataDog/api-reliability @DataDog/aws-ints-core
datadog/**/*datadog_integration_azure*           @DataDog/api-reliability @DataDog/azure-integrations
datadog/**/*datadog_integration_cloudflare*      @DataDog/api-reliability @DataDog/saas-integrations
datadog/**/*datadog_integration_confluent*       @DataDog/api-reliability @DataDog/saas-integrations
datadog/**/*datadog_integration_fastly*          @DataDog/api-reliability @DataDog/saas-integrations
datadog/**/*datadog_integration_gcp*             @DataDog/api-reliability @DataDog/gcp-integrations
datadog/**/*datadog_integration_microsoft_teams* @DataDog/api-reliability @DataDog/chat-integrations
datadog/**/*datadog_integration_ms_teams*        @DataDog/api-reliability @DataDog/chat-integrations
datadog/**/*datadog_ip_ranges*                   @DataDog/api-reliability @DataDog/team-aaa
datadog/**/*datadog_open_api*                    @DataDog/api-reliability @DataDog/service-catalog
datadog/**/*datadog_organization_settings*       @DataDog/api-reliability @DataDog/core-app @DataDog/trust-and-safety
datadog/**/*datadog_restriction_policy*          @DataDog/api-reliability @DataDog/aaa-granular-access
datadog/**/*datadog_sensitive_data_scanner*      @DataDog/api-reliability @DataDog/sensitive-data-scanner
datadog/**/*datadog_service_account*             @DataDog/api-reliability @DataDog/team-aaa
datadog/**/*datadog_software_catalog*            @DataDog/api-reliability @DataDog/service-catalog
datadog/**/*datadog_spans_metric*                @DataDog/api-reliability @DataDog/apm-trace-intake
datadog/**/*datadog_synthetics*                  @DataDog/api-reliability @DataDog/synthetics-managing
datadog/**/*datadog_team*                        @DataDog/api-reliability @DataDog/core-app
datadog/**/*datadog_user*                        @DataDog/api-reliability @DataDog/team-aaa
datadog/**/*datadog_webhook*                     @DataDog/api-reliability @DataDog/collaboration-integrations
datadog/**/*datadog_workflow_automation*         @DataDog/api-reliability @DataDog/workflow-automation-backend
datadog/**/*datadog_powerpack*                   @DataDog/api-reliability @DataDog/dashboards-backend
datadog/**/*datadog_role_users*                  @DataDog/api-reliability @DataDog/team-aaa
datadog/**/*datadog_rum*                         @DataDog/api-reliability @DataDog/rum-backend
datadog/**/*datadog_security*                    @DataDog/api-reliability @DataDog/k9-cloud-security-platform
datadog/**/*datadog_app_builder_app*             @DataDog/api-reliability @DataDog/app-builder-backend
