Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

Handle missing variables field
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Handle missing variables field (#733)
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix synthetics monitor_options doc
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[data sources] Add dashboard data_source
  datadog/cassettes/TestAccDatadogDashboardDatasource.freeze
  datadog/cassettes/TestAccDatadogDashboardDatasource.yaml
  datadog/data_source_datadog_dashboard.go
  datadog/data_source_datadog_dashboard_test.go
  datadog/provider.go
  datadog/provider_test.go
  docs/data-sources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add tests and update cassettes
  datadog/cassettes/TestAccDatadogMonitorServiceCheck_Basic.yaml
  datadog/cassettes/TestAccDatadogMonitor_Basic.yaml
  datadog/cassettes/TestAccDatadogMonitor_Updated.yaml
  datadog/cassettes/TestAccDatadogMonitor_UpdatedToRemoveTags.yaml
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

another test fix
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fix synthetics monitor_options doc (#735)
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update to released go client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_events.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Update to released go client (#738)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_events.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Document monitor priority
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Changelog for 2.15
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Document monitor priority (#739)
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Revert "Document monitor priority (#739)"
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Revert "Document monitor priority (#739)" (#741)
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Changelog for 2.15 (#740)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Add dashboard data_source (#734)
  datadog/cassettes/TestAccDatadogDashboardDatasource.freeze
  datadog/cassettes/TestAccDatadogDashboardDatasource.yaml
  datadog/data_source_datadog_dashboard.go
  datadog/data_source_datadog_dashboard_test.go
  datadog/provider.go
  datadog/provider_test.go
  docs/data-sources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update go client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_widget_palette.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Update the doc accordingly
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update go client (#743)
  docs/resources/dashboard.md
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_widget_palette.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

2.16 changelog
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

2.16 changelog (#744)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

support event_query for dashboard widgets
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix monitor no_data_timeframe import
  datadog/cassettes/TestDatadogMonitor_importNoDataTimeFrame.freeze
  datadog/cassettes/TestDatadogMonitor_importNoDataTimeFrame.yaml
  datadog/import_datadog_monitor_test.go
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fix monitor no_data_timeframe import (#748)
  datadog/cassettes/TestDatadogMonitor_importNoDataTimeFrame.freeze
  datadog/cassettes/TestDatadogMonitor_importNoDataTimeFrame.yaml
  datadog/import_datadog_monitor_test.go
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update minimum version go 1.15 in README
  README.md
Owners: @DataDog/integrations-tools-and-libraries

Update minimum version go 1.15 in README (#749)
  README.md
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Set client certificate content as sensitive
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Set client certificate content as sensitive (#750)
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add role datasource
  GNUmakefile
  datadog/data_source_datadog_role.go
  datadog/data_source_datadog_role_test.go
  datadog/provider.go
  datadog/provider_test.go
  docs/data-sources/role.md
Owners: @DataDog/integrations-tools-and-libraries

fix c/p
  datadog/data_source_datadog_role.go
Owners: @DataDog/integrations-tools-and-libraries

Add cassettes
  datadog/cassettes/TestAccDatadogRoleDatasource.freeze
  datadog/cassettes/TestAccDatadogRoleDatasource.yaml
Owners: @DataDog/integrations-tools-and-libraries

Deal with exact match
  datadog/data_source_datadog_role.go
Owners: @DataDog/integrations-tools-and-libraries

fixes
  datadog/data_source_datadog_role.go
Owners: @DataDog/integrations-tools-and-libraries

Add role datasource (#751)
  GNUmakefile
  datadog/cassettes/TestAccDatadogRoleDatasource.freeze
  datadog/cassettes/TestAccDatadogRoleDatasource.yaml
  datadog/data_source_datadog_role.go
  datadog/data_source_datadog_role_test.go
  datadog/provider.go
  datadog/provider_test.go
  docs/data-sources/role.md
Owners: @DataDog/integrations-tools-and-libraries

add role resource
  datadog/provider.go
  datadog/resource_datadog_role.go
  docs/resources/role.md
Owners: @DataDog/integrations-tools-and-libraries

Add permissions datasource
  datadog/data_source_datadog_permissions.go
  datadog/provider.go
  docs/data-sources/permissions.md
Owners: @DataDog/integrations-tools-and-libraries

add test for permissions ds
  datadog/cassettes/TestAccDatadogPermissionsDatasource.freeze
  datadog/cassettes/TestAccDatadogPermissionsDatasource.yaml
  datadog/data_source_datadog_permissions.go
  datadog/data_source_datadog_permissions_test.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

reflect synthic type in resource name
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Don't source restricted perms
  datadog/cassettes/TestAccDatadogPermissionsDatasource.freeze
  datadog/cassettes/TestAccDatadogPermissionsDatasource.yaml
  datadog/data_source_datadog_permissions.go
  datadog/data_source_datadog_permissions_test.go
Owners: @DataDog/integrations-tools-and-libraries

go mod tidy/vendor
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/compose.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/computed.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/condition.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/doc.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/force_new.go
  vendor/github.com/hashicorp/terraform-plugin-sdk/helper/customdiff/validate.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries
