Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

Add test for roles resource and solve restricted perms issue
  datadog/cassettes/TestAccDatadogPermissionsDatasource.freeze
  datadog/cassettes/TestAccDatadogPermissionsDatasource.yaml
  datadog/cassettes/TestAccDatadogRole_CreateUpdate.freeze
  datadog/cassettes/TestAccDatadogRole_CreateUpdate.yaml
  datadog/cassettes/TestAccDatadogRole_RestrictedPerm.freeze
  datadog/cassettes/TestAccDatadogRole_RestrictedPerm.yaml
  datadog/data_source_datadog_permissions.go
  datadog/provider_test.go
  datadog/resource_datadog_role.go
  datadog/resource_datadog_role_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add test for role datasource filtering
  datadog/cassettes/TestAccDatadogRoleDatasourceExactMatch.freeze
  datadog/cassettes/TestAccDatadogRoleDatasourceExactMatch.yaml
  datadog/data_source_datadog_role.go
  datadog/data_source_datadog_role_test.go
Owners: @DataDog/integrations-tools-and-libraries

fix workflow
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

reflect synthic type in resource name (#754)
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Bump action version
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

fix doc and desc
  datadog/resource_datadog_role.go
  docs/resources/role.md
Owners: @DataDog/integrations-tools-and-libraries

Update .github/workflows/test.yml
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix role datasource test
  datadog/cassettes/TestAccDatadogRoleDatasourceError.freeze
  datadog/cassettes/TestAccDatadogRoleDatasourceError.yaml
  datadog/cassettes/TestAccDatadogRoleDatasourceExactMatch.freeze
  datadog/data_source_datadog_role_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update datadog/data_source_datadog_permissions.go
  datadog/data_source_datadog_permissions.go
Owners: @DataDog/integrations-tools-and-libraries

fix panic and rerecord
  datadog/cassettes/TestAccDatadogRoleDatasource.freeze
  datadog/cassettes/TestAccDatadogRoleDatasource.yaml
  datadog/cassettes/TestAccDatadogRoleDatasourceError.freeze
  datadog/cassettes/TestAccDatadogRoleDatasourceError.yaml
  datadog/cassettes/TestAccDatadogRoleDatasourceExactMatch.freeze
  datadog/cassettes/TestAccDatadogRoleDatasourceExactMatch.yaml
  datadog/cassettes/TestAccDatadogRole_CreateUpdate.freeze
  datadog/cassettes/TestAccDatadogRole_CreateUpdate.yaml
  datadog/cassettes/TestAccDatadogRole_RestrictedPerm.freeze
  datadog/cassettes/TestAccDatadogRole_RestrictedPerm.yaml
  datadog/resource_datadog_role_test.go
Owners: @DataDog/integrations-tools-and-libraries

fix replaying by matching body
  datadog/cassettes/TestAccDatadogRoleDatasourceExactMatch.freeze
  datadog/cassettes/TestAccDatadogRoleDatasourceExactMatch.yaml
  datadog/provider_test.go
  datadog/resource_datadog_role.go
  datadog/resource_datadog_role_test.go
Owners: @DataDog/integrations-tools-and-libraries

workaround time.Now since we match on body now
  datadog/cassettes/TestAccDatadogMonitorDatasource.freeze
  datadog/cassettes/TestAccDatadogMonitorDatasource.yaml
  datadog/cassettes/TestAccDatadogMonitorServiceCheck_Basic.freeze
  datadog/cassettes/TestAccDatadogMonitorServiceCheck_Basic.yaml
  datadog/cassettes/TestAccDatadogMonitor_Basic.freeze
  datadog/cassettes/TestAccDatadogMonitor_Basic.yaml
  datadog/cassettes/TestAccDatadogMonitor_BasicNoTreshold.freeze
  datadog/cassettes/TestAccDatadogMonitor_BasicNoTreshold.yaml
  datadog/cassettes/TestAccDatadogMonitor_Basic_float_int.freeze
  datadog/cassettes/TestAccDatadogMonitor_Basic_float_int.yaml
  datadog/cassettes/TestAccDatadogMonitor_ComposeWithSyntheticsTest.freeze
  datadog/cassettes/TestAccDatadogMonitor_ComposeWithSyntheticsTest.yaml
  datadog/cassettes/TestAccDatadogMonitor_Log.freeze
  datadog/cassettes/TestAccDatadogMonitor_Log.yaml
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.freeze
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.yaml
  datadog/cassettes/TestAccDatadogMonitor_NoThresholdWindows.freeze
  datadog/cassettes/TestAccDatadogMonitor_NoThresholdWindows.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdateNoDiff.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdateNoDiff.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.yaml
  datadog/cassettes/TestAccDatadogMonitor_ThresholdWindows.freeze
  datadog/cassettes/TestAccDatadogMonitor_ThresholdWindows.yaml
  datadog/cassettes/TestAccDatadogMonitor_TrimWhitespace.freeze
  datadog/cassettes/TestAccDatadogMonitor_TrimWhitespace.yaml
  datadog/cassettes/TestAccDatadogMonitor_Updated.freeze
  datadog/cassettes/TestAccDatadogMonitor_Updated.yaml
  datadog/cassettes/TestAccDatadogMonitor_UpdatedToRemoveTags.freeze
  datadog/cassettes/TestAccDatadogMonitor_UpdatedToRemoveTags.yaml
  datadog/cassettes/TestAccDatadogMonitor_ZeroDelay.freeze
  datadog/cassettes/TestAccDatadogMonitor_ZeroDelay.yaml
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

set time.Now in real provider
  datadog/cassettes/TestAccDatadogMonitorDatasource.freeze
  datadog/cassettes/TestAccDatadogMonitorDatasource.yaml
  datadog/cassettes/TestAccDatadogMonitorServiceCheck_Basic.freeze
  datadog/cassettes/TestAccDatadogMonitorServiceCheck_Basic.yaml
  datadog/cassettes/TestAccDatadogMonitor_Basic.freeze
  datadog/cassettes/TestAccDatadogMonitor_Basic.yaml
  datadog/cassettes/TestAccDatadogMonitor_BasicNoTreshold.freeze
  datadog/cassettes/TestAccDatadogMonitor_BasicNoTreshold.yaml
  datadog/cassettes/TestAccDatadogMonitor_Basic_float_int.freeze
  datadog/cassettes/TestAccDatadogMonitor_Basic_float_int.yaml
  datadog/cassettes/TestAccDatadogMonitor_ComposeWithSyntheticsTest.freeze
  datadog/cassettes/TestAccDatadogMonitor_ComposeWithSyntheticsTest.yaml
  datadog/cassettes/TestAccDatadogMonitor_Log.freeze
  datadog/cassettes/TestAccDatadogMonitor_Log.yaml
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.freeze
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.yaml
  datadog/cassettes/TestAccDatadogMonitor_NoThresholdWindows.freeze
  datadog/cassettes/TestAccDatadogMonitor_NoThresholdWindows.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdateNoDiff.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdateNoDiff.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.yaml
  datadog/cassettes/TestAccDatadogMonitor_ThresholdWindows.freeze
  datadog/cassettes/TestAccDatadogMonitor_ThresholdWindows.yaml
  datadog/cassettes/TestAccDatadogMonitor_TrimWhitespace.freeze
  datadog/cassettes/TestAccDatadogMonitor_TrimWhitespace.yaml
  datadog/cassettes/TestAccDatadogMonitor_Updated.freeze
  datadog/cassettes/TestAccDatadogMonitor_Updated.yaml
  datadog/cassettes/TestAccDatadogMonitor_UpdatedToRemoveTags.freeze
  datadog/cassettes/TestAccDatadogMonitor_UpdatedToRemoveTags.yaml
  datadog/cassettes/TestAccDatadogMonitor_ZeroDelay.freeze
  datadog/cassettes/TestAccDatadogMonitor_ZeroDelay.yaml
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Also rerecord downtime
  datadog/cassettes/TestAccDatadogDowntimeDates.freeze
  datadog/cassettes/TestAccDatadogDowntimeDates.yaml
  datadog/cassettes/TestAccDatadogDowntimeDatesConflict.freeze
  datadog/cassettes/TestAccDatadogDowntime_Basic.freeze
  datadog/cassettes/TestAccDatadogDowntime_Basic.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicMultiScope.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicMultiScope.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicNoRecurrence.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicNoRecurrence.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicUntilDateRecurrence.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicUntilDateRecurrence.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicUntilOccurrencesRecurrence.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicUntilOccurrencesRecurrence.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitor.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitor.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitorTags.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitorTags.yaml
  datadog/cassettes/TestAccDatadogDowntime_DiffStart.freeze
  datadog/cassettes/TestAccDatadogDowntime_DiffStart.yaml
  datadog/cassettes/TestAccDatadogDowntime_RRule.freeze
  datadog/cassettes/TestAccDatadogDowntime_RRule.yaml
  datadog/cassettes/TestAccDatadogDowntime_TrimWhitespace.freeze
  datadog/cassettes/TestAccDatadogDowntime_TrimWhitespace.yaml
  datadog/cassettes/TestAccDatadogDowntime_Updated.freeze
  datadog/cassettes/TestAccDatadogDowntime_Updated.yaml
  datadog/cassettes/TestAccDatadogDowntime_WeekDayRecurring.freeze
  datadog/cassettes/TestAccDatadogDowntime_WeekDayRecurring.yaml
Owners: @DataDog/integrations-tools-and-libraries

final recordings
  datadog/cassettes/TestAccDatadogRoleDatasourceError.freeze
  datadog/cassettes/TestAccDatadogRoleDatasourceError.yaml
  datadog/cassettes/TestDatadogMonitor_import.freeze
  datadog/cassettes/TestDatadogMonitor_import.yaml
  datadog/cassettes/TestDatadogMonitor_importNoDataTimeFrame.freeze
  datadog/cassettes/TestDatadogMonitor_importNoDataTimeFrame.yaml
  datadog/cassettes/TestDatadogMonitor_import_no_recovery.freeze
  datadog/cassettes/TestDatadogMonitor_import_no_recovery.yaml
Owners: @DataDog/integrations-tools-and-libraries

review
  datadog/data_source_datadog_permissions.go
  datadog/resource_datadog_role_test.go
  docs/resources/role.md
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add support for secure global variables
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Updated.yaml
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_global_variable_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update documentation for secure variables
  docs/resources/synthetics_global_variable.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

fix name
  datadog/cassettes/TestAccDatadogRole_CreateUpdate.freeze
  datadog/cassettes/TestAccDatadogRole_CreateUpdate.yaml
  datadog/resource_datadog_role_test.go
Owners: @DataDog/integrations-tools-and-libraries

new cassette name
  datadog/cassettes/TestAccDatadogRole_InvalidPerm.freeze
  datadog/cassettes/TestAccDatadogRole_InvalidPerm.yaml
  datadog/cassettes/TestAccDatadogRole_RestrictedPerm.freeze
Owners: @DataDog/integrations-tools-and-libraries

datasource dashboard: Add multiple dashboard filter test
  datadog/cassettes/TestAccDatadogDashboardDatasource.freeze
  datadog/cassettes/TestAccDatadogDashboardDatasource.yaml
  datadog/data_source_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

datasource - dashboard - Fixup logic to select correct dashboard
  datadog/data_source_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

datasource - datadog_dashboard: Handle multiple dashboards correctly (#759)
  datadog/cassettes/TestAccDatadogDashboardDatasource.freeze
  datadog/cassettes/TestAccDatadogDashboardDatasource.yaml
  datadog/data_source_datadog_dashboard.go
  datadog/data_source_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Small fixes to roles resource
  datadog/resource_datadog_role.go
  docs/resources/role.md
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add support for synthetics private locations
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_synthetics_private_location.go
  datadog/resource_datadog_synthetics_private_location_test.go
Owners: @DataDog/integrations-tools-and-libraries

Small fixes to roles resource (#760)
  datadog/resource_datadog_role.go
  docs/resources/role.md
Owners: @DataDog/integrations-tools-and-libraries

Changelog for 2.17.0
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Documentation for private locations
  docs/resources/synthetics_private_location.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Changelog for 2.17.0 (#762)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Support v2 API in user resource
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Find user
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Checkpoint
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Remove unused error
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Remove unused mapping
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Clean up structs builder
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Add test for roles in users
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

fmt
  datadog/import_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Test existing users
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Remove legacy attributes
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa
