Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-backend, @DataDog/logs-app, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/metrics-aggregation, @DataDog/security-monitoring, @DataDog/synthetics-app

apply code review suggestions
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Implement support for Change widgets using formulas and functions
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardChange.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardChangeFormula.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardChangeFormula_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardChange_import.freeze
  datadog/tests/resource_datadog_dashboard_change_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

Regenerate cassettes again
  datadog/tests/cassettes/TestAccDatadogDashboardChangeFormula.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardChangeFormula.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardChangeFormula_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardChangeFormula_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update go client
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add missing follow redirects option for multi step requests
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

added availble values to schema
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update client, build docs
  docs/resources/dashboard.md
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

bump go.mod, update metric tag config with proper data types, change metric tag config schema to break up aggregations field
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_metric_tag_configuration.go
  datadog/tests/resource_datadog_metric_tag_configuration_test.go
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/metrics-aggregation

[Synthetics] Update docs
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

updated tf example
  examples/resources/datadog_dashboard/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

fix aggregations field definition, adjust customizeDiff function to support aggregations default
  datadog/resource_datadog_metric_tag_configuration.go
  datadog/tests/resource_datadog_metric_tag_configuration_test.go
  examples/resources/datadog_metric_tag_configuration/resource.tf
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/metrics-aggregation

removev available values from example for test to pass
  examples/resources/datadog_dashboard/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

apply code review suggestions
  datadog/tests/cassettes/TestAccDatadogUser_ReEnableRoleUpdate.freeze
  datadog/tests/cassettes/TestAccDatadogUser_ReEnableRoleUpdate.yaml
  datadog/tests/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries

error message update
  datadog/tests/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries

Implement support for the new APM Dependency Stats Query data source on the Query Table widget
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Apply suggestions from code review
  datadog/resource_datadog_synthetics_test_.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

Validate widgets cast in dashboard JSON
  datadog/resource_datadog_dashboard_json.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add `available_values` property to dashboard template variables (#1195)
  datadog/resource_datadog_dashboard.go
  docs/resources/dashboard.md
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

Validate widgets cast in dashboard JSON (#1197)
  datadog/resource_datadog_dashboard_json.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update User roles when re-enabling previously deleted user (#1174)
  datadog/resource_datadog_user.go
  datadog/tests/cassettes/TestAccDatadogUser_ReEnableRoleUpdate.freeze
  datadog/tests/cassettes/TestAccDatadogUser_ReEnableRoleUpdate.yaml
  datadog/tests/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

update dd client
  datadog/resource_datadog_slo_correction.go
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Implement tests for new APM Dependency Stats query for Formulas and Functions
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.yaml
  datadog/tests/resource_datadog_dashboard_query_table_test.go
  docs/resources/dashboard.md
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

Update description for apm_dependency_stats data_source
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update dd client (#1198)
  datadog/resource_datadog_slo_correction.go
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Implement tests for new APM Resource Stats query for Formulas and Functions
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.yaml
  datadog/tests/resource_datadog_dashboard_query_table_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

feat: Changed Token Uri for GCP Service account
  datadog/resource_datadog_integration_gcp.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

[Synthetics] Regenerate docs
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

always add the default aggregation combo regardless of user configuration
  datadog/resource_datadog_metric_tag_configuration.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/metrics-aggregation

prepare 3.4.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

prepare 3.4.0 release (#1203)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

inititial webhooks custom variable resource
  datadog/provider.go
  datadog/resource_datadog_webhook_custom_variable.go
Owners: @DataDog/integrations-tools-and-libraries

add test files and make docs
  datadog/tests/cassettes/TestAccDatadogWebhookCustomVariable_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogWebhookCustomVariable_Basic.yaml
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_webhook_custom_variable_test.go
  docs/resources/webhooks_custom_variable.md
  examples/resources/datadog_webhook_custom_variable/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

fix naming conventions
  datadog/provider.go
  datadog/resource_datadog_webhook_custom_variable.go
  datadog/tests/resource_datadog_webhook_custom_variable_test.go
  docs/resources/webhook_custom_variable.md
Owners: @DataDog/integrations-tools-and-libraries

add webhook resource
  datadog/provider.go
  datadog/resource_datadog_webhook.go
  datadog/tests/cassettes/TestAccDatadogWebhook_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogWebhook_Basic.yaml
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_webhook_test.go
Owners: @DataDog/integrations-tools-and-libraries

add docs and examples
  docs/resources/webhook.md
  examples/resources/datadog_webhook/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

Update description for apm_dependency_stats data_source
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Implement support for the new APM Dependency Stats Query data source on the Query Table widget
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Implement tests for new APM Dependency Stats query for Formulas and Functions
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.yaml
  datadog/tests/resource_datadog_dashboard_query_table_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

Update docs
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

handle 400 returned when resource does not exist
  datadog/resource_datadog_webhook.go
  datadog/tests/resource_datadog_webhook_test.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations @DataDog/documentation
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app @DataDog/documentation
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation @DataDog/documentation
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*security_monitoring*             @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring
docs/data-sources/security_monitoring*    @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
docs/resources/security_monitoring*       @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_synthetics*              @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app @DataDog/documentation
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation
