Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/api-clients, @DataDog/documentation, @DataDog/dashboards-backend, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/saas-integrations, @Datadog/collaboration-integrations, @DataDog/logs-backend, @DataDog/logs-core, @DataDog/logs-forwarding, @DataDog/logs-app, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/points-aggregation, @DataDog/k9-cloud-security-platform, @DataDog/service-catalog, @DataDog/slo-app, @DataDog/synthetics-ct, @DataDog/team-aaa, @DataDog/k9-cloud-security-posture-management, @DataDog/credentials-management, @DataDog/apm-trace-intake, @DataDog/redapl-storage, @DataDog/azure-integrations, @DataDog/gcp-integrations, @DataDog/aaa-granular-access, @DataDog/sensitive-data-scanner, @DataDog/synthetics-app, @DataDog/core-app, @DataDog/trust-and-safety, @DataDog/chat-integrations

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/api-clients

/docs/                                    @DataDog/api-clients @DataDog/documentation

# Terraform plugin sdk resources/data-sources
datadog/*datadog_dashboard*               @DataDog/api-clients @DataDog/dashboards-backend
datadog/*datadog_downtime*                @DataDog/api-clients @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/api-clients @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/api-clients @DataDog/saas-integrations @DataDog/saas-integrations
datadog/*datadog_integration_opsgenie*    @DataDog/api-clients @Datadog/collaboration-integrations
datadog/*datadog_logs*                    @DataDog/api-clients @DataDog/logs-backend @DataDog/logs-core @DataDog/logs-forwarding @DataDog/logs-app
datadog/*datadog_metric*                  @DataDog/api-clients @DataDog/metrics-intake @DataDog/metrics-query @DataDog/points-aggregation
datadog/*datadog_monitor*                 @DataDog/api-clients @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/api-clients @DataDog/dashboards-backend
datadog/*security_monitoring*             @DataDog/api-clients @DataDog/k9-cloud-security-platform
datadog/*datadog_service_definition*      @DataDog/api-clients @DataDog/service-catalog
datadog/*datadog_service_level_objective* @DataDog/api-clients @DataDog/slo-app
datadog/*datadog_synthetics*              @DataDog/api-clients @DataDog/synthetics-ct
datadog/*datadog_timeboard*               @DataDog/api-clients @DataDog/dashboards-backend
datadog/*datadog_user*                    @DataDog/api-clients @DataDog/team-aaa
datadog/*cloud_configuration*             @DataDog/api-clients @DataDog/k9-cloud-security-posture-management
datadog/*service_account*                 @DataDog/api-clients @DataDog/team-aaa

# Framework resources/data-sources
datadog/**/*datadog_api_key*                     @DataDog/api-clients @DataDog/credentials-management
datadog/**/*datadog_apm_retention_filter*        @DataDog/api-clients @DataDog/apm-trace-intake
datadog/**/*datadog_application_key*             @DataDog/api-clients @DataDog/credentials-management
datadog/**/*datadog_hosts*                       @DataDog/api-clients @DataDog/redapl-storage
datadog/**/*datadog_ip_ranges*                   @DataDog/api-clients @DataDog/team-aaa
datadog/**/*datadog_integration_aws*             @DataDog/api-clients @DataDog/cloud-integrations
datadog/**/*datadog_integration_azure*           @DataDog/api-clients @DataDog/azure-integrations
datadog/**/*datadog_integration_cloudflare*      @DataDog/api-clients @DataDog/saas-integrations
datadog/**/*datadog_integration_confluent*       @DataDog/api-clients @DataDog/saas-integrations
datadog/**/*datadog_integration_fastly*          @DataDog/api-clients @DataDog/saas-integrations
datadog/**/*datadog_integration_gcp*             @DataDog/api-clients @DataDog/gcp-integrations
datadog/**/*datadog_restriction_policy*          @DataDog/api-clients @DataDog/aaa-granular-access
datadog/**/*datadog_sensitive_data_scanner*      @DataDog/api-clients @DataDog/logs-app @DataDog/sensitive-data-scanner
datadog/**/*datadog_service_account*             @DataDog/api-clients @DataDog/team-aaa
datadog/**/*datadog_spans_metric*                @DataDog/api-clients @DataDog/apm-trace-intake
datadog/**/*datadog_synthetics_concurrency_cap*  @DataDog/api-clients @DataDog/synthetics-app @DataDog/synthetics-ct
datadog/**/*datadog_team*                        @DataDog/api-clients @DataDog/core-app
datadog/**/*datadog_organization_settings*       @DataDog/api-clients @DataDog/core-app @DataDog/trust-and-safety
datadog/**/*datadog_integration_microsoft_teams* @DataDog/api-clients @DataDog/chat-integrations

Set the SHA hash for the GitHub actions. (#2791)
  .github/workflows/changelog.yaml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/sdkv2_deprecation.yaml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
Owners: @DataDog/api-clients

fix body deletion
  datadog/fwprovider/resource_datadog_connection.go
  go.mod
  go.sum
Owners: @DataDog/api-clients

[datadog_dashboards] Add datasource
  datadog/fwprovider/data_source_datadog_dashboards.go
  datadog/fwprovider/framework_provider.go
  docs/data-sources/dashboards.md
Owners: @DataDog/api-clients, @DataDog/documentation

[datadog_integration_cloudflare_account] (feat) added `zones` argument to ressource
  datadog/fwprovider/resource_datadog_integration_cloudflare_account.go
Owners: @DataDog/api-clients, @DataDog/saas-integrations

Record cassette for proof that it fails with wrong ML
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.yaml
Owners: @DataDog/api-clients

Fix the bug
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.yaml
Owners: @DataDog/api-clients, @DataDog/synthetics-ct

data source test setup
  datadog/tests/data_source_datadog_connection_test.go
  datadog/tests/provider_test.go
Owners: @DataDog/api-clients

Testing s3 logs archives tests
  datadog/resource_datadog_logs_archive.go
  datadog/tests/cassettes/TestAccDatadogLogsArchiveAzure_basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/tests/cassettes/TestAccDatadogLogsArchiveOrder_basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveOrder_basic.yaml
  datadog/tests/cassettes/TestAccDatadogLogsArchiveOrder_empty.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveOrder_empty.yaml
  datadog/tests/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
  datadog/tests/resource_datadog_logs_archive_test.go
Owners: @DataDog/api-clients, @DataDog/logs-backend, @DataDog/logs-core, @DataDog/logs-forwarding, @DataDog/logs-app

[datadog_service_definition_yaml] Fix panic when contact attributes exists but are empty (nil)
  datadog/resource_datadog_service_definition_yaml.go
Owners: @DataDog/api-clients, @DataDog/service-catalog

Fix
  datadog/resource_datadog_service_definition_yaml.go
Owners: @DataDog/api-clients, @DataDog/service-catalog
