Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

linting
  datadog/resource_datadog_integration_pagerduty.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

v2.8.0
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Cleanup after v2.8.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Reproducing issue [#531]
  datadog/resource_datadog_dashboard_531_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add cassette recording
  datadog/cassettes/TestAccDatadogIssue531.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add monitor force_delete parameter
  datadog/resource_datadog_monitor.go
  website/docs/r/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Safely access index field
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Safely access index field (#536)
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

refactor and add tests + cassettes
  datadog/cassettes/TestAccDatadogDashboardAlertGraph.yaml
  datadog/cassettes/TestAccDatadogDashboardAlertValue.yaml
  datadog/cassettes/TestAccDatadogDashboardChange.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/cassettes/TestAccDatadogFreeDashboard.yaml
  datadog/cassettes/TestAccDatadogOrderedDashboard.yaml
  datadog/resource_datadog_dashboard_alert_graph_test.go
  datadog/resource_datadog_dashboard_alert_value_test.go
  datadog/resource_datadog_dashboard_change_test.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Sort datadog_downtime monitor tags to avoid plan diffs
  datadog/cassettes/TestAccDatadogDowntimeDates.yaml
  datadog/cassettes/TestAccDatadogDowntime_Basic.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicMultiScope.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicNoRecurrence.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicUntilDateRecurrence.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicUntilOccurrencesRecurrence.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitor.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitor.yaml
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitorTags.freeze
  datadog/cassettes/TestAccDatadogDowntime_BasicWithMonitorTags.yaml
  datadog/cassettes/TestAccDatadogDowntime_TrimWhitespace.yaml
  datadog/cassettes/TestAccDatadogDowntime_Updated.yaml
  datadog/cassettes/TestAccDatadogDowntime_WeekDayRecurring.yaml
  datadog/cassettes/TestDatadogDowntime_import.yaml
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

delete cassettes
  datadog/cassettes/TestAccDatadogDashboardAlertGraph.yaml
  datadog/cassettes/TestAccDatadogDashboardAlertValue.yaml
  datadog/cassettes/TestAccDatadogDashboardChange.yaml
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogFreeDashboard.yaml
  datadog/cassettes/TestAccDatadogOrderedDashboard.yaml
Owners: @DataDog/integrations-tools-and-libraries

add cassettes
  datadog/cassettes/TestAccDatadogDashboardAlertGraph.yaml
  datadog/cassettes/TestAccDatadogDashboardAlertValue.yaml
  datadog/cassettes/TestAccDatadogDashboardChange.yaml
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogFreeDashboard.yaml
  datadog/cassettes/TestAccDatadogOrderedDashboard.yaml
Owners: @DataDog/integrations-tools-and-libraries

Allow to pass http client when creating test provider
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

Remove recorder where is not used
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix data source for IPRanges
  datadog/data_source_datadog_ip_ranges.go
Owners: @DataDog/integrations-tools-and-libraries

Fix data source for IPRanges (#542)
  datadog/data_source_datadog_ip_ranges.go
Owners: @DataDog/integrations-tools-and-libraries

Remove recorder where is not needed
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix indent in datadog_monitor
  website/docs/r/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

fix tests
  datadog/cassettes/TestAccDatadogDashboardDistribution.yaml
  datadog/cassettes/TestAccDatadogDashboardDistribution_import.yaml
  datadog/cassettes/TestAccDatadogOrderedDashboard.yaml
  datadog/provider_test.go
  datadog/resource_datadog_dashboard_distribution_test.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

increase timeout
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

increase timeout
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

increase timeout
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Update datadog/provider_test.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

incorporate feedback
  GNUmakefile
  datadog/provider_test.go
  datadog/resource_datadog_dashboard_alert_graph_test.go
  datadog/resource_datadog_dashboard_alert_value_test.go
  datadog/resource_datadog_dashboard_change_test.go
  datadog/resource_datadog_dashboard_check_status_test.go
  datadog/resource_datadog_dashboard_distribution_test.go
  datadog/resource_datadog_dashboard_event_stream_test.go
  datadog/resource_datadog_dashboard_event_timeline_test.go
  datadog/resource_datadog_dashboard_free_text_test.go
  datadog/resource_datadog_dashboard_heatmap_test.go
  datadog/resource_datadog_dashboard_hostmap_test.go
  datadog/resource_datadog_dashboard_iframe_test.go
  datadog/resource_datadog_dashboard_image_test.go
  datadog/resource_datadog_dashboard_log_stream_test.go
  datadog/resource_datadog_dashboard_manage_status_test.go
  datadog/resource_datadog_dashboard_note_test.go
  datadog/resource_datadog_dashboard_query_table_test.go
  datadog/resource_datadog_dashboard_query_value_test.go
  datadog/resource_datadog_dashboard_scatterplot_test.go
  datadog/resource_datadog_dashboard_service_map_test.go
  datadog/resource_datadog_dashboard_slo_test.go
  datadog/resource_datadog_dashboard_timeseries_test.go
  datadog/resource_datadog_dashboard_top_list_test.go
  datadog/resource_datadog_dashboard_trace_service_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

incorporate feedback
  datadog/resource_datadog_dashboard_change_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Upgrade changelog
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

docs/dashboard: correct argument name for event_timeline_definition
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Upgrade Go Client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_monitor_device_id.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_device_id.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Incorporate feedback
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries
