Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

validate enums
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/synthetics-app

Remove `ok` from thresholds example
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

wip
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_MmlUpdate.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_MmlUpdate.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix fmt
  datadog/data_source_datadog_dashboard.go
  datadog/data_source_datadog_dashboard_list.go
  datadog/data_source_datadog_ip_ranges.go
  datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_permissions.go
  datadog/data_source_datadog_role.go
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_synthetics_locations.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/team-aaa, @DataDog/monitor-app

Remove separate section about GO requirements
  README.md
Owners: @DataDog/integrations-tools-and-libraries

Remove separate section about GO requirements (#800)
  README.md
Owners: @DataDog/integrations-tools-and-libraries

[format] Update formatting after running make fmt
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Allow dependabot to check go packages
  .github/dependabot.yml
Owners: @DataDog/integrations-tools-and-libraries

Add validateEnumValue util function
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/validators.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/synthetics-app

convert to proper type, inline err in if
  datadog/validators.go
Owners: @DataDog/integrations-tools-and-libraries

couple fixes
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/synthetics-app

Validate enum values (#794)
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/validators.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/synthetics-app

goftm/imports
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_security_monitoring_rules_test.go
  datadog/resource_datadog_integration_aws_log_collection_test.go
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_archive_order_test.go
  datadog/resource_datadog_metric_metadata_test.go
  datadog/resource_datadog_security_monitoring_default_rule_test.go
  datadog/resource_datadog_security_monitoring_rule_test.go
  datadog/resource_datadog_synthetics_global_variable_test.go
  datadog/resource_datadog_synthetics_private_location.go
  datadog/resource_datadog_synthetics_private_location_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query

goftm/imports (#802)
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_security_monitoring_rules_test.go
  datadog/resource_datadog_integration_aws_log_collection_test.go
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_archive_order_test.go
  datadog/resource_datadog_metric_metadata_test.go
  datadog/resource_datadog_security_monitoring_default_rule_test.go
  datadog/resource_datadog_security_monitoring_rule_test.go
  datadog/resource_datadog_synthetics_global_variable_test.go
  datadog/resource_datadog_synthetics_private_location.go
  datadog/resource_datadog_synthetics_private_location_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query

Add descriptions to schema
  datadog/data_source_datadog_dashboard.go
  datadog/data_source_datadog_dashboard_list.go
  datadog/data_source_datadog_ip_ranges.go
  datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_permissions.go
  datadog/data_source_datadog_role.go
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_synthetics_locations.go
  datadog/provider.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_azure.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_integration_pagerduty_service_object.go
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_logs_index_order.go
  datadog/resource_datadog_logs_integration_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_private_location.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_user.go
  datadog/validators.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

fmt and revert provider changes
  datadog/data_source_datadog_dashboard.go
  datadog/data_source_datadog_dashboard_list.go
  datadog/data_source_datadog_ip_ranges.go
  datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_permissions.go
  datadog/data_source_datadog_role.go
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_synthetics_locations.go
  datadog/provider.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_azure.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_integration_pagerduty_service_object.go
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_logs_index_order.go
  datadog/resource_datadog_logs_integration_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_private_location.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_user.go
  datadog/validators.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Add dashboard descriptions
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_timeboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Apply suggestions from code review
  datadog/data_source_datadog_ip_ranges.go
  datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/dashboards

Apply suggestions from code review
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_azure.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_timeboard.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/dashboards, @DataDog/synthetics-app, @DataDog/team-aaa

Formatting fixes
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_screenboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add docs to prettier ignore
  .prettierignore
Owners: @DataDog/integrations-tools-and-libraries

[monitor] Fix updating priorities.
  datadog/cassettes/TestAccDatadogMonitor_Basic_float_int.yaml
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.yaml
  datadog/cassettes/TestAccDatadogMonitor_Updated.yaml
  datadog/cassettes/TestAccDatadogMonitor_UpdatedToRemoveTags.yaml
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

[monitor] Fix updating priorities. (#804)
  datadog/cassettes/TestAccDatadogMonitor_Basic_float_int.yaml
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.yaml
  datadog/cassettes/TestAccDatadogMonitor_Updated.yaml
  datadog/cassettes/TestAccDatadogMonitor_UpdatedToRemoveTags.yaml
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Remove `ok` from thresholds example (#797)
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update vendor
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_config_variable.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_config_variable_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_config.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_host_hour.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_rum_sessions_hour.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_date.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_date_org.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_filter.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_filter_action.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_rule_create_payload.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_rule_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_rule_update_payload.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Update vendor (#806)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_config_variable.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_config_variable_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_config.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_host_hour.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_rum_sessions_hour.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_date.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_date_org.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_filter.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_filter_action.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_rule_create_payload.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_rule_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_security_monitoring_rule_update_payload.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Add descriptions to schema (#803)
  datadog/data_source_datadog_dashboard.go
  datadog/data_source_datadog_dashboard_list.go
  datadog/data_source_datadog_ip_ranges.go
  datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_permissions.go
  datadog/data_source_datadog_role.go
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_synthetics_locations.go
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_azure.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_integration_pagerduty_service_object.go
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_logs_index_order.go
  datadog/resource_datadog_logs_integration_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_private_location.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_timeboard.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

regenerate documentation from latest master
  docs/data-sources/dashboard.md
  docs/data-sources/dashboard_list.md
  docs/data-sources/ip_ranges.md
  docs/data-sources/monitor.md
  docs/data-sources/permissions.md
  docs/data-sources/role.md
  docs/data-sources/security_monitoring_rules.md
  docs/data-sources/synthetics_locations.md
  docs/index.md
  docs/resources/dashboard.md
  docs/resources/dashboard_list.md
  docs/resources/downtime.md
  docs/resources/integration_aws.md
  docs/resources/integration_aws_lambda_arn.md
  docs/resources/integration_aws_log_collection.md
  docs/resources/integration_azure.md
  docs/resources/integration_gcp.md
  docs/resources/integration_pagerduty.md
  docs/resources/integration_pagerduty_service_object.md
  docs/resources/logs_archive.md
  docs/resources/logs_archive_order.md
  docs/resources/logs_custom_pipeline.md
  docs/resources/logs_index.md
  docs/resources/logs_index_order.md
  docs/resources/logs_integration_pipeline.md
  docs/resources/logs_pipeline_order.md
  docs/resources/metric_metadata.md
  docs/resources/monitor.md
  docs/resources/role.md
  docs/resources/screenboard.md
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md
  docs/resources/service_level_objective.md
  docs/resources/synthetics_global_variable.md
  docs/resources/synthetics_private_location.md
  docs/resources/synthetics_test.md
  docs/resources/timeboard.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Add top level descriptions
  datadog/data_source_datadog_dashboard.go
  datadog/data_source_datadog_dashboard_list.go
  datadog/data_source_datadog_ip_ranges.go
  datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_permissions.go
  datadog/data_source_datadog_role.go
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_synthetics_locations.go
  datadog/provider.go
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_azure.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_integration_pagerduty_service_object.go
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_logs_index_order.go
  datadog/resource_datadog_logs_integration_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_role.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_private_location.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_timeboard.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Add top level descriptions (#809)
  datadog/data_source_datadog_dashboard.go
  datadog/data_source_datadog_dashboard_list.go
  datadog/data_source_datadog_ip_ranges.go
  datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_permissions.go
  datadog/data_source_datadog_role.go
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_synthetics_locations.go
  datadog/provider.go
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_azure.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_integration_pagerduty_service_object.go
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_logs_index_order.go
  datadog/resource_datadog_logs_integration_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_role.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_private_location.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_timeboard.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Fix typo: `updateDashboar{,d}Lists`
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix typo: `updateDashboar{,d}Lists` (#810)
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Remove deprecated exists handler
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_integration_pagerduty_service_object.go
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_logs_index_order.go
  datadog/resource_datadog_logs_integration_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_role.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_timeboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query

Remove specific silenced tests
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.freeze
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.yaml
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Remove specific silenced tests (#812)
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.freeze
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.freeze
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.yaml
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Review fix
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add more explicit browser variables naming
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Documentation for browser and config variables
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add support for config variables
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update go client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_key_management.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_create_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_create_data.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_create_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_relationships.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_response_included_item.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_update_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_update_data.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_key_update_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_application_keys_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_full_application_key.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_full_application_key_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_list_application_keys_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_partial_application_key.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_partial_application_key_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries
