Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

Set version
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Set TF version
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Update datadog/provider.go
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Update User Agent
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Update User Agent
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

fix tests
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

linting
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Add default to deprecated `count` field to avoid sending 0
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Try converting similar structs
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Instead of casting, we are now merging both methods
  GNUmakefile
  datadog/provider.go
  datadog/resource_datadog_service_level_objective.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

add comment
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

update monitor
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

add cassettes
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
Owners: @DataDog/integrations-tools-and-libraries

Use construtors
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

new cassettes
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Added column revamp properties to dashboard log stream
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

integration_pagerduty: fix perpetual diff in api_token
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_integration_pagerduty_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

update cassettes
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.yaml
Owners: @DataDog/integrations-tools-and-libraries

remove redacted api_key from TestDatadogIntegrationPagerduty_import
  datadog/cassettes/TestDatadogIntegrationPagerduty_import.yaml
  datadog/import_datadog_integration_pagerduty_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Added properties to tests and rerecorded cassettes
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

fix fmt
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Added attribute assertions
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Added new properties to dashboard docs
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Made sort use TypeList instead of Map
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fixed docs spacing
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add proper update to AWS resource
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

remove warning from docs about updates
  website/docs/r/integration_aws.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Update cassettes
  datadog/cassettes/TestAccDatadogIntegrationAWS.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update api docs links
  website/docs/r/dashboard.html.markdown
  website/docs/r/integration_aws.html.markdown
  website/docs/r/integration_aws_lambda_arn.html.markdown
  website/docs/r/integration_aws_log_collection.html.markdown
  website/docs/r/integration_gcp.html.markdown
  website/docs/r/integration_pagerduty.html.markdown
  website/docs/r/logs_custom_pipeline.html.markdown
  website/docs/r/logs_index.html.markdown
  website/docs/r/logs_index_order.html.markdown
  website/docs/r/logs_integration_pipeline.html.markdown
  website/docs/r/logs_pipeline_order.html.markdown
  website/docs/r/monitor.html.markdown
  website/docs/r/service_level_objective.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/monitor-app

Add lambda arn docs to sidebar
  website/datadog.erb
Owners: @DataDog/integrations-tools-and-libraries

Update api docs links and add lambda arn to docs (#522)
  website/datadog.erb
  website/docs/r/dashboard.html.markdown
  website/docs/r/integration_aws.html.markdown
  website/docs/r/integration_aws_lambda_arn.html.markdown
  website/docs/r/integration_aws_log_collection.html.markdown
  website/docs/r/integration_gcp.html.markdown
  website/docs/r/integration_pagerduty.html.markdown
  website/docs/r/logs_custom_pipeline.html.markdown
  website/docs/r/logs_index.html.markdown
  website/docs/r/logs_index_order.html.markdown
  website/docs/r/logs_integration_pipeline.html.markdown
  website/docs/r/logs_pipeline_order.html.markdown
  website/docs/r/monitor.html.markdown
  website/docs/r/service_level_objective.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/monitor-app

convert else if into switch statement
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Add support for tags_execution
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add support for tags_execution - Doc update
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

clean
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Make note about changing external_id outside terraform
  website/docs/r/integration_aws.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Add full AWS Update support (#521)
  datadog/cassettes/TestAccDatadogIntegrationAWS.yaml
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_test.go
  website/docs/r/integration_aws.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Add missing doc to nav and alphabetical order
  datadog/provider.go
  website/datadog.erb
Owners: @DataDog/integrations-tools-and-libraries

update version + changlog
  CHANGELOG.md
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/.gitignore
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/DEVELOPMENT.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_logs_archives.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/client.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/configuration.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_create_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_create_request_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_create_request_definition.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_create_request_destination.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_definition.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_destination.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_destination_azure.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_destination_azure_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_destination_gcs.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_destination_gcs_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_destination_s3.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_destination_s3_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_integration_azure.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_integration_gcs.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_integration_s3.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_state.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archives.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_relationship_to_role.go
  vendor/github.com/DataDog/datadog-api-client-go/run-tests.sh
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Remove deprecationMessage
  datadog/resource_datadog_integration_pagerduty.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
