Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

update docs and add test screnario
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

recors cassettes for new test case
  datadog/cassettes/TestAccDatadogSyntheticsSSLMissingTagsAttributeTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsSSLMissingTagsAttributeTest_Basic.yaml
Owners: @DataDog/integrations-tools-and-libraries

lint
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Set tags field for synthetics resource to optional (#712)
  datadog/cassettes/TestAccDatadogSyntheticsSSLMissingTagsAttributeTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsSSLMissingTagsAttributeTest_Basic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add per operation server URL configuration for IPRangesApiService (#713)
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

update vendor
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_event.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_logs_list_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_monitor_options.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_request_certificate.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_request_certificate_item.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_timeseries_widget_definition.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_date.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_date_org.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_trace_hour.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/utils.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_aggregate_sort.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_create_request_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/utils.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

add include_tags in the provider
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

add include_tags in the doc
  docs/resources/logs_archive.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

update cassette of log archives
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
Owners: @DataDog/integrations-tools-and-libraries

update vendor (#714)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_event.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_logs_list_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_monitor_options.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_request_certificate.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_request_certificate_item.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_timeseries_widget_definition.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_date.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_date_org.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_summary_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_trace_hour.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/utils.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_aggregate_sort.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_archive_create_request_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/utils.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update go client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_step_type.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update go client (#717)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_step_type.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Fix client certificate options
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Test if a new monitor trigger a force recreate on slo
  datadog/cassettes/TestAccDatadogServiceLevelObjective_NewMonitorForceRecreate.freeze
  datadog/cassettes/TestAccDatadogServiceLevelObjective_NewMonitorForceRecreate.yaml
  datadog/resource_datadog_service_level_objective_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add second test: monitor -> slo -> dashboard force recreate
  .github/workflows/test.yml
  datadog/cassettes/TestAccDatadogDashboard_NewMonitorForceRecreate.freeze
  datadog/cassettes/TestAccDatadogDashboard_NewMonitorForceRecreate.yaml
  datadog/provider_test.go
  datadog/resource_datadog_dashboard_dependencies_test.go
  datadog/resource_datadog_service_level_objective_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app

Try to fix test suite for macos and windows
  .github/workflows/test.yml
  datadog/resource_datadog_dashboard_dependencies_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add dependencies between monitor, SLO & dashboards
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_service_level_objective.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app

fix review comments and rebase
  datadog/cassettes/TestAccDatadogDashboard_NewMonitorForceRecreate.freeze
  datadog/cassettes/TestAccDatadogDashboard_NewMonitorForceRecreate.yaml
  datadog/cassettes/TestAccDatadogServiceLevelObjective_NewMonitorForceRecreate.freeze
  datadog/cassettes/TestAccDatadogServiceLevelObjective_NewMonitorForceRecreate.yaml
  datadog/resource_datadog_dashboard_dependencies_test.go
  datadog/resource_datadog_service_level_objective_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app

add monitor priority to resource
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

add monitor priority
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

update description of include_tags
  docs/resources/logs_archive.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

[Synthetics] Fix client certificate and update cassettes
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add documentation for dns server and client certificate
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add support to dnsServer and client certificate options (#711)
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add include_tags in the log external archives (#715)
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_test.go
  docs/resources/logs_archive.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Update go client
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Update go client (#722)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Changelog for 2.14
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Changelog for 2.14 (#724)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Handle 0 in monitor new_host_delay
  datadog/cassettes/TestAccDatadogMonitor_ZeroDelay.freeze
  datadog/cassettes/TestAccDatadogMonitor_ZeroDelay.yaml
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Handle 0 in monitor new_host_delay (#726)
  datadog/cassettes/TestAccDatadogMonitor_ZeroDelay.freeze
  datadog/cassettes/TestAccDatadogMonitor_ZeroDelay.yaml
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fix indentation in documentation
  .azure-pipelines/all.yml
  .github/ISSUE_TEMPLATE.md
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/data-sources/dashboard_list.md
  docs/data-sources/ip_ranges.md
  docs/data-sources/monitor.md
  docs/data-sources/synthetics_locations.md
  docs/index.md
  docs/resources/dashboard.md
  docs/resources/dashboard_list.md
  docs/resources/downtime.md
  docs/resources/integration_aws.md
  docs/resources/integration_aws_lambda_arn.md
  docs/resources/integration_aws_log_collection.md
  docs/resources/integration_azure.md
  docs/resources/integration_gcp.md
  docs/resources/integration_pagerduty.md
  docs/resources/integration_pagerduty_service_object.md
  docs/resources/logs_archive.md
  docs/resources/logs_archive_order.md
  docs/resources/logs_custom_pipeline.md
  docs/resources/logs_index.md
  docs/resources/logs_index_order.md
  docs/resources/logs_integration_pipeline.md
  docs/resources/logs_pipeline_order.md
  docs/resources/metric_metadata.md
  docs/resources/monitor.md
  docs/resources/screenboard.md
  docs/resources/service_level_objective.md
  docs/resources/synthetics_global_variable.md
  docs/resources/synthetics_test.md
  docs/resources/timeboard.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

replace 4d63.com/tz with time/tzdata
  LICENSE-3rdparty.csv
  datadog/resource_datadog_downtime.go
  go.mod
  go.sum
  vendor/4d63.com/embedfiles/LICENSE
  vendor/4d63.com/embedfiles/README.md
  vendor/4d63.com/embedfiles/main.go
  vendor/4d63.com/tz/.gitignore
  vendor/4d63.com/tz/.travis.yml
  vendor/4d63.com/tz/LICENSE
  vendor/4d63.com/tz/README.md
  vendor/4d63.com/tz/go.mod
  vendor/4d63.com/tz/go.sum
  vendor/4d63.com/tz/tools.go
  vendor/4d63.com/tz/tz.go
  vendor/4d63.com/tz/zoneinfo.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

replace 4d63.com/tz with time/tzdata (#728)
  LICENSE-3rdparty.csv
  datadog/resource_datadog_downtime.go
  go.mod
  go.sum
  vendor/4d63.com/embedfiles/LICENSE
  vendor/4d63.com/embedfiles/README.md
  vendor/4d63.com/embedfiles/main.go
  vendor/4d63.com/tz/.gitignore
  vendor/4d63.com/tz/.travis.yml
  vendor/4d63.com/tz/LICENSE
  vendor/4d63.com/tz/README.md
  vendor/4d63.com/tz/go.mod
  vendor/4d63.com/tz/go.sum
  vendor/4d63.com/tz/tools.go
  vendor/4d63.com/tz/tz.go
  vendor/4d63.com/tz/zoneinfo.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fix indentation in documentation (#725)
  .azure-pipelines/all.yml
  .github/ISSUE_TEMPLATE.md
  .github/workflows/release.yml
  .github/workflows/test.yml
  .goreleaser.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/data-sources/dashboard_list.md
  docs/data-sources/ip_ranges.md
  docs/data-sources/monitor.md
  docs/data-sources/synthetics_locations.md
  docs/index.md
  docs/resources/dashboard.md
  docs/resources/dashboard_list.md
  docs/resources/downtime.md
  docs/resources/integration_aws.md
  docs/resources/integration_aws_lambda_arn.md
  docs/resources/integration_aws_log_collection.md
  docs/resources/integration_azure.md
  docs/resources/integration_gcp.md
  docs/resources/integration_pagerduty.md
  docs/resources/integration_pagerduty_service_object.md
  docs/resources/logs_archive.md
  docs/resources/logs_archive_order.md
  docs/resources/logs_custom_pipeline.md
  docs/resources/logs_index.md
  docs/resources/logs_index_order.md
  docs/resources/logs_integration_pipeline.md
  docs/resources/logs_pipeline_order.md
  docs/resources/metric_metadata.md
  docs/resources/monitor.md
  docs/resources/screenboard.md
  docs/resources/service_level_objective.md
  docs/resources/synthetics_global_variable.md
  docs/resources/synthetics_test.md
  docs/resources/timeboard.md
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/monitor-app, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

add monitor priority
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

fix type
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Bump prettier dep
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update .pre-commit-config.yaml (#732)
  .pre-commit-config.yaml
Owners: @DataDog/integrations-tools-and-libraries
