Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

v2.9.0
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Cleanup after v2.9.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Tests Cleanup
  datadog/resource_datadog_dashboard_alert_graph_test.go
  datadog/resource_datadog_dashboard_alert_value_test.go
  datadog/resource_datadog_dashboard_change_test.go
  datadog/resource_datadog_dashboard_check_status_test.go
  datadog/resource_datadog_dashboard_distribution_test.go
  datadog/resource_datadog_dashboard_event_stream_test.go
  datadog/resource_datadog_dashboard_event_timeline_test.go
  datadog/resource_datadog_dashboard_free_text_test.go
  datadog/resource_datadog_dashboard_heatmap_test.go
  datadog/resource_datadog_dashboard_hostmap_test.go
  datadog/resource_datadog_dashboard_iframe_test.go
  datadog/resource_datadog_dashboard_image_test.go
  datadog/resource_datadog_dashboard_log_stream_test.go
  datadog/resource_datadog_dashboard_manage_status_test.go
  datadog/resource_datadog_dashboard_note_test.go
  datadog/resource_datadog_dashboard_query_table_test.go
  datadog/resource_datadog_dashboard_query_value_test.go
  datadog/resource_datadog_dashboard_scatterplot_test.go
  datadog/resource_datadog_dashboard_service_map_test.go
  datadog/resource_datadog_dashboard_slo_test.go
  datadog/resource_datadog_dashboard_test.go
  datadog/resource_datadog_dashboard_timeseries_test.go
  datadog/resource_datadog_dashboard_top_list_test.go
  datadog/resource_datadog_dashboard_trace_service_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add excluded_regions to datadog_integration_aws
  datadog/cassettes/TestAccDatadogIntegrationAWS.yaml
  datadog/cassettes/TestAccDatadogIntegrationAWSLambdaArn.yaml
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.yaml
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_test.go
  website/docs/r/integration_aws.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Update datadog/resource_datadog_integration_aws_test.go
  datadog/resource_datadog_integration_aws_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Add ServiceMap widget to datadog_dashboard
  datadog/cassettes/TestAccDatadogDashboardServiceMap.yaml
  datadog/cassettes/TestAccDatadogDashboardServiceMap_import.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_service_map_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add show_legend and legend_size fields to Distribution widget to datadog_dashboard
  datadog/cassettes/TestAccDatadogDashboardDistribution.yaml
  datadog/cassettes/TestAccDatadogDashboardDistribution_import.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_distribution_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add logset test scenario for log stream widget
  datadog/cassettes/TestAccDatadogDashboardLogStream.yaml
  datadog/cassettes/TestAccDatadogDashboardLogStreamLogSet.yaml
  datadog/cassettes/TestAccDatadogDashboardLogStreamLogSet_import.yaml
  datadog/cassettes/TestAccDatadogDashboardLogStream_import.yaml
  datadog/resource_datadog_dashboard_log_stream_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update Documentation
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add event, legend_size and show_legend fields to heatmap widget
  datadog/cassettes/TestAccDatadogDashboardHeatMap.yaml
  datadog/cassettes/TestAccDatadogDashboardHeatMap_import.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_heatmap_test.go
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add network_query and rum_query to timeseries widget
  datadog/cassettes/TestAccDatadogDashboardTimeseries.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_timeseries_test.go
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update function name
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Apply suggestions from code review
  datadog/resource_datadog_dashboard_log_stream_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

record cassettes
  datadog/cassettes/TestAccDatadogDashboardLogStream.yaml
  datadog/cassettes/TestAccDatadogDashboardLogStreamLogSet.yaml
  datadog/cassettes/TestAccDatadogDashboardLogStreamLogSet_import.yaml
  datadog/cassettes/TestAccDatadogDashboardLogStream_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

increase timeout
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Update terraform azure resource
  datadog/resource_datadog_integration_azure.go
Owners: @DataDog/integrations-tools-and-libraries

Fix error
  datadog/resource_datadog_integration_azure.go
Owners: @DataDog/integrations-tools-and-libraries

Add docs
  website/datadog.erb
  website/docs/r/integration_azure.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

Add tests
  datadog/resource_datadog_integration_azure_test.go
Owners: @DataDog/integrations-tools-and-libraries

increase timeout and add readonly url field to dashboard
  GNUmakefile
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update doc
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

trying to fix tests
  datadog/resource_datadog_dashboard.go
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update Changelog
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Update error handling
  datadog/resource_datadog_integration_azure.go
Owners: @DataDog/integrations-tools-and-libraries

Make url a computed field
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update Changelog
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Workaround for golang/go#21881
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Build method implemented for update
  datadog/resource_datadog_integration_azure.go
Owners: @DataDog/integrations-tools-and-libraries

Implement build method in create and delete
  datadog/resource_datadog_integration_azure.go
Owners: @DataDog/integrations-tools-and-libraries

Add check for optional host filters in read
  datadog/resource_datadog_integration_azure.go
Owners: @DataDog/integrations-tools-and-libraries

v2.10.0
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Cleanup after v2.10.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Impl S3 Archives
  datadog/fixtures/logs/archives/s3/create.json
  datadog/resource_datadog_logs_archives.go
  datadog/resource_datadog_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

[logs][archives] Impl GCS archives
  datadog/fixtures/logs/archives/gcs/create.json
  datadog/resource_datadog_logs_archives.go
  datadog/resource_datadog_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

[logs][archives] Add update test
  datadog/fixtures/logs/archives/s3/update.json
  datadog/resource_datadog_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

[logs][archives] Create/Delete for azure archive
  datadog/fixtures/logs/archives/azure/create.json
  datadog/resource_datadog_logs_archives.go
  datadog/resource_datadog_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Format archives file
  datadog/resource_datadog_logs_archives.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Add documentation for archives
  website/docs/r/logs_archives.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake
