Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

Set monitor id in data source
  datadog/data_source_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add test for monitor datasource
  datadog/data_source_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add cassette
  datadog/cassettes/TestAccDatadogMonitorDatasource.yaml
Owners: @DataDog/integrations-tools-and-libraries

remove time
  datadog/cassettes/TestAccDatadogMonitorDatasource.yaml
  datadog/data_source_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add datasource for monitors (#569)
  datadog/cassettes/TestAccDatadogMonitorDatasource.yaml
  datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_monitor_test.go
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

New assertion schema
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Start tests
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fixing tests, add missing cassettes
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Try test workaround
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Try to use the new state
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix tests
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Handle review
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add support for browser test steps
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Remove comment
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add initial goreleaser configuration
  .gitignore
  .goreleaser.yml
Owners: @DataDog/integrations-tools-and-libraries

Add initial goreleaser configuration (#578)
  .gitignore
  .goreleaser.yml
Owners: @DataDog/integrations-tools-and-libraries

Respect TF_LOG for debug output
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Synchronize state and diff function for description field
  datadog/resource_datadog_service_level_objective.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

diff trimmed values
  datadog/resource_datadog_service_level_objective.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Other test fix
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Rename variable
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Sorting is not necessary for sets
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update documentation
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Put conditional in else
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add log messages
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add doc about new assertion format
  website/docs/r/synthetics.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Mention imports in logs archive docs
  website/docs/r/logs_archive.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Deprecate pagerduty integration
  datadog/resource_datadog_integration_pagerduty.go
  website/docs/r/integration_pagerduty.html.markdown
  website/docs/r/integration_pagerduty_service_object.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Add doc for monitor datasource
  datadog/data_source_datadog_monitor.go
  website/docs/d/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

fix cp and add to erb
  website/datadog.erb
  website/docs/d/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

Update website/datadog.erb
  website/datadog.erb
Owners: @DataDog/integrations-tools-and-libraries

Add doc for monitor datasource (#585)
  datadog/data_source_datadog_monitor.go
  website/datadog.erb
  website/docs/d/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add support for basicAuth and query in Synthetics resource
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update doc
  website/docs/r/synthetics.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix pagerduty integration tests
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.yaml
  datadog/resource_datadog_integration_pagerduty_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Update go client to beta7
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/LICENSE-3rdparty.csv
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_hosts.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_usage_metering.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/configuration.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_event.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_event_query_definition.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_log_query_definition.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_details.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_details_sub_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_options.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_test_options_retry.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_tick_interval.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_custom_reports_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_custom_reports_data.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_custom_reports_meta.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_custom_reports_page.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_custom_reports_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_reports_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_sort.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_sort_direction.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_specified_custom_reports_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_specified_custom_reports_data.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_specified_custom_reports_meta.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_specified_custom_reports_page.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_specified_custom_reports_response.go
  vendor/github.com/DataDog/datadog-api-client-go/go.mod
  vendor/github.com/DataDog/datadog-api-client-go/go.sum
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/github.com/kr/text/go.mod
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Properly setup version.ProviderVersion when using goreleaser
  .goreleaser.yml
Owners: @DataDog/integrations-tools-and-libraries

Properly setup version.ProviderVersion when using goreleaser (#589)
  .goreleaser.yml
Owners: @DataDog/integrations-tools-and-libraries

Prepare changelog for 2.12.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Fix downtime bugfix description
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
