Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

use apiKey and appKey variables to configure official client
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

restore validation success log
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

document api/app keys as required unless validate = false
  website/docs/index.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

provider: add "validate" option that can disable validation (#474)
  datadog/provider.go
  website/docs/index.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

update synthetics test to include min_failure_duration and monitor id
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

revert provider.go and update synthetics resource
  datadog/provider.go
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

update synthetics test test
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

update cassettes
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_importBasic.yaml
Owners: @DataDog/integrations-tools-and-libraries

bump go client to commit #526a306
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

update cassettes
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.yaml
Owners: @DataDog/integrations-tools-and-libraries

update aws logs collection resource to use datadog go client
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.yaml
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_aws_log_collection_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

update log processor custom pipelin e
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Update test and fix failing tests
  datadog/cassettes/TestAccDatadogLogsPipeline_basic.yaml
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

fix test and update cassettes
  datadog/cassettes/TestAccDatadogLogsPipeline_basic.yaml
  datadog/resource_datadog_logs_custom_pipeline_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

use schema.ImportStatePassthrough for id-only imports
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_timeboard.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/team-aaa

rm whitespace change
  datadog/resource_datadog_integration_aws_log_collection.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

update test and cassettes
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

revert dashboard_test changes. Fix failing tests and rerecord cassettes
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

refactor dashbaords resource
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update tests and cassettes to include `indexes`
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update logs custom pipeline resource and generate cassettes
  datadog/cassettes/TestAccLogsCustomPipeline_importBasic.yaml
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

make sure the aws host-tags and filters are never nil
  datadog/resource_datadog_integration_aws.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

remove manual type setting
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add support for allow_insecure and rerecord cassettes
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

add allow_insecure option to the terraform html
  website/docs/r/synthetics.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

update format
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Do not set empty structures in request to create aws integration
  datadog/resource_datadog_integration_aws.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

updating go-datadog-api v2.29.0, fix int issue dash id
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

best practices, cleanup
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_service_level_objective.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations, @DataDog/logs-intake, @DataDog/monitor-app

clean u
  datadog/resource_datadog_integration_aws.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

use getters
  datadog/resource_datadog_integration_aws_lambda_arn.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

new cassette ; :
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.yaml
Owners: @DataDog/integrations-tools-and-libraries

fix tests
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fix test
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

init models with New methods
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

generate cassettes for import tests, except TestAccLogsCustomPipeline_importBasic
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsSSLTest_importBasic.yaml
  datadog/cassettes/TestDatadogDowntime_import.yaml
  datadog/cassettes/TestDatadogIntegrationPagerduty_import.yaml
  datadog/cassettes/TestDatadogMonitor_import.yaml
  datadog/cassettes/TestDatadogMonitor_import_no_recovery.yaml
  datadog/cassettes/TestDatadogUser_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

generate cassettes for TestDatadogDashListImport
  datadog/cassettes/TestDatadogDashListImport.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update make task to include new client + update README
  GNUmakefile
  README.md
Owners: @DataDog/integrations-tools-and-libraries

update cassettes and test
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

New userAgent Header
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries
