Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Prevent nil pointer dereference in dashboard import
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Prevent nil pointer dereference in dashboard import (#630)
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add docs
  datadog/resource_datadog_dashboard.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Share schema
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Typo
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Support multi_compute field in log_query (#629)
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_timeseries_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add support for synthetics tcp test
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add tcp example in synthetics.md doc
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix options and options_list
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix options_list
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Update browser tests for options_list
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Review fixes
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix method name and remove obsolete cassettes
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix build error with go 1.15
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fix build error with go 1.15 (#634)
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

[Synthetics] Fix synthetics docs
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add options_list to replace options (#624)
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add options_list to replace options
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Review fixes
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix local state
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add docs for options_list
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Update browser tests for options_list
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix build error with go 1.15 (#634)
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

[Synthetics] Fix method name and remove obsolete cassettes
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add retry and monitor options to options_list
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix options and options_list
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Review fixes
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix options_list
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix synthetics docs
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add docs for retry and monitor_options
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add retry and monitor options to options_list
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add docs for retry and monitor_options
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Change retry and monitor_options for type list
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

replace deprecated assertions field used in test
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

fix failing tests due to options deprecation
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add subtype TCP test support for Synthetics Api test (#632)
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsTCPTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add support for steps for browser tests
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add documentation for browser test steps
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Validate monitor in pre-flight
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

[Synthetics] Fix docs and add steps to browser import
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
