Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

Run all tests in parallel, except tests for integrations resouces
  datadog/import_datadog_logs_pipeline_test.go
  datadog/import_datadog_monitor_test.go
  datadog/import_datadog_user_test.go
  datadog/resource_datadog_dashboard_list_test.go
  datadog/resource_datadog_dashboard_test.go
  datadog/resource_datadog_downtime_test.go
  datadog/resource_datadog_logs_archive_test.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  datadog/resource_datadog_metric_metadata_test.go
  datadog/resource_datadog_monitor_test.go
  datadog/resource_datadog_screenboard_test.go
  datadog/resource_datadog_service_level_objective_test.go
  datadog/resource_datadog_synthetics_test_test.go
  datadog/resource_datadog_timeboard_test.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake, @DataDog/monitor-app, @DataDog/team-aaa, @DataDog/dashboards, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

tags and license update
  LICENSE-3rdparty.csv
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

Run all tests in parallel, except tests for integrations resouces (#609)
  datadog/import_datadog_logs_pipeline_test.go
  datadog/import_datadog_monitor_test.go
  datadog/import_datadog_user_test.go
  datadog/resource_datadog_dashboard_list_test.go
  datadog/resource_datadog_dashboard_test.go
  datadog/resource_datadog_downtime_test.go
  datadog/resource_datadog_logs_archive_test.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  datadog/resource_datadog_metric_metadata_test.go
  datadog/resource_datadog_monitor_test.go
  datadog/resource_datadog_screenboard_test.go
  datadog/resource_datadog_service_level_objective_test.go
  datadog/resource_datadog_synthetics_test_test.go
  datadog/resource_datadog_timeboard_test.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake, @DataDog/monitor-app, @DataDog/team-aaa, @DataDog/dashboards, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Don't allow empty content in note widget (#607)
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_note_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix DiffSuppressFunc for downtime start
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fix pagerduty integration test flakes
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.yaml
  datadog/resource_datadog_integration_pagerduty_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Also fix import test
  datadog/cassettes/TestDatadogIntegrationPagerduty_import.yaml
  datadog/import_datadog_integration_pagerduty_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Fix DiffSuppressFunc for downtime start (#611)
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Also fix the individual service objects test
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.yaml
  datadog/resource_datadog_integration_pagerduty_service_object_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Fix pagerduty integration test flakes (#612)
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.yaml
  datadog/cassettes/TestDatadogIntegrationPagerduty_import.yaml
  datadog/import_datadog_integration_pagerduty_test.go
  datadog/resource_datadog_integration_pagerduty_service_object_test.go
  datadog/resource_datadog_integration_pagerduty_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Fix the most flaky tests by providing unique test entity names
  datadog/cassettes/TestAccDatadogIntegrationAWS.freeze
  datadog/cassettes/TestAccDatadogIntegrationAWS.yaml
  datadog/cassettes/TestAccDatadogIntegrationAWSLambdaArn.freeze
  datadog/cassettes/TestAccDatadogIntegrationAWSLambdaArn.yaml
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.freeze
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.yaml
  datadog/cassettes/TestAccDatadogIntegrationAzure.freeze
  datadog/cassettes/TestAccDatadogIntegrationAzure.yaml
  datadog/cassettes/TestAccDatadogIntegrationGCP.freeze
  datadog/cassettes/TestAccDatadogIntegrationGCP.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
  datadog/provider_test.go
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
  datadog/resource_datadog_integration_aws_log_collection_test.go
  datadog/resource_datadog_integration_aws_test.go
  datadog/resource_datadog_integration_azure_test.go
  datadog/resource_datadog_integration_gcp_test.go
  datadog/resource_datadog_logs_archive_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations, @DataDog/logs-intake

Update docs for indexes in the stream widget.
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Also use unique string in monitor datasource test
  datadog/cassettes/TestAccDatadogMonitorDatasource.freeze
  datadog/cassettes/TestAccDatadogMonitorDatasource.yaml
  datadog/data_source_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update docs for indexes in the stream widget. (#616)
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix the most flaky tests by providing unique test entity names (#615)
  datadog/cassettes/TestAccDatadogIntegrationAWS.freeze
  datadog/cassettes/TestAccDatadogIntegrationAWS.yaml
  datadog/cassettes/TestAccDatadogIntegrationAWSLambdaArn.freeze
  datadog/cassettes/TestAccDatadogIntegrationAWSLambdaArn.yaml
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.freeze
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.yaml
  datadog/cassettes/TestAccDatadogIntegrationAzure.freeze
  datadog/cassettes/TestAccDatadogIntegrationAzure.yaml
  datadog/cassettes/TestAccDatadogIntegrationGCP.freeze
  datadog/cassettes/TestAccDatadogIntegrationGCP.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
  datadog/cassettes/TestAccDatadogMonitorDatasource.freeze
  datadog/cassettes/TestAccDatadogMonitorDatasource.yaml
  datadog/data_source_datadog_monitor_test.go
  datadog/provider_test.go
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
  datadog/resource_datadog_integration_aws_log_collection_test.go
  datadog/resource_datadog_integration_aws_test.go
  datadog/resource_datadog_integration_azure_test.go
  datadog/resource_datadog_integration_gcp_test.go
  datadog/resource_datadog_logs_archive_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/logs-intake

Support metric in conditional_formats
  datadog/cassettes/TestAccDatadogDashboard_import.freeze
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.freeze
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Decrease flakiness of metric metadata tests by not running in parallel
  datadog/resource_datadog_metric_metadata_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/metrics-intake, @DataDog/metrics-query

Decrease flakiness of metric metadata tests by not running in parallel (#618)
  datadog/resource_datadog_metric_metadata_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/metrics-intake, @DataDog/metrics-query

[Synthetics] Add retry and renotify to synthetics options
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Support metric in conditional_formats (#617)
  datadog/cassettes/TestAccDatadogDashboard_import.freeze
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.freeze
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

[Synthetics] Remove retry validation
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Move user and PD integration tests to using unique entity names
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.freeze
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.freeze
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects.freeze
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.freeze
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/cassettes/TestDatadogIntegrationPagerduty_import.freeze
  datadog/cassettes/TestDatadogIntegrationPagerduty_import.yaml
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
  datadog/import_datadog_integration_pagerduty_test.go
  datadog/import_datadog_user_test.go
  datadog/resource_datadog_integration_pagerduty_service_object_test.go
  datadog/resource_datadog_integration_pagerduty_test.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations, @DataDog/team-aaa

Add downtime rrule attribute.
  datadog/cassettes/TestAccDatadogDowntime_RRule.yaml
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
  docs/resources/downtime.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add downtime rrule attribute. (#610)
  datadog/cassettes/TestAccDatadogDowntime_RRule.yaml
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
  docs/resources/downtime.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Move user and PD integration tests to using unique entity names (#620)
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.freeze
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.freeze
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects.freeze
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.freeze
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/cassettes/TestDatadogIntegrationPagerduty_import.freeze
  datadog/cassettes/TestDatadogIntegrationPagerduty_import.yaml
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
  datadog/import_datadog_integration_pagerduty_test.go
  datadog/import_datadog_user_test.go
  datadog/resource_datadog_integration_pagerduty_service_object_test.go
  datadog/resource_datadog_integration_pagerduty_test.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations, @DataDog/team-aaa

[Synthetics] Add support for retry interval
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix tiny mistakes in an error message
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix tiny mistakes in an error message (#622)
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

[Synthetics] Add options_list to replace options
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Update focs for retry
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add units for retry interval
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add retry to synthetics options (#619)
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add retry and renotify to options_list
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add docs for options_list
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add docs for retry and renotify
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix local state
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix min_location_failed parameter description
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix min_location_failed parameter description (#627)
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Review fixes
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Support multi_compute field in log_query
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_timeseries_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards
