Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

Allow retry logic in synthetics tests
  datadog/datadog_synthetics_test_structure.go
  datadog/resource_datadog_monitor_test.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_migrate.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/monitor-app

debugging
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

debugging
  datadog/provider_test.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

fixes
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

updated terraform sdk
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Replace Go Client in Monitor Resource
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Replace Go Client in AWS Intg Resource
  datadog/resource_datadog_integration_aws.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Replace Go Client in GCP Intg Resource
  datadog/resource_datadog_integration_gcp.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Replace Go Client in IP Range Resource
  datadog/data_source_datadog_ip_ranges.go
Owners: @DataDog/integrations-tools-and-libraries

WIP - Need service endpoint
  datadog/resource_datadog_integration_pagerduty.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Add aws integration lambda arn resource.
  datadog/provider.go
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
  website/docs/r/integration_aws_lambda_arn.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Add aws log collection service resource.
  datadog/provider.go
  datadog/resource_datadog_integration_aws_log_collection.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Replace Go Client in Metric Metadata Resource
  datadog/cassettes/TestAccDatadogMetricMetadata_Basic.freeze
  datadog/cassettes/TestAccDatadogMetricMetadata_Basic.yaml
  datadog/cassettes/TestAccDatadogMetricMetadata_Updated.freeze
  datadog/cassettes/TestAccDatadogMetricMetadata_Updated.yaml
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_metric_metadata_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/metrics-intake, @DataDog/metrics-query

Add monitor_options and retry to syntheticTests.options
  datadog/provider.go
  datadog/resource_datadog_synthetics_test_V0.go
  datadog/resource_datadog_synthetics_test_test.go
  website/docs/r/synthetics.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix CI tests
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Document recording cassettes, make it possible to re-record for subset of tests
  GNUmakefile
  README.md
Owners: @DataDog/integrations-tools-and-libraries

Replace Go Client in All Logs Resource
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_logs_index_order.go
  datadog/resource_datadog_logs_integration_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Update GNUmakefile
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Update GNUmakefile
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Update GNUmakefile
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Update GNUmakefile
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Update README.md
  README.md
Owners: @DataDog/integrations-tools-and-libraries

Stabilize TestDatadogDashListImport test by always creating resources in the same order
  datadog/resource_datadog_dashboard_list_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add a note about making cassette-friendly tests
  README.md
Owners: @DataDog/integrations-tools-and-libraries

Stabilize TestDatadogDashListImport test by always creating resources in the same order (#442)
  datadog/resource_datadog_dashboard_list_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Document recording cassettes, make it possible to re-record for subset of tests (#441)
  README.md
Owners: @DataDog/integrations-tools-and-libraries

We don't need to remove all cassettes before regenerating, they'll be overwritten
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

We don't need to remove all cassettes before regenerating, they'll be overwritten (#443)
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Replace Go Client in SLO Resource
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_service_level_objective_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Added docs for datadog_integration_aws_log_collection.
  website/docs/r/integration_aws_log_collection.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Update go-datadog-api client to v2.28.0, revendor deps
  go.mod
  go.sum
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression_vars_gen.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/github.com/zorkian/go-datadog-api/board_widgets.go
  vendor/github.com/zorkian/go-datadog-api/dashboards.go
  vendor/github.com/zorkian/go-datadog-api/datadog-accessors.go
  vendor/github.com/zorkian/go-datadog-api/helpers.go
  vendor/github.com/zorkian/go-datadog-api/monitors.go
  vendor/github.com/zorkian/go-datadog-api/screen_widgets.go
  vendor/github.com/zorkian/go-datadog-api/service_level_objectives.go
  vendor/github.com/zorkian/go-datadog-api/synthetics.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Update go-datadog-api client to v2.28.0, revendor deps (#447)
  go.mod
  go.sum
  vendor/github.com/apparentlymart/go-textseg/textseg/make_tables.go
  vendor/github.com/apparentlymart/go-textseg/textseg/make_test_tables.go
  vendor/github.com/hashicorp/hcl/v2/hclsyntax/expression_vars_gen.go
  vendor/github.com/ulikunitz/xz/example.go
  vendor/github.com/zorkian/go-datadog-api/board_widgets.go
  vendor/github.com/zorkian/go-datadog-api/dashboards.go
  vendor/github.com/zorkian/go-datadog-api/datadog-accessors.go
  vendor/github.com/zorkian/go-datadog-api/helpers.go
  vendor/github.com/zorkian/go-datadog-api/monitors.go
  vendor/github.com/zorkian/go-datadog-api/screen_widgets.go
  vendor/github.com/zorkian/go-datadog-api/service_level_objectives.go
  vendor/github.com/zorkian/go-datadog-api/synthetics.go
  vendor/golang.org/x/sys/unix/mkasm_darwin.go
  vendor/golang.org/x/sys/unix/mkpost.go
  vendor/golang.org/x/sys/unix/mksyscall.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc.go
  vendor/golang.org/x/sys/unix/mksyscall_aix_ppc64.go
  vendor/golang.org/x/sys/unix/mksyscall_solaris.go
  vendor/golang.org/x/sys/unix/mksysctl_openbsd.go
  vendor/golang.org/x/sys/unix/mksysnum.go
  vendor/golang.org/x/sys/unix/types_aix.go
  vendor/golang.org/x/sys/unix/types_darwin.go
  vendor/golang.org/x/sys/unix/types_dragonfly.go
  vendor/golang.org/x/sys/unix/types_freebsd.go
  vendor/golang.org/x/sys/unix/types_netbsd.go
  vendor/golang.org/x/sys/unix/types_openbsd.go
  vendor/golang.org/x/sys/unix/types_solaris.go
  vendor/golang.org/x/text/unicode/bidi/gen.go
  vendor/golang.org/x/text/unicode/bidi/gen_ranges.go
  vendor/golang.org/x/text/unicode/bidi/gen_trieval.go
  vendor/golang.org/x/text/unicode/norm/maketables.go
  vendor/golang.org/x/text/unicode/norm/triegen.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  datadog/resource_datadog_integration_aws_lambda_arn.go
  website/docs/r/integration_aws_lambda_arn.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Add legend_size validation
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add legend_size
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Clean implementation for consistency
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/web-integrations, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

Add acceptance test for aws log collection lambda arn.
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Fix tests.
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Incorporate feedback
  datadog/resource_datadog_service_level_objective.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add aws integrationt acceptance test. Fix aws lambda arn acceptance test.
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
  datadog/resource_datadog_integration_aws_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
