Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

Prepare changelog for 2.12.0 release (#590)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

v2.12.0
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Cleanup after v2.12.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Add file with licenses and copyrights of deps
  LICENSE-3rdparty.csv
Owners: @DataDog/integrations-tools-and-libraries

Update README.md
  README.md
Owners: @DataDog/integrations-tools-and-libraries

Add file with licenses and copyrights of deps (#591)
  LICENSE-3rdparty.csv
Owners: @DataDog/integrations-tools-and-libraries

Add releasing Github workflow
  .github/workflows/release.yml
Owners: @DataDog/integrations-tools-and-libraries

Add releasing Github workflow (#592)
  .github/workflows/release.yml
Owners: @DataDog/integrations-tools-and-libraries

Release 2.12.1
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Improve the message
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Release 2.12.1 (#594)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Setup unit-test CI using GH actions, remove Travis configuration
  .github/workflows/test.yml
  .travis.yml
Owners: @DataDog/integrations-tools-and-libraries

Display diffs in gofmt run to ease debugging of failures
  scripts/gofmtcheck.sh
Owners: @DataDog/integrations-tools-and-libraries

Ensure CI uses vendored deps
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix typo
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix CRLF issues on windows
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Fix
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Only run website-test on linux
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Move website test before unit test
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Debug Go env
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Use GOPATH environment variable, not Makefile variable
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Revert "Use GOPATH environment variable, not Makefile variable"
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Properly specify GOPATH for the website test
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Remove the go env debugging step
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Update .github/workflows/test.yml
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Update .github/workflows/test.yml
  .github/workflows/test.yml
Owners: @DataDog/integrations-tools-and-libraries

Setup unit-test CI using GH actions, remove Travis configuration (#595)
  .github/workflows/test.yml
  .travis.yml
  scripts/gofmtcheck.sh
Owners: @DataDog/integrations-tools-and-libraries

Add AZP configuration for CI
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Ensure vendored dependencies are used
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Add AZP configuration for CI (#596)
  .azure-pipelines/all.yml
Owners: @DataDog/integrations-tools-and-libraries

Add comment
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Ignore diff to start on downtime resource
  datadog/cassettes/TestAccDatadogDowntime_DiffStart.yaml
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Remove no longer used files
  .go-version
  scripts/gogetcookie.sh
Owners: @DataDog/integrations-tools-and-libraries

Remove no longer used files (#598)
  .go-version
  scripts/gogetcookie.sh
Owners: @DataDog/integrations-tools-and-libraries

Additionally check for start in the past
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Remove timeboard changes
  datadog/cassettes/TestAccDatadogTimeboard_update.yaml
  datadog/resource_datadog_timeboard.go
  datadog/resource_datadog_timeboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix rebase
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

[k9] Add support for ScatterPlot, HeatMap, Distribution and HostMap widgets
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix almost all build issue build issues
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix helper name
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
