Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-backend, @DataDog/logs-app, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/metrics-aggregation, @DataDog/security-monitoring, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations @DataDog/documentation
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app @DataDog/documentation
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation @DataDog/documentation
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*security_monitoring*             @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring
docs/data-sources/security_monitoring*    @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
docs/resources/security_monitoring*       @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_synthetics*              @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app @DataDog/documentation
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation

[Synthetics] Add support for allow_insecure option in multistep requests (#1145)
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

Always set columns attribute when creating log stream widget
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Test and record
  datadog/tests/cassettes/TestAccDatadogDashboardLogStreamLogSet.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardLogStreamLogSet.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardLogStreamLogSet_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardLogStreamLogSet_import.yaml
  datadog/tests/resource_datadog_dashboard_log_stream_test.go
Owners: @DataDog/integrations-tools-and-libraries

Always set columns attribute when creating log stream widget (#1163)
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardLogStreamLogSet.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardLogStreamLogSet.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardLogStreamLogSet_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardLogStreamLogSet_import.yaml
  datadog/tests/resource_datadog_dashboard_log_stream_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add multistep API test example
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

Add multistep API test example (#1164)
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

datasource for datadog user using filter by email
  datadog/data_source_datadog_user.go
  examples/data-sources/datadog_user/datadog_user.tf
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

added tests records
  datadog/tests/cassettes/TestAccDatadogUserDatasourceError.freeze
  datadog/tests/cassettes/TestAccDatadogUserDatasourceError.yaml
  datadog/tests/cassettes/TestAccDatadogUserDatasourceExactMatch.freeze
  datadog/tests/cassettes/TestAccDatadogUserDatasourceExactMatch.yaml
Owners: @DataDog/integrations-tools-and-libraries

added test for user datasource
  datadog/data_source_datadog_user.go
  datadog/tests/data_source_datadog_user_test.go
  datadog/tests/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

fixes grammar and description
  datadog/data_source_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

use customclient for retrieving dashboards
  datadog/resource_datadog_dashboard_json.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Use customclient for retrieving JSON dashboards (#1167)
  datadog/resource_datadog_dashboard_json.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

removes unsued comments, variables and logic
  datadog/data_source_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Update datadog/tests/data_source_datadog_user_test.go
  datadog/tests/data_source_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries

fixes tests datadog api v2
  datadog/tests/data_source_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries

adds datasource to provider
  datadog/provider.go
  datadog/tests/data_source_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries

Record tests and make docs
  datadog/tests/cassettes/TestAccDatadogUserDatasourceError.freeze
  datadog/tests/cassettes/TestAccDatadogUserDatasourceError.yaml
  datadog/tests/cassettes/TestAccDatadogUserDatasourceExactMatch.freeze
  datadog/tests/cassettes/TestAccDatadogUserDatasourceExactMatch.yaml
  datadog/tests/data_source_datadog_user_test.go
  docs/data-sources/user.md
Owners: @DataDog/integrations-tools-and-libraries

Datasource datadog user (#1124)
  datadog/data_source_datadog_user.go
  datadog/provider.go
  datadog/tests/cassettes/TestAccDatadogUserDatasourceError.freeze
  datadog/tests/cassettes/TestAccDatadogUserDatasourceError.yaml
  datadog/tests/cassettes/TestAccDatadogUserDatasourceExactMatch.freeze
  datadog/tests/cassettes/TestAccDatadogUserDatasourceExactMatch.yaml
  datadog/tests/data_source_datadog_user_test.go
  datadog/tests/provider_test.go
  docs/data-sources/user.md
  examples/data-sources/datadog_user/datadog_user.tf
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

update roles when re-enabling existing users
  datadog/data_source_datadog_synthetics_global_variable.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/team-aaa

add tests
  datadog/tests/cassettes/TestAccDatadogUser_ReEnableRoleUpdate.freeze
  datadog/tests/cassettes/TestAccDatadogUser_ReEnableRoleUpdate.yaml
  datadog/tests/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries

remove unnecessary extra method
  datadog/tests/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Do not set useless fields for local global variables
  datadog/data_source_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Do not set useless fields for local global variables (#1175)
  datadog/data_source_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update go client
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Clarify use of config_variable
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

Update synthetics_test.md
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

[Synthetics] Add support for restricted roles for global variables
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.yaml
  datadog/tests/resource_datadog_synthetics_global_variable_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update template
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
  templates/resources/synthetics_test.md.tmpl
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

add aggregations option to metric_tag_configuration TF resource, pending updated go client
  datadog/resource_datadog_metric_tag_configuration.go
  datadog/tests/resource_datadog_metric_tag_configuration_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/metrics-aggregation

add example with aggregations
  examples/resources/datadog_metric_tag_configuration/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

format tf
  examples/resources/datadog_metric_tag_configuration/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

format tf
  examples/resources/datadog_metric_tag_configuration/resource.tf
Owners: @DataDog/integrations-tools-and-libraries

Raw change
  examples/resources/datadog_synthetics_test/resource.tf
  templates/resources/synthetics_test.md.tmpl
Owners: @DataDog/integrations-tools-and-libraries

fix template and make docs
  docs/resources/synthetics_test.md
  templates/resources/synthetics_test.md.tmpl
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

Update synthetics docs for global variable + browser test (#1181)
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
  templates/resources/synthetics_test.md.tmpl
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

fix azure pipelines build
  .azure-pipelines/all.yml
  GNUmakefile
  tools/tools.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update description for secure parameter for global variable
  datadog/resource_datadog_synthetics_global_variable.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

fix fmtcheck
  examples/resources/datadog_synthetics_test/resource.tf
  scripts/fmtcheck.sh
Owners: @DataDog/integrations-tools-and-libraries

check docs first
  .github/workflows/test.yml
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation

Fix azure pipelines build (#1182)
  .azure-pipelines/all.yml
  .github/workflows/test.yml
  GNUmakefile
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
  scripts/fmtcheck.sh
  tools/tools.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/documentation
