Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Clear dashboard_list_removed diff
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Clear dashboard_list_removed diff (#661)
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Changelog for 2.13.0
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Fix build
  GNUmakefile
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Changelog for 2.13.0 (#662)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Update links since the provider moved
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Add validate option to SLO
  datadog/cassettes/TestAccDatadogServiceLevelObjective_InvalidMonitor.freeze
  datadog/cassettes/TestAccDatadogServiceLevelObjective_InvalidMonitor.yaml
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_service_level_objective_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

[Synthetics] Add support for DNS tests
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Fix cassettes for DNS
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add validate option to SLO (#672)
  datadog/cassettes/TestAccDatadogServiceLevelObjective_InvalidMonitor.freeze
  datadog/cassettes/TestAccDatadogServiceLevelObjective_InvalidMonitor.yaml
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_service_level_objective_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update links since the provider moved (#671)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Document monitor types accurately
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Document monitor types accurately (#674)
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

[Synthetics] Add support for global variables
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_importBasic.yaml
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_global_variable_test.go
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add documentation for global variable
  docs/resources/synthetics_global_variable.md
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add documentation for DNS
  docs/resources/synthetics.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

fmt
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add apm_stats_query
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

fix enum type
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

[Synthetics] Change 404 response status check
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add support for DNS tests (#673)
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsDNSTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics.md
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Review fixes
  datadog/resource_datadog_synthetics_global_variable.go
Owners: @DataDog/integrations-tools-and-libraries

code review: better typing
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add docs
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

test new query type
  datadog/resource_datadog_dashboard_query_table_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Record cassettes, fix tests
  datadog/cassettes/TestAccDatadogDashboardQueryTable.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.yaml
  datadog/resource_datadog_dashboard_query_table_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

[APM/Dashboards] add apm_stats_query (#676)
  datadog/cassettes/TestAccDatadogDashboardQueryTable.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable.yaml
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.freeze
  datadog/cassettes/TestAccDatadogDashboardQueryTable_import.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_query_table_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

change columns from string[] to object[]
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

make fmt
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

[Synthetics] Add support for global variables (#675)
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariable_importBasic.yaml
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_global_variable_test.go
  datadog/resource_datadog_synthetics_test_.go
  docs/resources/synthetics_global_variable.md
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

mod file
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

update type with ApmStatsQueryColumnType
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

update vendor ...2
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_apm_stats_query_column_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_apm_stats_query_definition.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_logs_attribute_remapper.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

Add timeseries dual y-axis to provider
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add some tests
  datadog/resource_datadog_dashboard_timeseries_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add more tests
  datadog/resource_datadog_dashboard_timeseries_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

RF: use RightYaxis definition
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

RF: Add missing buildTerraform logic
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Record new cassettes
  datadog/cassettes/TestAccDatadogDashboardTimeseries.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseriesMultiCompute_import.yaml
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.freeze
  datadog/cassettes/TestAccDatadogDashboardTimeseries_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

RF: add falsy test case
  datadog/resource_datadog_dashboard_timeseries_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
