Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Roles creation
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Re-add field
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Re-record and fix tests
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.freeze
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
  datadog/import_datadog_user_test.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

[Synthetics] Add support for secure global variables (#758)
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Updated.yaml
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/resource_datadog_synthetics_global_variable_test.go
  docs/resources/synthetics_global_variable.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix links in docs
  docs/resources/downtime.md
  docs/resources/integration_pagerduty.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/web-integrations

update roles in update handler
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

record
  datadog/cassettes/TestAccDatadogUser_UpdateRole.freeze
  datadog/cassettes/TestAccDatadogUser_UpdateRole.yaml
Owners: @DataDog/integrations-tools-and-libraries

update doc
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Handle numbers in targetvalue for synthetics assertions
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Use constants, remove not support operators
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Handle numbers in targetvalue for synthetics assertions (#766)
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix links in docs (#764)
  docs/resources/downtime.md
  docs/resources/integration_pagerduty.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/web-integrations

set roles in read
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
  datadog/import_datadog_user_test.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Deprecate handle
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.freeze
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.yaml
  datadog/cassettes/TestAccDatadogUser_UpdateRole.freeze
  datadog/cassettes/TestAccDatadogUser_UpdateRole.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
  datadog/import_datadog_user_test.go
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Remove title
  datadog/resource_datadog_user.go
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Re-record
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.freeze
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.yaml
  datadog/cassettes/TestAccDatadogUser_UpdateRole.freeze
  datadog/cassettes/TestAccDatadogUser_UpdateRole.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
Owners: @DataDog/integrations-tools-and-libraries

Small review comments
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Remove exists
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.freeze
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.yaml
  datadog/cassettes/TestAccDatadogUser_UpdateRole.freeze
  datadog/cassettes/TestAccDatadogUser_UpdateRole.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Requesting addition for the Learn site
  docs/index.md
Owners: @DataDog/integrations-tools-and-libraries

Requesting addition for the Learn site (#769)
  docs/index.md
Owners: @DataDog/integrations-tools-and-libraries

Merge enable/disable attributes for security_monitoring_default_rule
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_default_rule_test.go
  docs/resources/security_monitoring_default_rule.md
Owners: @DataDog/integrations-tools-and-libraries

Add test for optional fields
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries

Security Monitoring add support for default rules and listing rules
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_security_monitoring_rules_test.go
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_default_rule_test.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries

Fix cassettes
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
  datadog/cassettes/TestProvider.freeze
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries

Changes after review
  datadog/resource_datadog_security_monitoring_default_rule.go
  docs/resources/security_monitoring_rule.md
Owners: @DataDog/integrations-tools-and-libraries

Add security monitoring rules docs
  docs/data-sources/security_monitoring_rules.md
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md.md
Owners: @DataDog/integrations-tools-and-libraries

Use datasource for default rules tests
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_default_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add importer and test
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries

Remove disabled attribute for security_monitoring_rule
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_security_monitoring_rule_test.go
  docs/resources/security_monitoring_rule.md
Owners: @DataDog/integrations-tools-and-libraries

Implement CRUD for security monitoring rules
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add auto-generated rule response resource
  datadog/resource_datadog_security_monitoring_rule.go
Owners: @DataDog/integrations-tools-and-libraries

Separate enabled and disabled attributes
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_security_monitoring_rule_test.go
  docs/resources/security_monitoring_rule.md.md
Owners: @DataDog/integrations-tools-and-libraries

Update cassettes on datadoghq.com
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
  datadog/data_source_datadog_security_monitoring_rules.go
Owners: @DataDog/integrations-tools-and-libraries

Format docs with prettier
  docs/data-sources/security_monitoring_rules.md
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md
Owners: @DataDog/integrations-tools-and-libraries

Record cassettes for security monitoring
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
Owners: @DataDog/integrations-tools-and-libraries

Changes after review
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries

Regenerate security monitoring cassettes
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
Owners: @DataDog/integrations-tools-and-libraries

Default rules are imported externally
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_default_rule_test.go
  docs/resources/security_monitoring_default_rule.md
Owners: @DataDog/integrations-tools-and-libraries

Test list length for datasource
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_security_monitoring_rules_test.go
Owners: @DataDog/integrations-tools-and-libraries

Update docs after review
  docs/data-sources/security_monitoring_rules.md
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
