Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

[Synthetics] Save private location config to state
  datadog/cassettes/TestAccDatadogSyntheticsPrivateLocation_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsPrivateLocation_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsPrivateLocation_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsPrivateLocation_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsPrivateLocation_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsPrivateLocation_importBasic.yaml
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_synthetics_private_location.go
  datadog/resource_datadog_synthetics_private_location_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

[Synthetics] Fix missing return
  datadog/resource_datadog_synthetics_private_location.go
Owners: @DataDog/integrations-tools-and-libraries

Fix id retrieval on update
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Changes after review
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_rule.go
  docs/resources/security_monitoring_default_rule.md
Owners: @DataDog/integrations-tools-and-libraries

Return when no rule is found
  datadog/resource_datadog_security_monitoring_rule.go
Owners: @DataDog/integrations-tools-and-libraries

[SA-535]Add support for security monitoring rules (#763)
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
  datadog/cassettes/TestProvider.freeze
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/data_source_datadog_security_monitoring_rules_test.go
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_security_monitoring_default_rule.go
  datadog/resource_datadog_security_monitoring_default_rule_test.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/resource_datadog_security_monitoring_rule_test.go
  docs/data-sources/security_monitoring_rules.md
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md
Owners: @DataDog/integrations-tools-and-libraries

Add example for initializing provider with tf 0.13+
  docs/index.md
Owners: @DataDog/integrations-tools-and-libraries

Update based on review
  docs/index.md
Owners: @DataDog/integrations-tools-and-libraries

Fix style
  docs/index.md
Owners: @DataDog/integrations-tools-and-libraries

Add force_delete to SLO resource
  datadog/resource_datadog_service_level_objective.go
  docs/resources/service_level_objective.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add example for initializing provider with tf 0.13+ (#770)
  docs/index.md
Owners: @DataDog/integrations-tools-and-libraries

Add force_delete to SLO resource (#771)
  datadog/resource_datadog_service_level_objective.go
  docs/resources/service_level_objective.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Use v2 API in User resource (#752)
  datadog/cassettes/TestAccDatadogUser_Existing.freeze
  datadog/cassettes/TestAccDatadogUser_Existing.yaml
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.freeze
  datadog/cassettes/TestAccDatadogUser_RoleDatasource.yaml
  datadog/cassettes/TestAccDatadogUser_UpdateRole.freeze
  datadog/cassettes/TestAccDatadogUser_UpdateRole.yaml
  datadog/cassettes/TestAccDatadogUser_Updated.freeze
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/cassettes/TestDatadogUser_import.freeze
  datadog/cassettes/TestDatadogUser_import.yaml
  datadog/import_datadog_user_test.go
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
  docs/resources/user.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Update go client to beta 12
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_aws_integration.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_hosts.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_logs_indexes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_monitors.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_usage_metering.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/configuration.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_namespace.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_tag_filter_create_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_tag_filter_delete_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_tag_filter_list_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_tag_filter_list_response_filters.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_organization_create_body.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_incident_services.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_incident_teams.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_logs.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_logs_archives.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_processes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_roles.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_security_monitoring.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_users.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/client.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summaries_meta.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summaries_meta_page.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summaries_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summary.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summary_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summary_type.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

add ForceNew to dashboard attribute
  datadog/cassettes/TestAccDatadogDashboardLayoutForceNew.freeze
  datadog/cassettes/TestAccDatadogDashboardLayoutForceNew.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update go client to beta 12 (#773)
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/CHANGELOG.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_aws_integration.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_hosts.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_logs_indexes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_monitors.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_usage_metering.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/configuration.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_namespace.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_tag_filter_create_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_tag_filter_delete_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_tag_filter_list_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_aws_tag_filter_list_response_filters.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_organization_create_body.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_incident_services.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_incident_teams.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_logs.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_logs_archives.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_processes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_roles.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_security_monitoring.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_users.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/client.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summaries_meta.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summaries_meta_page.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summaries_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summary.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summary_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_process_summary_type.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

same resource name
  datadog/cassettes/TestAccDatadogDashboardLayoutForceNew.freeze
  datadog/cassettes/TestAccDatadogDashboardLayoutForceNew.yaml
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Prepare changelog for 2.18
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Prepare changelog for 2.18 (#776)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Add ForceNew to `layout_type` dashboard attribute (#774)
  datadog/cassettes/TestAccDatadogDashboardLayoutForceNew.freeze
  datadog/cassettes/TestAccDatadogDashboardLayoutForceNew.yaml
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Automatically upgrade users when `roles` is set
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Ignore diff on access_role if roles is set
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Automatically upgrade users when `roles` is set (#778)
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

2.18.1 changelog
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

2.18.1 changelog (#779)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Fix error when setting synthetics status code assertion with regex
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

update tests
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix error when setting synthetics status code assertion with regex (#784)
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.freeze
  datadog/cassettes/TestAccDatadogSyntheticsAPITest_importBasicNewAssertionsOptions.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix typo in synthetics doc
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Fix typo in synthetics doc (#786)
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Add the ResourceDataKey utility struct
  datadog/key.go
Owners: @DataDog/integrations-tools-and-libraries

Add a simple test case
  datadog/key_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add the ResourceDataKey utility struct (#788)
  datadog/key.go
  datadog/key_test.go
Owners: @DataDog/integrations-tools-and-libraries

Enable UpdateLogsIndexOrder
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Enable UpdateLogsIndexOrder (#790)
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Revert "Revert "Document monitor priority (#739)" (#741)"
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update role.md
  docs/data-sources/role.md
Owners: @DataDog/integrations-tools-and-libraries

Revert "Revert "Document monitor priority (#739)" (#741)" (#792)
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update role.md (#793)
  docs/data-sources/role.md
Owners: @DataDog/integrations-tools-and-libraries

Validate palette enum
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
