Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa

[logs][archives] Create archive + tests
  datadog/provider.go
  datadog/resource_datadog_logs_archives.go
  datadog/resource_datadog_logs_archives_test.go
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

[logs][archives] Tidy test file
  datadog/resource_datadog_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Extract methods to build authV1 and clientV1
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

[logs][archives] Removed fixme comments
  datadog/resource_datadog_logs_archives.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Remove old fixtures
  datadog/fixtures/logs/archives/azure/create.json
  datadog/fixtures/logs/archives/gcs/create.json
  datadog/fixtures/logs/archives/s3/create.json
  datadog/fixtures/logs/archives/s3/update.json
Owners: @DataDog/integrations-tools-and-libraries

[logs][archive] Impl update method
  datadog/resource_datadog_logs_archives.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Rely on fake test integrations + record casettes
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
  datadog/resource_datadog_logs_archives_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Explain why we have to manually create azure account
  datadog/resource_datadog_logs_archive_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Improve example
  website/docs/r/logs_archive.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Methods return pointers instead of structs
  datadog/resource_datadog_logs_archive.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Use new methods to build structs
  datadog/resource_datadog_logs_archive.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Fix markdown name
  website/docs/r/logs_archive.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Pass recorder as a parameter
  datadog/data_source_datadog_ip_ranges_test.go
  datadog/import_datadog_downtime_test.go
  datadog/import_datadog_integration_pagerduty_test.go
  datadog/import_datadog_logs_pipeline_test.go
  datadog/import_datadog_monitor_test.go
  datadog/import_datadog_user_test.go
  datadog/provider_test.go
  datadog/resource_datadog_dashboard_list_test.go
  datadog/resource_datadog_dashboard_test.go
  datadog/resource_datadog_downtime_test.go
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
  datadog/resource_datadog_integration_aws_log_collection_test.go
  datadog/resource_datadog_integration_aws_test.go
  datadog/resource_datadog_integration_gcp_test.go
  datadog/resource_datadog_integration_pagerduty_service_object_test.go
  datadog/resource_datadog_integration_pagerduty_test.go
  datadog/resource_datadog_logs_archives_test.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  datadog/resource_datadog_metric_metadata_test.go
  datadog/resource_datadog_monitor_test.go
  datadog/resource_datadog_screenboard_test.go
  datadog/resource_datadog_service_level_objective_test.go
  datadog/resource_datadog_synthetics_test_test.go
  datadog/resource_datadog_timeboard_test.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/team-aaa, @DataDog/dashboards, @DataDog/cloud-integrations, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app

Rename archives to archive
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_test.go
  website/datadog.erb
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Enable debug in travis
  datadog/resource_datadog_logs_archive_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Remove changes from go.mod / go.sum
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Update casettes
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
Owners: @DataDog/integrations-tools-and-libraries

Apply suggestions from code review
  datadog/resource_datadog_logs_archive_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Use method calls instead of direct access to fields
  datadog/resource_datadog_logs_archive.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Move function only used one into caller
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Return nil
  datadog/resource_datadog_logs_archive.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Remove method that is no longer needed
  datadog/resource_datadog_logs_archive_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Fix indentation
  datadog/resource_datadog_logs_archive_test.go
  website/docs/r/logs_archives.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Fix issue with azure archive test and dashboard cassette
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
  datadog/resource_datadog_logs_archive_test.go
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Add dependency
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Fix tests
  datadog/resource_datadog_integration_azure_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add cassette recording
  datadog/cassettes/TestAccDatadogIntegrationAzure.yaml
Owners: @DataDog/integrations-tools-and-libraries

Fix test again
  datadog/resource_datadog_integration_azure_test.go
Owners: @DataDog/integrations-tools-and-libraries

Use tf azure integration in archives test
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/resource_datadog_integration_azure_test.go
  datadog/resource_datadog_logs_archive_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Update CHANGELOG.md
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Vendor dependency
  go.mod
  vendor/4d63.com/embedfiles/LICENSE
  vendor/4d63.com/embedfiles/README.md
  vendor/4d63.com/embedfiles/main.go
  vendor/4d63.com/tz/.gitignore
  vendor/4d63.com/tz/.travis.yml
  vendor/4d63.com/tz/LICENSE
  vendor/4d63.com/tz/README.md
  vendor/4d63.com/tz/go.mod
  vendor/4d63.com/tz/go.sum
  vendor/4d63.com/tz/tools.go
  vendor/4d63.com/tz/tz.go
  vendor/4d63.com/tz/zoneinfo.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries

v2.11.0
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Cleanup after v2.11.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Fix dashboard typo
  website/docs/r/dashboard_list.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

allow for optional field to preserve PagerDuty integrations
  datadog/cassettes/TestAccDatadogIntegrationPagerdutyServiceObject_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Basic.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_Migrate2ServiceObjects.yaml
  datadog/cassettes/TestAccDatadogIntegrationPagerduty_TwoServices.yaml
  datadog/cassettes/TestDatadogIntegrationPagerduty_import.yaml
  datadog/import_datadog_integration_pagerduty_test.go
  datadog/resource_datadog_integration_pagerduty.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Fix markdown rendering on argument reference
  website/docs/index.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

Add datasource for monitors
  datadog/data_source_datadog_monitor.go
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Update datadog/data_source_datadog_monitor.go
  datadog/data_source_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add whitespace to allow list to render correctly
  website/docs/index.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

Update go client, use new synthetics target
  datadog/resource_datadog_synthetics_test_.go
  go.mod
  go.sum
  vendor/github.com/DataDog/datadog-api-client-go/.apigentools-info
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_dashboards.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/api_usage_metering.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_downtime_recurrence.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_assertion.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_assertion_json_path_operator.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_assertion_json_path_target.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_assertion_json_path_target_target.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_assertion_operator.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_synthetics_assertion_target.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_billable_summary_body.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_billable_summary_hour.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_billable_summary_keys.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v1/datadog/model_usage_billable_summary_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/README.md
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/api_logs.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/client.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/configuration.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_log.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_log_attributes.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_log_type.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_list_request.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_list_request_filter.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_list_request_page.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_list_response.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_list_response_links.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_list_response_meta.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_list_response_meta_page.go
  vendor/github.com/DataDog/datadog-api-client-go/api/v2/datadog/model_logs_sort.go
  vendor/github.com/DataDog/datadog-api-client-go/version.go
  vendor/modules.txt
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app
