Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-backend, @DataDog/logs-app, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/metrics-aggregation, @DataDog/security-monitoring, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations @DataDog/documentation
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app @DataDog/documentation
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation @DataDog/documentation
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*security_monitoring*             @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring
docs/data-sources/security_monitoring*    @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
docs/resources/security_monitoring*       @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_synthetics*              @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app @DataDog/documentation
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation

feat: Changed Token Uri for GCP Service account (#1201)
  datadog/resource_datadog_integration_gcp.go
  datadog/tests/cassettes/TestAccDatadogIntegrationGCP.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationGCP.yaml
  datadog/tests/cassettes/TestAccDatadogLogsArchiveGCS_basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Add agent rule object and rule type to support CWS rules
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_CwsRule.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_CwsRule.yaml
  datadog/tests/resource_datadog_security_monitoring_rule_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/security-monitoring

Update documentation files
  docs/data-sources/security_monitoring_rules.md
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/security-monitoring, @DataDog/documentation

Update cassettes for security monitoring
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringDefaultRule_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringFilter.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringFilter.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringFilterDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringFilterDatasource.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRuleDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_CwsRule.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_CwsRule.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_NewValueRule.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_NewValueRule.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
Owners: @DataDog/integrations-tools-and-libraries

Set only one of timestamp or date format for start and end to avoid inconsistent plans
  datadog/resource_datadog_downtime.go
  datadog/tests/resource_datadog_downtime_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Set only one of timestamp or date format for start and end to avoid inconsistent plans (#1223)
  datadog/resource_datadog_downtime.go
  datadog/tests/resource_datadog_downtime_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

set dashboard widget to optional
  datadog/resource_datadog_dashboard.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

Apply documentation suggestions from code review
  docs/data-sources/security_monitoring_rules.md
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/security-monitoring, @DataDog/documentation

Remove security monitoring resource files exclusion from doc generation script
  scripts/generate-docs.sh
Owners: @DataDog/integrations-tools-and-libraries

Add special handling for security monitoring docs in generation script
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md
  scripts/generate-docs.sh
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/security-monitoring, @DataDog/documentation

Replace sed with perl in doc generation script for cross-platform compatibility
  scripts/generate-docs.sh
Owners: @DataDog/integrations-tools-and-libraries

Add support for creating monitors from JSON
  datadog/provider.go
  datadog/resource_datadog_monitor_json.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Remove changes in docs generation script
  scripts/generate-docs.sh
Owners: @DataDog/integrations-tools-and-libraries
