Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

update SLO resource to utilize Datadog go client
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_service_level_objective_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

update synthetics resource to utilize Datadog go client
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

LI-104: Add support for lookup processor
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  website/docs/r/logs_custom_pipeline.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

LI-104: Fix lookup processor example usage
  website/docs/r/logs_custom_pipeline.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

LI-104: Add a test with only mandatory fields for lookup processor
  datadog/cassettes/TestAccDatadogLogsPipeline_basic.yaml
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

remove unncesserarry code where dash list items were being deleted and re added
  datadog/resource_datadog_dashboard_list.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

lint and update int parsing
  datadog/resource_datadog_dashboard_list.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

lint
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

update datadogV1.SLOThreshold array
  datadog/resource_datadog_service_level_objective.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

remove trailing zeroes from assertions
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

update comments
  datadog/resource_datadog_integration_pagerduty.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

get services and schedules and add them to the update variable(testing to see if tests pass)
  datadog/resource_datadog_integration_pagerduty.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

Fix failing tests
  datadog/resource_datadog_integration_pagerduty.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations

update translateClientError to encompass clientV1 and clientV2 errors
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Use accessors
  datadog/resource_datadog_service_level_objective.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Use accessors
  datadog/resource_datadog_downtime.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add cassette
  datadog/data_source_datadog_ip_ranges.go
Owners: @DataDog/integrations-tools-and-libraries

Add cassette
  datadog/cassettes/TestAccDatadogIpRangesDatasource_existing.yaml
Owners: @DataDog/integrations-tools-and-libraries

adding consistency around
  datadog/data_source_datadog_ip_ranges.go
Owners: @DataDog/integrations-tools-and-libraries

revert test changes and add debug config
  datadog/provider.go
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

update pointers and use getters
  datadog/resource_datadog_dashboard_list.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add legend_size to api request (#421)
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Update cassette for dashboard update test
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
Owners: @DataDog/integrations-tools-and-libraries

update synthetics resource
  datadog/provider.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update import cassettes
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
Owners: @DataDog/integrations-tools-and-libraries

Update logs custom pipeline resource to use Datadog go client
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Update cassette for dashboard update test (#493)
  datadog/cassettes/TestAccDatadogDashboard_import.yaml
  datadog/cassettes/TestAccDatadogDashboard_update.yaml
Owners: @DataDog/integrations-tools-and-libraries

update log custom pipeline processor
  datadog/provider.go
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

require keys with validate, disallow keys when validate=false
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

logs custom pipeline update and remove unneccessary log lines
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

revert provider.go change
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

remove unused import
  datadog/resource_datadog_logs_custom_pipeline.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

fix test and make debug configurable in tests
  datadog/cassettes/TestAccDatadogMonitorServiceCheck_Basic.yaml
  datadog/cassettes/TestAccDatadogMonitor_Basic.yaml
  datadog/cassettes/TestAccDatadogMonitor_BasicNoTreshold.yaml
  datadog/cassettes/TestAccDatadogMonitor_Basic_float_int.yaml
  datadog/cassettes/TestAccDatadogMonitor_ComposeWithSyntheticsTest.yaml
  datadog/cassettes/TestAccDatadogMonitor_Log.yaml
  datadog/cassettes/TestAccDatadogMonitor_MuteUnmuteSpecificScopes.yaml
  datadog/cassettes/TestAccDatadogMonitor_NoThresholdWindows.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedRemove.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdateNoDiff.yaml
  datadog/cassettes/TestAccDatadogMonitor_SilencedUpdatePastTimestamp.yaml
  datadog/cassettes/TestAccDatadogMonitor_ThresholdWindows.yaml
  datadog/cassettes/TestAccDatadogMonitor_TrimWhitespace.yaml
  datadog/cassettes/TestAccDatadogMonitor_Updated.yaml
  datadog/cassettes/TestAccDatadogMonitor_UpdatedToRemoveTags.yaml
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_monitor_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

incorporating feedback and fixing case sensitive test
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_dashboard_list_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

case insensitive fix
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_dashboard_list_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

add depreaction messages
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_timeboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations, @DataDog/dashboards

lint
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_timeboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/web-integrations, @DataDog/dashboards

migrate aws lambda arn resource
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Add cassette and migrate AWS intg tests
  datadog/cassettes/TestAccDatadogIntegrationAWS.yaml
  datadog/cassettes/TestAccDatadogIntegrationAWSLambdaArn.yaml
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.yaml
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_aws_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

use getters to retrieve account id and arn
  datadog/resource_datadog_integration_aws_lambda_arn.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
