Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

Rebase to master and fix acceptance tests.
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
  datadog/resource_datadog_integration_aws_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Add Cassettes for datadog AWS integrations.
  datadog/cassettes/TestAccDatadogIntegrationAWS.yaml
  datadog/cassettes/TestAccDatadogIntegrationAWSLambdaArn.yaml
Owners: @DataDog/integrations-tools-and-libraries

Add acceptance test for aws log collection services.
  datadog/resource_datadog_integration_aws_log_collection_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

Add cassettes for datadog log collection acceptance tests.
  datadog/cassettes/TestAccDatadogIntegrationAWSLogCollection.yaml
Owners: @DataDog/integrations-tools-and-libraries

Api error mgmt + enhanced provider
  datadog/data_source_datadog_ip_ranges.go
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_dashboard_list_test.go
  datadog/resource_datadog_dashboard_test.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_gcp_test.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_integration_pagerduty_service_object.go
  datadog/resource_datadog_integration_pagerduty_test.go
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_logs_index_order.go
  datadog/resource_datadog_logs_integration_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
  datadog/resource_datadog_metric_metadata.go
  datadog/resource_datadog_metric_metadata_test.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_monitor_test.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_screenboard_test.go
  datadog/resource_datadog_service_level_objective.go
  datadog/resource_datadog_service_level_objective_test.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  datadog/resource_datadog_timeboard.go
  datadog/resource_datadog_timeboard_test.go
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

Use ForceDeleteMonitor instead of DeleteMonitor
  datadog/resource_datadog_monitor.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

remove print statements
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_downtime_test.go
  datadog/resource_datadog_metric_metadata.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/metrics-intake, @DataDog/metrics-query

remove unused import
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_metric_metadata.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/metrics-intake, @DataDog/metrics-query

Fail fast if index isn't imported
  datadog/resource_datadog_logs_index.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Update scope docs with explicit example
  website/docs/r/downtime.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

linting + proper error messaging on parsing conf
  datadog/import_datadog_logs_pipeline_test.go
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_list.go
  datadog/resource_datadog_dashboard_list_test.go
  datadog/resource_datadog_dashboard_test.go
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_gcp_test.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/resource_datadog_integration_pagerduty_service_object.go
  datadog/resource_datadog_integration_pagerduty_service_object_test.go
  datadog/resource_datadog_integration_pagerduty_test.go
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  datadog/resource_datadog_logs_index.go
  datadog/resource_datadog_logs_integration_pipeline.go
  datadog/resource_datadog_logs_pipeline_order.go
  datadog/resource_datadog_metric_metadata_test.go
  datadog/resource_datadog_monitor.go
  datadog/resource_datadog_monitor_test.go
  datadog/resource_datadog_screenboard.go
  datadog/resource_datadog_screenboard_test.go
  datadog/resource_datadog_service_level_objective_test.go
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  datadog/resource_datadog_timeboard.go
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

Update scope docs with explicit example (#453)
  website/docs/r/downtime.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Fail fast if index isn't imported (#452)
  datadog/resource_datadog_logs_index.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/logs-intake

Add terraform sdk + cli versions to user agent header
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Update datadog/provider.go
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Add generated Go Client
  datadog/provider.go
  datadog/provider_test.go
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Update client in User Resource
  datadog/cassettes/TestAccDatadogUser_Updated.yaml
  datadog/cassettes/TestDatadogUser_import.yaml
  datadog/resource_datadog_user.go
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

lint
  datadog/resource_datadog_user_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

Add terraform sdk + cli versions to user agent header (#455)
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Update client in Cloud Intg Resources
  datadog/resource_datadog_integration_aws.go
  datadog/resource_datadog_integration_gcp.go
  datadog/resource_datadog_integration_gcp_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

doc: AWS integration & EU Datadog clarifications
  website/docs/index.html.markdown
  website/docs/r/integration_aws.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

notice
  .gitignore
Owners: @DataDog/integrations-tools-and-libraries

Test update
  website/datadog.erb
Owners: @DataDog/integrations-tools-and-libraries

doc: redirection to datadog api documentation
  website/docs/r/integration_aws.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

doc: AWS integration & EU Datadog clarifications (#460)
  website/docs/index.html.markdown
  website/docs/r/integration_aws.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

remove ignore_changes quotes in monitor example
  website/docs/r/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add support for env variable with DD prefixes
  GNUmakefile
  README.md
  datadog/provider.go
  datadog/provider_test.go
  website/docs/index.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

add {api,app}_key resources
  datadog/provider.go
  datadog/resource_datadog_api_key.go
  datadog/resource_datadog_api_key_test.go
  datadog/resource_datadog_app_key.go
  datadog/resource_datadog_app_key_test.go
Owners: @DataDog/integrations-tools-and-libraries

update cassettes
  datadog/cassettes/TestAccDatadogAPIKey_Basic.yaml
  datadog/cassettes/TestAccDatadogAPIKey_Updated.yaml
  datadog/cassettes/TestAccDatadogAppKey_Basic.yaml
  datadog/cassettes/TestAccDatadogAppKey_Updated.yaml
Owners: @DataDog/integrations-tools-and-libraries

add docs
  website/docs/r/api_key.html.markdown
  website/docs/r/app_key.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

Update the error message
  datadog/provider.go
  website/docs/index.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

update provider to look for DATADOG prefix first and update provider_test to look for both DD and DATADOG
  datadog/provider.go
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

provider: add "validate" option that can disable validation
  datadog/provider.go
  website/docs/index.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

validate_keys -> validate
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

missing }
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

Review comments.
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_lambda_arn_test.go
  datadog/resource_datadog_integration_aws_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

review comments.
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_aws_log_collection_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations

update dependencies and fix provider.go
  datadog/provider.go
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

update dependencies and fix provider.go (#476)
  datadog/provider.go
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Fix unused var
  datadog/provider.go
Owners: @DataDog/integrations-tools-and-libraries

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
