Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/team-aaa, @DataDog/logs-backend, @DataDog/logs-app, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/metrics-aggregation, @DataDog/security-monitoring, @DataDog/synthetics-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
docs/resources/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations @DataDog/documentation
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
docs/resources/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations @DataDog/documentation
datadog/*datadog_ip_ranges*               @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/data-sources/ip_ranges*              @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app
docs/resources/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-backend @DataDog/logs-app @DataDog/documentation
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation
docs/resources/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query @DataDog/metrics-aggregation @DataDog/documentation
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/data-sources/monitor*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
docs/resources/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*security_monitoring*             @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring
docs/data-sources/security_monitoring*    @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
docs/resources/security_monitoring*       @DataDog/integrations-tools-and-libraries @DataDog/security-monitoring @DataDog/documentation
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
docs/resources/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app @DataDog/documentation
datadog/*datadog_synthetics*              @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
docs/resources/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app @DataDog/documentation
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
docs/resources/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards @DataDog/documentation
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
docs/resources/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa @DataDog/documentation

datasource cassette
  datadog/tests/cassettes/TestAccDatadogMonitorDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogMonitorDatasource.yaml
Owners: @DataDog/integrations-tools-and-libraries

docs review
  datadog/resource_datadog_monitor.go
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/documentation

[Synthetics] Fix review
  datadog/resource_datadog_synthetics_global_variable.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Regenerate docs
  docs/resources/dashboard.md
  docs/resources/synthetics_global_variable.md
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/synthetics-app

upgrade go client
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

make docs
  docs/resources/dashboard.md
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/synthetics-app

fix type
  datadog/resource_datadog_dashboard.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

upgrade go client (#1172)
  datadog/resource_datadog_dashboard.go
  docs/resources/dashboard.md
  docs/resources/synthetics_test.md
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/synthetics-app

Update go client
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Update description for secure parameter for global variable
  datadog/resource_datadog_synthetics_global_variable.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Regenerate docs
  docs/resources/dashboard.md
  docs/resources/synthetics_global_variable.md
  docs/resources/synthetics_test.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/synthetics-app

[Synthetics] Fix review
  datadog/resource_datadog_synthetics_global_variable.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

[Synthetics] Add support for restricted roles for global variables
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.yaml
  datadog/tests/resource_datadog_synthetics_global_variable_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Remove datasource datadog_organization_settings
  datadog/data_source_datadog_organization_settings.go
  datadog/provider.go
  datadog/tests/data_source_datadog_organization_settings_test.go
  datadog/tests/provider_test.go
  docs/data-sources/organization_settings.md
  examples/data-sources/datadog_organization_settings/data-source.tf
Owners: @DataDog/integrations-tools-and-libraries

Remove data source
  datadog/data_source_datadog_organization_settings.go
  datadog/provider.go
  datadog/tests/cassettes/TestAccDatadogOrganizationSettingsDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogOrganizationSettingsDatasource.yaml
  datadog/tests/data_source_datadog_organization_settings_test.go
  docs/data-sources/organization_settings.md
  examples/data-sources/datadog_organization_settings/data-source.tf
Owners: @DataDog/integrations-tools-and-libraries

go mod tidy
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Skip application/api keys tests on replaying/recording, skip org test on non replay
  datadog/tests/cassettes/TestAccDatadogApiKeyCreate.freeze
  datadog/tests/cassettes/TestAccDatadogApiKeyCreate.yaml
  datadog/tests/cassettes/TestAccDatadogApiKeyDatasource_matchId.freeze
  datadog/tests/cassettes/TestAccDatadogApiKeyDatasource_matchId.yaml
  datadog/tests/cassettes/TestAccDatadogApiKeyDatasource_matchIdError.freeze
  datadog/tests/cassettes/TestAccDatadogApiKeyDatasource_matchIdError.yaml
  datadog/tests/cassettes/TestAccDatadogApiKeyDatasource_matchName.freeze
  datadog/tests/cassettes/TestAccDatadogApiKeyDatasource_matchName.yaml
  datadog/tests/cassettes/TestAccDatadogApiKeyDatasource_matchNameError.freeze
  datadog/tests/cassettes/TestAccDatadogApiKeyDatasource_matchNameError.yaml
  datadog/tests/cassettes/TestAccDatadogApiKeyDatasource_missingParametersError.freeze
  datadog/tests/cassettes/TestAccDatadogApiKey_Update.freeze
  datadog/tests/cassettes/TestAccDatadogApiKey_Update.yaml
  datadog/tests/cassettes/TestAccDatadogApplicationKeyDatasource_matchId.freeze
  datadog/tests/cassettes/TestAccDatadogApplicationKeyDatasource_matchId.yaml
  datadog/tests/cassettes/TestAccDatadogApplicationKeyDatasource_matchIdError.freeze
  datadog/tests/cassettes/TestAccDatadogApplicationKeyDatasource_matchIdError.yaml
  datadog/tests/cassettes/TestAccDatadogApplicationKeyDatasource_matchName.freeze
  datadog/tests/cassettes/TestAccDatadogApplicationKeyDatasource_matchName.yaml
  datadog/tests/cassettes/TestAccDatadogApplicationKeyDatasource_matchNameError.freeze
  datadog/tests/cassettes/TestAccDatadogApplicationKeyDatasource_matchNameError.yaml
  datadog/tests/cassettes/TestAccDatadogApplicationKeyDatasource_missingParametersError.freeze
  datadog/tests/cassettes/TestAccDatadogApplicationKey_Update.freeze
  datadog/tests/cassettes/TestAccDatadogApplicationKey_Update.yaml
  datadog/tests/data_source_datadog_api_key_test.go
  datadog/tests/data_source_datadog_application_key_test.go
  datadog/tests/resource_datadog_api_key_test.go
  datadog/tests/resource_datadog_application_key_test.go
  datadog/tests/resource_datadog_child_organization_test.go
  datadog/tests/resource_datadog_organization_settings_test.go
Owners: @DataDog/integrations-tools-and-libraries

test2endpoint
  datadog/tests/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Fix dependencie and cassettes
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_importBasic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_importBasic.yaml
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

Move import test to resource test file
  datadog/tests/import_datadog_api_key_test.go
  datadog/tests/import_datadog_application_key_test.go
  datadog/tests/import_datadog_organization_settings_test.go
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_api_key_test.go
  datadog/tests/resource_datadog_application_key_test.go
  datadog/tests/resource_datadog_organization_settings_test.go
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add support for restricted roles for global variables (#1178)
  datadog/resource_datadog_synthetics_global_variable.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_importBasic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariable_importBasic.yaml
  datadog/tests/resource_datadog_synthetics_global_variable_test.go
  docs/resources/dashboard.md
  docs/resources/synthetics_global_variable.md
  docs/resources/synthetics_test.md
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app, @DataDog/dashboards, @DataDog/documentation

[dashboards] Implement formulas and functions support for query table widgets (#1158)
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardQueryTableFormula_import.yaml
  datadog/tests/resource_datadog_dashboard_query_table_test.go
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

Update go client
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add support for local variables for browser tests
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Regenerate docs
  docs/resources/dashboard.md
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation, @DataDog/monitor-app

other fix
  datadog/data_source_datadog_security_monitoring_filters.go
  datadog/data_source_datadog_security_monitoring_rules.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/security-monitoring

fix
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

make docs
  GNUmakefile
  docs/resources/dashboard.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/documentation

Prepare 3.3.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

update go client and changelog
  CHANGELOG.md
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

make docs
  docs/resources/monitor.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/documentation

Prepare 3.3.0 release (#1188)
  CHANGELOG.md
  docs/resources/monitor.md
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app, @DataDog/documentation

Expand the example to demonstrate how to use the dashboard list data
  docs/data-sources/dashboard_list.md
Owners: @DataDog/integrations-tools-and-libraries

add to data-source.tf
  examples/data-sources/datadog_dashboard_list/data-source.tf
Owners: @DataDog/integrations-tools-and-libraries

Expand the example to demonstrate how to use the dashboard list data (#1148)
  docs/data-sources/dashboard_list.md
  examples/data-sources/datadog_dashboard_list/data-source.tf
Owners: @DataDog/integrations-tools-and-libraries

[Synthetics] Add support for local variables for browser tests (#1185)
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

document use of access_key_id as account_id for aws integrations
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_aws_tag_filter.go
  datadog/tests/cassettes/TestAccDatadogIntegrationAWSLambdaArnAccessKey.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationAWSLambdaArnAccessKey.yaml
  datadog/tests/cassettes/TestAccDatadogIntegrationAWSLogCollectionAccessKey.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationAWSLogCollectionAccessKey.yaml
  datadog/tests/cassettes/TestAccDatadogIntegrationAwsTagFilter_BasicAccessKey.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationAwsTagFilter_BasicAccessKey.yaml
  datadog/tests/resource_datadog_integration_aws_lambda_arn_test.go
  datadog/tests/resource_datadog_integration_aws_log_collection_test.go
  datadog/tests/resource_datadog_integration_aws_tag_filter_test.go
  docs/resources/integration_aws_lambda_arn.md
  docs/resources/integration_aws_log_collection.md
  docs/resources/integration_aws_tag_filter.md
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/cloud-integrations, @DataDog/documentation

make fmt
  datadog/data_source_datadog_ip_ranges.go
  datadog/data_source_datadog_synthetics_locations.go
  datadog/resource_datadog_integration_pagerduty.go
  examples/data-sources/datadog_dashboard_list/data-source.tf
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/synthetics-app, @DataDog/web-integrations

make docs
  docs/data-sources/dashboard_list.md
Owners: @DataDog/integrations-tools-and-libraries

document use of access_key_id as account_id for aws integrations (#1189)
  datadog/data_source_datadog_ip_ranges.go
  datadog/data_source_datadog_synthetics_locations.go
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
  datadog/resource_datadog_integration_aws_tag_filter.go
  datadog/resource_datadog_integration_pagerduty.go
  datadog/tests/cassettes/TestAccDatadogIntegrationAWSLambdaArnAccessKey.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationAWSLambdaArnAccessKey.yaml
  datadog/tests/cassettes/TestAccDatadogIntegrationAWSLogCollectionAccessKey.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationAWSLogCollectionAccessKey.yaml
  datadog/tests/cassettes/TestAccDatadogIntegrationAwsTagFilter_BasicAccessKey.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationAwsTagFilter_BasicAccessKey.yaml
  datadog/tests/resource_datadog_integration_aws_lambda_arn_test.go
  datadog/tests/resource_datadog_integration_aws_log_collection_test.go
  datadog/tests/resource_datadog_integration_aws_tag_filter_test.go
  docs/data-sources/dashboard_list.md
  docs/resources/integration_aws_lambda_arn.md
  docs/resources/integration_aws_log_collection.md
  docs/resources/integration_aws_tag_filter.md
  examples/data-sources/datadog_dashboard_list/data-source.tf
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa, @DataDog/synthetics-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/documentation
