Repository DataDog/terraform-provider-datadog, changes with the owners that .github/CODEOWNERS names for each.
All owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards, @DataDog/monitor-app, @DataDog/cloud-integrations, @DataDog/web-integrations, @DataDog/logs-intake, @DataDog/metrics-intake, @DataDog/metrics-query, @DataDog/synthetics-app, @DataDog/team-aaa

add datadog_integration_webhook resource
  datadog/provider.go
  datadog/resource_datadog_integration_webhook.go
  datadog/resource_datadog_integration_webhook_test.go
Owners: @DataDog/integrations-tools-and-libraries

Add template_variable_presets to datadog_dashboard
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Document template_variable_presets
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add template_variable_presets to datadog_dashboard (#401)
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Fix dashboard widget index
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Remove redundant resource checks
  datadog/resource_datadog_dashboard_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Add Datadog dashboard query table (#373)
  datadog/resource_datadog_dashboard.go
  datadog/resource_datadog_dashboard_test.go
  website/docs/r/dashboard.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/dashboards

Prepare changelog for 2.7.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Fix typo
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Prepare changelog for 2.7.0 release (#410)
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

v2.7.0
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

Cleanup after v2.7.0 release
  CHANGELOG.md
Owners: @DataDog/integrations-tools-and-libraries

ISSUE-344
  datadog/provider.go
  datadog/resource_datadog_integration_webhook.go
  datadog/resource_datadog_integration_webhook_test.go
Owners: @DataDog/integrations-tools-and-libraries

adding documentation
  CHANGELOG.md
  website/docs/r/integration_webhook.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

ISSUE-344 - fixing buildDatadogHeaders
  datadog/resource_datadog_integration_webhook.go
Owners: @DataDog/integrations-tools-and-libraries

ISSUE-344 - Add acceptance tests
  datadog/resource_datadog_integration_webhook.go
  datadog/resource_datadog_integration_webhook_test.go
  go.mod
Owners: @DataDog/integrations-tools-and-libraries

ISSUE-344 - generating internal id on import
  datadog/resource_datadog_integration_webhook.go
Owners: @DataDog/integrations-tools-and-libraries

ISSUE-344 - Fixing bugs in test cases
  datadog/resource_datadog_integration_webhook_test.go
Owners: @DataDog/integrations-tools-and-libraries

clarify language around no_data_timeframe
  website/docs/r/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

clarify language around no_data_timeframe
  website/docs/r/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

add(synthetic): monitor_options block
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

Update datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

add(synthetic): test for monitor_options
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

add(website): synthetics test monitor options
  website/docs/r/synthetics.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

drop omitted language
  website/docs/r/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

[MA-902] no data timeframe doc clarification (#418)
  website/docs/r/monitor.html.markdown
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

Add slack integration
  datadog/provider.go
  datadog/resource_datadog_integration_slack.go
  datadog/resource_datadog_integration_slack_test.go
  website/docs/r/integration_slack.html.markdown
Owners: @DataDog/integrations-tools-and-libraries

Add header as an expected value
  datadog/resource_datadog_integration_webhook_test.go
Owners: @DataDog/integrations-tools-and-libraries

ISSUE-344 - fixing bad patch
  datadog/resource_datadog_integration_webhook_test.go
Owners: @DataDog/integrations-tools-and-libraries

Split record, testacc, replay
  GNUmakefile
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

longer timeout
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

Remove API validation completely
  datadog/provider_test.go
Owners: @DataDog/integrations-tools-and-libraries

fixes
  datadog/resource_datadog_user.go
  go.mod
  go.sum
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

add fake app and api keys
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

clean make file
  GNUmakefile
Owners: @DataDog/integrations-tools-and-libraries

improve error messages
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

update go sum
  go.sum
Owners: @DataDog/integrations-tools-and-libraries

synthetics: add support for retry (count, interval)
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/synthetics-app

handle errors
  datadog/provider.go
  datadog/resource_datadog_user.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/team-aaa

replace go client in Downtime resource
  datadog/resource_datadog_downtime.go
  datadog/resource_datadog_downtime_test.go
Owners: @DataDog/integrations-tools-and-libraries, @DataDog/monitor-app

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/ for syntax
# Rules are matched bottom-to-top, so one team can own subdirectories
# and another the rest of the directory.

# All your base
*                                         @DataDog/integrations-tools-and-libraries

datadog/*datadog_dashboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/dashboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_downtime*                @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/downtime*                  @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_integration_aws*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_aws*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_gcp*         @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
website/docs/r/integration_gcp*           @DataDog/integrations-tools-and-libraries @DataDog/cloud-integrations
datadog/*datadog_integration_pagerduty*   @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
website/docs/r/integration_pagerduty*     @DataDog/integrations-tools-and-libraries @DataDog/web-integrations
datadog/*datadog_logs*                    @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
website/docs/r/logs*                      @DataDog/integrations-tools-and-libraries @DataDog/logs-intake
datadog/*datadog_metric*                  @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
website/docs/r/metric*                    @DataDog/integrations-tools-and-libraries @DataDog/metrics-intake @DataDog/metrics-query
datadog/*datadog_monitor*                 @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/monitor*                   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_screenboard*             @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/screenboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_service_level_objective* @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
website/docs/r/service_level_objective*   @DataDog/integrations-tools-and-libraries @DataDog/monitor-app
datadog/*datadog_synthetics_test*         @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
website/docs/r/synthetics*                @DataDog/integrations-tools-and-libraries @DataDog/synthetics-app
datadog/*datadog_timeboard*               @DataDog/integrations-tools-and-libraries @DataDog/dashboards
website/docs/r/timeboard*                 @DataDog/integrations-tools-and-libraries @DataDog/dashboards
datadog/*datadog_user*                    @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
website/docs/r/user*                      @DataDog/integrations-tools-and-libraries @DataDog/team-aaa
