Repository DataDog/terraform-provider-datadog, pull requests merged in 2020-10, with the labels that each got.

#682 Add `target_format` property to the Logs attribute remapper
  datadog/cassettes/TestAccDatadogLogsPipeline_basic.freeze
  datadog/cassettes/TestAccDatadogLogsPipeline_basic.yaml
  datadog/resource_datadog_logs_custom_pipeline.go
  datadog/resource_datadog_logs_custom_pipeline_test.go
  docs/resources/logs_custom_pipeline.md
Labels: documentation, new-resource

#691 [Synthetics] Add support for global variables for synthetics
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/resource_datadog_synthetics_test_.go
  datadog/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Labels: feature-request

#693 update a wrong link in pipeline order doc
  docs/resources/logs_pipeline_order.md
Labels: bug, resource/logs

#705 [Logs] add rehydration_tags attribute in archives
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_test.go
  docs/resources/logs_archive.md
Labels: documentation, resource/logs

#694 [Logs] add the new endpoint to reorder the logs archives
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveOrder_empty.yaml
  datadog/provider.go
  datadog/provider_test.go
  datadog/resource_datadog_logs_archive_order.go
  datadog/resource_datadog_logs_archive_order_test.go
  docs/resources/logs_archive_order.md
Labels: documentation, new-resource, resource/logs

#715 Add include_tags in the log external archives
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
  datadog/resource_datadog_logs_archive.go
  datadog/resource_datadog_logs_archive_test.go
  docs/resources/logs_archive.md
Labels: provider, resource/logs
