Repository DataDog/terraform-provider-datadog, pull requests merged in 2022-06, with the labels that each got.

#1447 Update security monitoring docs
  datadog/resource_datadog_security_monitoring_rule.go
  docs/data-sources/security_monitoring_rules.md
  docs/resources/security_monitoring_default_rule.md
  docs/resources/security_monitoring_rule.md
  scripts/generate-docs.sh
Labels: changelog/no-changelog

#1457 [datadog_monitor_json] Avoid unnecessary restricted_roles diff
  datadog/resource_datadog_monitor_json.go
  go.sum
Labels: changelog/improvement, resource/datadog_monitor_json, ci/integrations

#1463 Trigger PR title check on edit
  .github/workflows/changelog.yaml
Labels: changelog/no-changelog

#1470 [datadog_dashboard] Add list_stream_definition resource type
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardListStream.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardListStream.yaml
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_dashboard_list_stream_test.go
  docs/resources/dashboard.md
Labels: changelog/improvement, resource/datadog_dashboard
