Repository DataDog/terraform-provider-datadog, pull requests merged in 2022-01, with the labels that each got.

#1317 Add retry options to Synthetics multi step
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Labels: enhancement, resource/synthetics

#1307 Fix slo-correction examples
  docs/resources/slo_correction.md
  examples/resources/datadog_slo_correction/resource.tf
Labels: documentation

#1330 Enforce labels on PRs
  .github/workflows/changelog.yaml
  DEVELOPMENT.md
Labels: changelog/no-changelog

#1332 datadog_synthetics_test: fix retry parsing
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
Labels: changelog/bugfix, resource/datadog_synthetics_test

#1333 Prepare changelog for 3.8.1
  CHANGELOG.md
Labels: changelog/no-changelog

#1331 Implement support for Treemap widget
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardTreemap.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardTreemap.yaml
  datadog/tests/cassettes/TestAccDatadogDashboardTreemap_import.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardTreemap_import.yaml
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_dashboard_treemap_test.go
  docs/resources/dashboard.md
Labels: changelog/improvement, resource/datadog_dashboard

#1334 Add dependency and build caches to GH action
  .github/workflows/test.yml
Labels: changelog/no-changelog
