Repository DataDog/terraform-provider-datadog, pull requests merged in 2022-02, with the labels that each got.

#1338 Add terraform support for Cloud Workload Security Agent Rules
  datadog/data_source_datadog_cloud_workload_security_agent_rules.go
  datadog/provider.go
  datadog/resource_datadog_cloud_workload_security_agent_rule.go
  datadog/tests/cassettes/TestAccDatadogCloudWorkloadSecurityAgentRule.freeze
  datadog/tests/cassettes/TestAccDatadogCloudWorkloadSecurityAgentRule.yaml
  datadog/tests/cassettes/TestAccDatadogCloudWorkloadSecurityAgentRulesDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogCloudWorkloadSecurityAgentRulesDatasource.yaml
  datadog/tests/data_source_datadog_cloud_workload_security_agent_rules_test.go
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_cloud_workload_security_agent_rule_test.go
  docs/data-sources/cloud_workload_security_agent_rules.md
  docs/resources/cloud_workload_security_agent_rule.md
  examples/data-sources/datadog_cloud_workload_security_agent_rules/data-source.tf
  examples/resources/datadog_cloud_workload_security_agent_rule/import.sh
  examples/resources/datadog_cloud_workload_security_agent_rule/resource.tf
Labels: changelog/feature, resource/datadog_cws_agent_rules

#1339 Migrate AZP Pipeline to Github actions
  .azure-pipelines/all.yml
  .github/workflows/test_integration.yml
  .pre-commit-config.yaml
Labels: changelog/no-changelog, ci/integrations

#1326 Add support for `apm_stats_query` for distributions widget
  datadog/resource_datadog_dashboard.go
  datadog/tests/cassettes/TestAccDatadogDashboardApmStatsQueryDistribution.freeze
  datadog/tests/cassettes/TestAccDatadogDashboardApmStatsQueryDistribution.yaml
  datadog/tests/resource_datadog_dashboard_distribution_test.go
  docs/resources/dashboard.md
Labels: changelog/improvement, resource/datadog_dashboard, ci/integrations

#1341 [ACCESS-595] Build skeleton for Datadog SAML Role Mappings terraform provider flow.
  datadog/provider.go
  datadog/resource_datadog_authn_mapping.go
  docs/resources/authn_mapping.md
Labels: changelog/feature, resource/datadog_authn_mapping

#1336 Add support new authentication types and request proxy for Synthetics tests
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_importBasic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariableSecure_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestMultistepApi_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
  go.mod
  go.sum
Labels: changelog/improvement, resource/datadog_synthetics_test, ci/integrations

#1348 Remove unnecessary `depends_on` in examples
  docs/resources/dashboard_list.md
  docs/resources/logs_archive_order.md
  docs/resources/logs_index_order.md
  docs/resources/logs_pipeline_order.md
  examples/resources/datadog_dashboard_list/resource.tf
  examples/resources/datadog_logs_archive_order/resource.tf
  examples/resources/datadog_logs_index_order/resource.tf
  examples/resources/datadog_logs_pipeline_order/resource.tf
Labels: changelog/no-changelog

#1347 Set `evaluation_window` to optional and fix tests
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_NewValueRule.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_NewValueRule.yaml
  datadog/tests/resource_datadog_security_monitoring_rule_test.go
Labels: changelog/improvement, resource/datadog_security_monitoring_rule, ci/integrations

#1344 ACCESS 599: Provider for creating AuthN Mappings
  datadog/resource_datadog_authn_mapping.go
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_authn_mapping_test.go
  examples/resources/datadog_authn_mapping/resource.tf
Labels: changelog/feature, resource/datadog_authn_mapping

#1350 [ACCESS-597] Support ReadContext for Datadog SAML Authentication Mapping.
  datadog/resource_datadog_authn_mapping.go
Labels: changelog/feature, resource/datadog_authn_mapping

#1351 ACCESS 600: Terraform delete context for AuthN Mapping
  datadog/resource_datadog_authn_mapping.go
  datadog/tests/resource_datadog_authn_mapping_test.go
Labels: changelog/feature, resource/datadog_authn_mapping

#1356 [ACCESS-598] Support UpdateContext for Datadog SAML Authentication Mapping
  datadog/resource_datadog_authn_mapping.go
  datadog/tests/resource_datadog_authn_mapping_test.go
Labels: changelog/feature, resource/datadog_authn_mapping

#1349 New logs indexes datasource
  datadog/data_source_datadog_logs_indexes.go
  datadog/provider.go
  datadog/tests/cassettes/TestAccDatadogLogsIndexesDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogLogsIndexesDatasource.yaml
  datadog/tests/data_source_datadog_logs_indexes_test.go
  datadog/tests/provider_test.go
  docs/data-sources/logs_indexes.md
  examples/data-sources/datadog_logs_indexes/data-source.tf
Labels: changelog/feature, resource/datadog_logs_index, ci/integrations

#1346 Add element user locator field for browser steps
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Labels: changelog/improvement, resource/datadog_synthetics_test

#1343 AWS Integration: Add support for metrics and resource collections
  datadog/resource_datadog_integration_aws.go
  datadog/tests/cassettes/TestAccDatadogIntegrationAWS.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationAWS.yaml
  datadog/tests/resource_datadog_integration_aws_test.go
  docs/resources/integration_aws.md
Labels: changelog/improvement, resource/datadog_integration_aws, ci/integrations

#1358 ACCESS 523: Add terraform support for SAML AuthN Mappings
  datadog/provider.go
  datadog/resource_datadog_authn_mapping.go
  datadog/tests/cassettes/TestAccDatadogAuthNMapping_CreateUpdate.freeze
  datadog/tests/cassettes/TestAccDatadogAuthNMapping_CreateUpdate.yaml
  datadog/tests/cassettes/TestAccDatadogAuthNMapping_import.freeze
  datadog/tests/cassettes/TestAccDatadogAuthNMapping_import.yaml
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_authn_mapping_test.go
  docs/resources/authn_mapping.md
  examples/resources/datadog_authn_mapping/import.sh
  examples/resources/datadog_authn_mapping/resource.tf
  go.mod
  go.sum
Labels: changelog/feature, ci/integrations, resource/datadog_authn_mapping
