Repository DataDog/terraform-provider-datadog, pull requests merged in 2022-05, with the labels that each got.

#1432 Add documentation on limits for Monitors timeout_h option
  datadog/resource_datadog_monitor.go
  docs/resources/monitor.md
Labels: changelog/note, resource/datadog_monitor

#1417 [mute_first_recovery_notification] add mute first recovery notification to monitor options
  datadog/resource_datadog_downtime.go
  datadog/tests/cassettes/TestAccDatadogDowntimeDates.freeze
  datadog/tests/cassettes/TestAccDatadogDowntimeDates.yaml
  datadog/tests/cassettes/TestAccDatadogDowntimeDatesConflict.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicMultiScope.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicMultiScope.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicNoRecurrence.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicNoRecurrence.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicUntilDateRecurrence.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicUntilDateRecurrence.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicUntilOccurrencesRecurrence.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicUntilOccurrencesRecurrence.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicWithMonitor.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicWithMonitor.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicWithMonitorTags.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_BasicWithMonitorTags.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_DiffStart.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_DiffStart.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_RRule.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_RRule.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_TrimWhitespace.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_TrimWhitespace.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogDowntime_WeekDayRecurring.freeze
  datadog/tests/cassettes/TestAccDatadogDowntime_WeekDayRecurring.yaml
  datadog/tests/cassettes/TestDatadogDowntime_import.freeze
  datadog/tests/resource_datadog_downtime_test.go
  docs/resources/downtime.md
Labels: changelog/feature, resource/datadog_downtime, ci/integrations

#1440 [datadog_logs_archive] Handle new rehydration_max_scan_size_in_gb field for Logs Archives
  datadog/resource_datadog_logs_archive.go
  datadog/tests/cassettes/TestAccDatadogLogsArchiveAzure_basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveAzure_basic.yaml
  datadog/tests/cassettes/TestAccDatadogLogsArchiveGCS_basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveGCS_basic.yaml
  datadog/tests/cassettes/TestAccDatadogLogsArchiveS3Update_basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveS3Update_basic.yaml
  datadog/tests/cassettes/TestAccDatadogLogsArchiveS3_basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsArchiveS3_basic.yaml
  datadog/tests/resource_datadog_logs_archive_test.go
  docs/resources/logs_archive.md
Labels: changelog/improvement, ci/integrations

#1437 [datadog_synthetics_test] Allow users to set user locator with no element
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_NoElement.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_NoElement.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
Labels: changelog/bugfix, resource/datadog_synthetics_test, ci/integrations

#1397 [datadog_synthetics_test] Fix `config_variable` example
  docs/resources/synthetics_test.md
  templates/resources/synthetics_test.md.tmpl
Labels: changelog/note, ci/integrations

#1434 docs: Update docs for rrule/type
  datadog/resource_datadog_downtime.go
  docs/resources/downtime.md
Labels: changelog/improvement, resource/datadog_downtime

#1448 Bump datadog-api-client to v1.14.0
  go.mod
  go.sum
Labels: changelog/note, ci/integrations

#1449 Update Monitors Terraform Resource Example
  docs/guides/monitors.md
  docs/resources/monitor.md
  examples/guides/anomaly_monitor.tf
  examples/guides/process_monitor.tf
  examples/guides/watchdog_monitor.tf
  examples/resources/datadog_monitor/resource.tf
Labels: documentation, changelog/no-changelog, resource/datadog_monitor

#1451 [monitors] Add ci-tests alert to terraform monitor docs.
  docs/resources/monitor.md
  go.mod
  go.sum
Labels: changelog/improvement, ci/integrations
