Repository DataDog/terraform-provider-datadog, pull requests merged in 2022-03, with the labels that each got.

#1370 Fixes for concurrency issues in `integration_aws_lambda_arn` and `aws_log_collection` resources
  datadog/resource_datadog_integration_aws_lambda_arn.go
  datadog/resource_datadog_integration_aws_log_collection.go
Labels: changelog/bugfix, resource/datadog_integration_aws_lambda_arn, resource/datadog_integration_aws_log_collection, ci/integrations

#1368 [Synthetics] Add certificate check option for ssl tests
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsSSLTest_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsSSLTest_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsSSLTest_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsSSLTest_importBasic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsSSLTest_importBasic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
  go.mod
  go.sum
Labels: changelog/improvement, resource/datadog_synthetics_test, ci/integrations

#1359 [Synthetics] Add support for is_critical option on browser steps
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserVariables_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Labels: changelog/feature, resource/datadog_synthetics_test, ci/integrations

#1373 Bump `datadog-api-client` to v1.10.0
  go.mod
  go.sum
Labels: changelog/note, ci/integrations

#1375 Prepare changelog for 3.9.0 release
  CHANGELOG.md
Labels: changelog/no-changelog, ci/integrations

#1379 Fix `enabled` attribute reading
  datadog/resource_datadog_cloud_workload_security_agent_rule.go
  datadog/tests/cassettes/TestAccDatadogCloudWorkloadSecurityAgentRule.freeze
  datadog/tests/cassettes/TestAccDatadogCloudWorkloadSecurityAgentRule.yaml
  datadog/tests/cassettes/TestAccDatadogCloudWorkloadSecurityAgentRulesDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogCloudWorkloadSecurityAgentRulesDatasource.yaml
  datadog/tests/resource_datadog_cloud_workload_security_agent_rule_test.go
Labels: changelog/bugfix, resource/datadog_cws_agent_rules, ci/integrations

#1386 Validate PR title
  .github/workflows/changelog.yaml
Labels: changelog/no-changelog

#1366 Automatize the release process
  .github/release.yml
  .github/workflows/prepare_release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
  .github/workflows/test_integration.yml
  .goreleaser.yml
Labels: changelog/no-changelog

#1391 [datadog_synthetics_test] Add synthetics test data source
  datadog/data_source_datadog_synthetics_test_.go
  datadog/provider.go
  datadog/tests/cassettes/TestAccDatatogSyntheticsTest.freeze
  datadog/tests/cassettes/TestAccDatatogSyntheticsTest.yaml
  datadog/tests/data_source_datadog_synthetics_test_test.go
  datadog/tests/provider_test.go
  docs/data-sources/synthetics_test.md
Labels: changelog/feature, ci/integrations

#1393 Update Datadog client to v1.11.0
  datadog/resource_datadog_synthetics_test_.go
  docs/resources/monitor.md
  go.mod
  go.sum
Labels: changelog/note

#1392 [monitor] Update docs for restricted_roles.
  datadog/resource_datadog_monitor.go
  docs/resources/monitor.md
Labels: changelog/no-changelog
