Repository DataDog/terraform-provider-datadog, pull requests merged in 2025-04, with the labels that each got.

#2940 [datadog_synthetics_test] Fix retry maximum value
  datadog/resource_datadog_synthetics_test_.go
  docs/resources/synthetics_test.md
Labels: resource/datadog_synthetics_test, mergequeue-status: in_progress, changelog/documentation

#2939 [datadog_synthetics_test] Add an example for ICMP testing
  datadog/tests/data_source_datadog_app_builder_app_test.go
  datadog/tests/resource_datadog_app_builder_app_test.go
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
Labels: resource/datadog_synthetics_test, mergequeue-status: in_progress, changelog/documentation

#2941 [datadog_synthetics_test] Fix example for GRPC testing
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
Labels: resource/datadog_synthetics_test, mergequeue-status: in_progress, changelog/documentation

#2943 [synthetics_locations] Migrate data_source to framework
  datadog/data_source_datadog_synthetics_locations.go
  datadog/fwprovider/data_source_datadog_synthetics_locations.go
  datadog/fwprovider/framework_provider.go
  datadog/provider.go
  datadog/tests/data_source_datadog_synthetics_locations_test.go
Labels: changelog/no-changelog, resource/datadog_synthetics_locations, mergequeue-status: in_progress

#2947 [datadog_synthetics_tests] Fix encoding bug on plain_proto_file / compressedProtoFile
  datadog/resource_datadog_synthetics_test_.go
Labels: changelog/bugfix

#2946 [datadog_integration_aws_account] Update docs to clarify that external_id must be generated by Datadog
  docs/resources/integration_aws_account.md
Labels: mergequeue-status: in_progress, changelog/documentation, resource/datadog_integration_aws_account

#2942 [datadog_monitor] Update docs for on_missing_data compatibility
  datadog/resource_datadog_monitor.go
  docs/resources/monitor.md
Labels: resource/datadog_monitor, changelog/documentation

#2948 Run all tofu tests for all PRs
  .github/workflows/test.yml
Labels: changelog/no-changelog

#2950 [datadog_integration_slack_channel] Add mute_button argument
  datadog/resource_datadog_integration_slack_channel.go
  datadog/tests/cassettes/TestAccDatadogIntegrationSlackChannel_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationSlackChannel_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogIntegrationSlackChannel_Import.freeze
  datadog/tests/cassettes/TestAccDatadogIntegrationSlackChannel_Import.yaml
  datadog/tests/resource_datadog_integration_slack_channel_test.go
  docs/resources/integration_slack_channel.md
  go.mod
  go.sum
Labels: changelog/improvement

#2945 [datadog_observability_pipeline] Add Observability Pipeline resource
  datadog/fwprovider/framework_provider.go
  datadog/fwprovider/resource_datadog_observability_pipeline.go
  datadog/internal/utils/api_instances_helper.go
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_addFieldsProcessor.freeze
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_addFieldsProcessor.yaml
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_basic.freeze
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_basic.yaml
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_datadogAgentWithTLS.freeze
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_datadogAgentWithTLS.yaml
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_filterProcessor.freeze
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_filterProcessor.yaml
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_kafka.freeze
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_kafka.yaml
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_parseJsonProcessor.freeze
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_parseJsonProcessor.yaml
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_quotaProcessor.freeze
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_quotaProcessor.yaml
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_removeFieldsProcessor.freeze
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_removeFieldsProcessor.yaml
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_renameFieldsProcessor.freeze
  datadog/tests/cassettes/TestAccDatadogObservabilityPipeline_renameFieldsProcessor.yaml
  datadog/tests/framework_provider_test.go
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_observability_pipeline_test.go
  docs/resources/observability_pipeline.md
  examples/resources/datadog_observability_pipeline/resource.tf
  go.mod
  go.sum
Labels: changelog/feature, mergequeue-status: in_progress

#2958 [Generator] Remove "-" from generated golang api reference
  .generator/src/generator/templates/base_resource.j2
  .generator/src/generator/templates/data_source/base.j2
  .generator/src/generator/templates/resource_test.j2
Labels: changelog/no-changelog, mergequeue-status: in_progress

#2931 [datadog_security_monitoring_rules] Add dataSource to rule query
  datadog/data_source_datadog_security_monitoring_rules.go
  datadog/resource_datadog_security_monitoring_rule.go
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_AppsecRule.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_AppsecRule.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_CreateInvalidRule.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_CreateInvalidRule.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_CwsRule.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_CwsRule.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_Import.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_Import.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_ImpossibleTravelRule.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_ImpossibleTravelRule.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_InvalidTypes.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_NewValueRule.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_NewValueRule.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_OnlyRequiredFields.yaml
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_SignalCorrelation.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRule_SignalCorrelation.yaml
  datadog/tests/cassettes/TestAccRestrictionPolicyBasic.freeze
  datadog/tests/cassettes/TestAccRestrictionPolicyBasic.yaml
  datadog/tests/cassettes/TestAccRestrictionPolicyInvalidInput.freeze
  datadog/tests/cassettes/TestAccRestrictionPolicyInvalidInput.yaml
  datadog/tests/cassettes/TestAccRestrictionPolicyUpdate.freeze
  datadog/tests/cassettes/TestAccRestrictionPolicyUpdate.yaml
  datadog/tests/resource_datadog_restriction_policy_test.go
  datadog/tests/resource_datadog_security_monitoring_rule_test.go
  docs/data-sources/security_monitoring_rules.md
  docs/resources/security_monitoring_rule.md
  examples/resources/datadog_security_monitoring_rule/resource.tf
Labels: changelog/no-changelog, mergequeue-status: in_progress

#2963 [datadog_synthetics_test] Specify the unit in the example for file upload
  datadog/fwprovider/data_source_datadog_synthetics_locations.go
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
Labels: resource/datadog_synthetics_test, mergequeue-status: in_progress, changelog/documentation

#2967 [slo_query_type] bump datadog-api-client-go v2.37.1
  docs/resources/dashboard.md
  docs/resources/powerpack.md
  docs/resources/security_monitoring_rule.md
  docs/resources/synthetics_test.md
  go.mod
  go.sum
Labels: changelog/improvement, mergequeue-status: in_progress

#2971 [synthetics_test] Add assertRequests browser step
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
  go.mod
  go.sum
Labels: changelog/feature, mergequeue-status: removed

#2979 [synthetics_test] add escalation message parameter as a monitor option in the terraform provider as a monitor option
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_BasicNewAssertionsOptions.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsAPITest_UpdatedNewAssertionsOptions.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated_RumSettings.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_Updated_RumSettings.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTest_importBasic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_LocalVariable.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsGlobalVariableFromTest_LocalVariable.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
  examples/resources/datadog_synthetics_test/resource.tf
Labels: changelog/feature, resource/datadog_synthetics_test, mergequeue-status: in_progress

#2978 [datadog_synthetics_test] SYN-4083: Update tick-every description with value ranges
  datadog/resource_datadog_synthetics_test_.go
  docs/resources/synthetics_test.md
Labels: resource/datadog_synthetics_test, mergequeue-status: in_progress, changelog/documentation

#2966 [datadog_metric_tags] add `datadog_metric_tags` data source
  datadog/fwprovider/data_source_datadog_metric_tags.go
  datadog/fwprovider/framework_provider.go
  datadog/tests/cassettes/TestAccDatadogMetricTagsDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogMetricTagsDatasource.yaml
  datadog/tests/data_source_datadog_metric_tags_test.go
  datadog/tests/provider_test.go
  docs/data-sources/metric_tags.md
Labels: new-data-source, changelog/feature

#2986 Update CODEOWNERS
  .github/CODEOWNERS
Labels: changelog/no-changelog, mergequeue-status: in_progress

#2980 [datadog_monitor_notification_rule] Add support for Monitor Notification Rule
  datadog/fwprovider/framework_provider.go
  datadog/fwprovider/resource_datadog_monitor_notification_rule.go
  datadog/tests/cassettes/TestAccMonitorNotificationRule_Create.freeze
  datadog/tests/cassettes/TestAccMonitorNotificationRule_Create.yaml
  datadog/tests/cassettes/TestAccMonitorNotificationRule_Import.freeze
  datadog/tests/cassettes/TestAccMonitorNotificationRule_Import.yaml
  datadog/tests/cassettes/TestAccMonitorNotificationRule_Update.freeze
  datadog/tests/cassettes/TestAccMonitorNotificationRule_Update.yaml
  datadog/tests/framework_provider_test.go
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_monitor_notification_rule_test.go
  docs/resources/monitor_notification_rule.md
  examples/resources/datadog_monitor_notification_rule/import.sh
  examples/resources/datadog_monitor_notification_rule/resource.tf
  go.mod
  go.sum
Labels: changelog/feature, mergequeue-status: in_progress, resource/datadog_monitor_notification_rule

#2994 [Generator] Fixed generator crash
  .generator/src/generator/type.py
Labels: changelog/no-changelog
