Repository DataDog/terraform-provider-datadog, pull requests merged in 2025-05, with the labels that each got.

#2923 [datadog_dashboards] [datadog_powerpacks] add custom_links support to treemap widgets
  datadog/resource_datadog_dashboard.go
  docs/dashboard_widget_field_rules.md
  docs/resources/dashboard.md
  docs/resources/powerpack.md
Labels: changelog/feature, resource/datadog_dashboard, mergequeue-status: in_progress

#2999 [datadog_integration_gcp_sts] Add IsPerProjectQuotaEnabled field
  datadog/fwprovider/resource_datadog_integration_gcp_sts.go
  datadog/tests/cassettes/TestAccIntegrationGcpStsBasic.freeze
  datadog/tests/cassettes/TestAccIntegrationGcpStsBasic.yaml
  datadog/tests/cassettes/TestAccIntegrationGcpStsDefault.freeze
  datadog/tests/cassettes/TestAccIntegrationGcpStsDefault.yaml
  datadog/tests/resource_datadog_integration_gcp_sts_test.go
  docs/resources/integration_gcp_sts.md
Labels: changelog/feature, gcp-integrations, mergequeue-status: rejected, resource/datadog_integration_gcp_sts

#2985 [datadog_security_monitoring_rule_json] Add security_monitoring_rule_json resource
  datadog/fwprovider/framework_provider.go
  datadog/fwprovider/resource_datadog_security_monitoring_rule_json.go
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRuleJSON_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSecurityMonitoringRuleJSON_Basic.yaml
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_security_monitoring_rule_json_test.go
  docs/resources/security_monitoring_rule_json.md
  examples/resources/datadog_security_monitoring_rule_json/import.sh
  examples/resources/datadog_security_monitoring_rule_json/resource.tf
Labels: new-resource, changelog/feature, mergequeue-status: in_progress

#3003 [datadog_monitor_notification_rule] Update docs with preview description
  datadog/fwprovider/resource_datadog_monitor_notification_rule.go
  docs/resources/monitor_notification_rule.md
Labels: mergequeue-status: in_progress, changelog/documentation, resource/datadog_monitor_notification_rule

#2997 [datadog_cloud_configuration_rule] Changed tags field type to Set
  datadog/internal/utils/utils.go
  datadog/resource_datadog_cloud_configuration_rule.go
  docs/resources/cloud_configuration_rule.md
Labels: changelog/improvement, resource/datadog_cloud_configuration_rule

#3002 Log error for sdkv2 deprecation check
  .github/workflows/sdkv2_deprecation.yaml
Labels: changelog/no-changelog

#3000 [on_call_schedule] Add on-call schedule resource
  datadog/fwprovider/framework_provider.go
  datadog/fwprovider/resource_datadog_on_call_schedule.go
  datadog/internal/customtypes/backward_rfc3339_date_string_type.go
  datadog/internal/utils/api_instances_helper.go
  datadog/tests/cassettes/TestAccOnCallScheduleCreateAndUpdate.freeze
  datadog/tests/cassettes/TestAccOnCallScheduleCreateAndUpdate.yaml
  datadog/tests/provider_test.go
  datadog/tests/resource_datadog_on_call_schedule_test.go
  datadog/tests/resource_datadog_on_call_schedule_test.tf
  docs/resources/on_call_schedule.md
  examples/resources/datadog_on_call_schedule/import.sh
  examples/resources/datadog_on_call_schedule/resource.tf
Labels: new-resource, changelog/feature, mergequeue-status: in_progress, resource/on_call_schedule

#3006 Improve form with direct link to Datadog support
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-feature-request.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: changelog/no-changelog

#3008 [synthetics_test] Add API endpoint link to synthetics location list
  datadog/resource_datadog_synthetics_test_.go
  docs/resources/synthetics_test.md
Labels: resource/datadog_synthetics_test, mergequeue-status: in_progress, changelog/documentation

#3012 [datadog_app_builder_app] Mention export button in description
  datadog/fwprovider/resource_datadog_app_builder_app.go
  docs/resources/app_builder_app.md
Labels: mergequeue-status: in_progress, changelog/documentation, resource/datadog_app_builder_app

#2808 [datadog_monitors] Fix `datadog_monitors` datasource not failing if no monitors found
  datadog/data_source_datadog_monitors.go
Labels: changelog/bugfix

#2885 [datadog_logs_index] Add delete logs indexes support in terraform
  datadog/resource_datadog_logs_index.go
  datadog/tests/cassettes/TestAccDatadogLogsIndex_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogLogsIndex_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogLogsIndexesDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogLogsIndexesDatasource.yaml
  datadog/tests/cassettes/TestAccDatadogLogsIndexesOrderDatasource.freeze
  datadog/tests/cassettes/TestAccDatadogLogsIndexesOrderDatasource.yaml
  datadog/tests/data_source_datadog_logs_indexes_order_test.go
  datadog/tests/resource_datadog_logs_index_test.go
Labels: changelog/improvement, resource/datadog_logs_index

#3013 [datadog_synthetics_test] Add `click_with_javascript` for browser tests
  datadog/resource_datadog_synthetics_test_.go
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsBrowserTestBrowserNewBrowserStep_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserMML_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_NoElement.freeze
  datadog/tests/cassettes/TestAccDatadogSyntheticsTestBrowserUserLocator_NoElement.yaml
  datadog/tests/resource_datadog_synthetics_test_test.go
  docs/resources/synthetics_test.md
Labels: changelog/feature, resource/datadog_synthetics_test, mergequeue-status: in_progress

#2972 [datadog_service_level_objective] Add support for default tag
  datadog/fwprovider/framework_provider.go
  datadog/provider.go
  datadog/resource_datadog_service_level_objective.go
  datadog/tests/cassettes/TestAccDatadogServiceLevelObjective_Basic.freeze
  datadog/tests/cassettes/TestAccDatadogServiceLevelObjective_Basic.yaml
  datadog/tests/cassettes/TestAccDatadogServiceLevelObjective_DefaultTags.freeze
  datadog/tests/cassettes/TestAccDatadogServiceLevelObjective_DefaultTags.yaml
  datadog/tests/cassettes/TestAccDatadogServiceLevelObjective_InvalidMonitor.freeze
  datadog/tests/cassettes/TestAccDatadogServiceLevelObjective_InvalidMonitor.yaml
  datadog/tests/cassettes/TestAccDatadogServiceLevelObjective_TimeSlice.freeze
  datadog/tests/cassettes/TestAccDatadogServiceLevelObjective_TimeSlice.yaml
  datadog/tests/resource_datadog_service_level_objective_test.go
  docs/index.md
  docs/resources/service_level_objective.md
Labels: changelog/feature, resource/datadog_service_level_objective

#3016 [Chore] Updated the goreleaser.yml file
  .goreleaser.yml
Labels: changelog/no-changelog
